
.page-container {
    padding-top: 90px;
    padding-bottom: 96px;
    height: 100%;
    display: flex;
    justify-content: center;
    overflow: hidden;
    background:rgba(249,248,246,1);
    .container-wrapper {
	    position: relative;
	    width: 100%;
	    height: 100%;
        overflow: hidden;
    }
}