<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd 
	http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.0.xsd">

	<aop:aspectj-autoproxy />
	
    <bean id="propertyConfigurer" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="locations">
            <list>
               <value>classpath:config/system.properties</value>
            </list>
        </property>
    </bean>
    
    <!-- 切面 -->
	<aop:config>
		<aop:aspect id="logaop" ref="loggerInterceptor">
			<aop:pointcut id="mycut" expression="execution(* com.cmos.chinamobile.media.control..*.* (..)) || execution(* com.cmos.chinamobile.media.service..*.* (..))" />
			<aop:around pointcut-ref="mycut"  method="around"/>
		</aop:aspect>
	</aop:config>
	<bean id="loggerInterceptor" class="com.cmos.core.logger.interceptor.LoggerInterceptor" />  
	    
	<bean id="controlService" class="com.cmos.chinamobile.media.control.impl.ControlServiceImpl">
		<property name="coreControlService" ref="coreControlService" />
	</bean>
</beans>
