

.Page_tools_bar {
	background-color: #DEDEDE;
}
.highlight {
	color: #CC0033;
	font-weight: bold;
}

.TopLineBG {
	background: #FFFFFF;
}

.TopLine_middle_BG {
	background: #DAA500;
}

.TopLineBG1 {
	background: #4294C4;
}

.TopLineBG2 {
	background: #FFB400;
}

.TopLineBG3 {
	background: #9BD60B;
}

.TopLineBG4 {
	background: #00A7FF;
}



.Page_title {
	font-family: ו;
	font-size: 11pt;
	font-weight: bold;
	color: #0A66A0;
}





