#chatlog {
	overflow: auto;
	margin-right:30px;
	width: 100%;
	height: 100%;
	border: 1px solid #ccc;
	vertical-align: top;
	font: 12px arial, helvetica, sans-serif;
}

#chatlog .message {
	border: 0;
	margin: 10px;
}

#chatlog .message .message-head {
	color: #261bf9;
	margin-bottom: 1px;
}

#chatlog .message .message-head .username {
	margin-right: 5px;
}

#chatlog .message .message-content {
	margin-left: 20px;
}

.InputDateStyle {
	BORDER-TOP: #7F9DB9 1px solid;
	BORDER-BOTTOM: #7F9DB9 1px solid;
	BORDER-LEFT: #7F9DB9 1px solid;
	BORDER-RIGHT: #7F9DB9 1px solid;
	width: 76%;
	HEIGHT: auto;
	BACKGROUND-COLOR: #FFFFFF
}