
.ZeppinVideo {
        position: relative;
        width: 100%;
       padding-bottom: 70px;
       overflow:hidden;
    }

.ZeppinVideo .ZeppinVideo_Top {
            width: 100%;
            position: relative;
            background:#333;
        }

.ZeppinVideo .ZeppinVideo_Top video {
                width: 100%;
                font-size:20px;
                cursor:pointer;
                display: block;
/*                 height: 421px; */
            }

.ZeppinVideo .ZeppinVideo_Top b {
                width: 128px;
                height: 128px;
                cursor: pointer;
                left: 50%;
                display: block;
                z-index: 5;
                top: 50%;
                margin-left: -64px;
                margin-top: -64pxs;
                background: url(../images/play_Big.png) no-repeat;
                position: absolute;
                background-size:contain;
            }

.ZeppinVideo .ZeppinVideo_Bottom {
            position: absolute;
            bottom: 0px;
            z-index: 6;
            width: 100%;
            height: 70px;
             background: url(../images/beijing-bottom.png);background-size:100% 100%;
        }

.ZeppinVideo .ZeppinVideo_Bottom .ProgressBar {
                background: rgba(128,128,128,0.5);
                height: 10px;
                width: 100%;
                cursor: pointer;
                position: relative;
            }


.ZeppinVideo .ZeppinVideo_Bottom .ProgressBar .ProgressBarNode {
                    height: 20px;
                    top: 0;
                    z-index: 1;
                    width: 100%;
                    position: absolute;
                }
.ZeppinVideo .ZeppinVideo_Bottom .ProgressBar .ProgressBarNode i.node{ width: 12px;;height: 12px;display: block; border-radius: 6px; background-color: #fff; position: absolute;top: -1px;z-index: 333;}
.ZeppinVideo .ZeppinVideo_Bottom .ProgressBar .ProgressBarNode i.node1{left: 20%;}
.ZeppinVideo .ZeppinVideo_Bottom .ProgressBar .ProgressBarNode i.node2{left: 30%;}
.ZeppinVideo .ZeppinVideo_Bottom .ProgressBar .ProgressBarNode i.node3{left: 70%;}
.ZeppinVideo .ZeppinVideo_Bottom .ProgressBar .ProgressBarNode p.nodeintro{ top: -120px;height: 110px; width:200px;position: absolute; left: -100px;display: none;}
.ZeppinVideo .ZeppinVideo_Bottom .ProgressBar .ProgressBarNode p.nodeintro img{width: 100%;}


.ZeppinVideo .ZeppinVideo_Bottom .ProgressBar .timeBar {
                    height: 10px;
                    top: 0;
                    position: absolute;
                    width: 0px;
                    border-radius:0 5px 5px 0;
                    background: url(../images/jindutiao-color.png);background-size:cover;
                }

.barbar {
 width:100%;
 position:relative;
}
.barbar button {
    width: 31px;
    outline: none;
    height: 29px;
    float: left;
    border: none;
    background: url(../images/volume20160122.png) no-repeat;
    background-size:contain;
}
.barbar button{ width:31px; outline:none; height:29px;float:right;margin-top:15px;  border:none; background:url(../images/voice.png) no-repeat;margin-left: 10px;background-size:contain;}
.barbar button.bglightt{background:url(../images/vioice2.png) no-repeat;background-size:contain;}
.barbar input{ height:3px; float:right;margin-top: 12px;-moz-margin-top:5px; width: 130px;}
.barbar b {
    height: 55px;
    width: 72.5px;
    margin-top:2px;
    margin-left:2px;
    cursor: pointer;
    float: left;
    background: url(../images/stop.png) no-repeat center center;
    background-size:contain;
}

    .barbar b.bglight {
        background: url(../images/play.png) no-repeat center center;
        background-size:contain;
    }


.barbar p {
    width: 20px;
    margin-right:20px;
    height: 20px;
    margin-top:17px;
    background: url(../images/full.png) no-repeat;
    float: right;
    cursor: pointer;
    background-size:contain;
}


.barbar select{  color: #888888; font-size: 18px; float: right; margin-right: 10px;margin-top:15px;margin-left:5px;}
.barbar select option{ background: #FFFFFF; border: none;}
.barbar .currentTime{ color:#fff;font-size:18px;line-height:60px; margin-left:20px;height:60px; float:left;}
.barbar .totleTime{ color:#fff;font-size:18px;line-height:60px;display:inline-block;float:left;margin-right:20px;}


.bg{ background: rgba(0,0,0,0.8); z-index: 3;position: fixed; left: 0; top: 0; overflow: hidden; width: 100%;height: 100%; display: none;}
.showlayer{width:100%;z-index: 4;position: fixed; left: 0; top: 5%;min-width:320px;max-width:750px;background-color:#fff;height: 90%;display: none;}
.showlayer .showlayer_inner{ overflow-y: auto;height: 100%;}

.playAnimate{width: 100%; background:#333333; height:0.47rem;position:relative;background: url(../images/bejing-top.png);background-size:cover;}

.animate{position: absolute;top:0.05rem;color: #333333; padding:0.01rem; font-size: 0.14rem;z-index: 99999; background: url(../images/animateBg.png) no-repeat;background-size:100% 100%; width:1.8rem;}
.animate img{ width:0.36rem; display:inline-block; float:left; max-height:0.36rem; padding:0.05rem;}
.animate span{display:inline-block;float:left; color:#666; width:1.2rem; line-height:0.34rem;font-size:0.2rem;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;}
            
.animation0{
            -webkit-animation: animation1 2.5s ease-in-out infinite alternate;
            -moz-animation: animation1 2.5s ease-in-out infinite alternate;
            -o-animation: animation1 2.5s ease-in-out infinite alternate;
            animation: animation1 2.5s ease-in-out infinite alternate;
        }
        
/* animation0 */
        @-webkit-keyframes animation5 {
            0%{
                left:0%;
            }
            20%{
            	left:36%;
            }
            80%{
            	left:36%;
            }
            100%{
                left:100%;
            }
        }
        @-moz-keyframes animation5 {
           0%{
                left:0%;
            }
            20%{
            	left:36%;
            }
            80%{
            	left:36%;
            }
            100%{
                left:100%;
            }
        }
        @-ms-keyframes animation5 {
           0%{
                left:0%;
            }
            20%{
            	left:36%;
            }
            80%{
            	left:36%;
            }
            100%{
                left:100%;
            }
        }
        @-o-keyframes animation5 {
            0%{
                left:0%;
            }
            20%{
            	left:36%;
            }
            80%{
            	left:36%;
            }
            100%{
                left:100%;
            }
        }
        @keyframes animation5 {
             0%{
                left:0%;
            }
            20%{
            	left:36%;
            }
            80%{
            	left:36%;
            }
            100%{
                left:100%;
            }
        }

 /* animation0 */
        @-webkit-keyframes animation0 {
            0%{
                font-size:0.20rem;
            }
            20%{
            		font-size: 0.24rem;
            }
            30%{
            		font-size: 0.26rem;
            }
            40%{
            		font-size: 0.24rem;
            }
            50%{
            		font-size: 0.28rem;
            }            
            90%{
                font-size:0.20rem;
            }
            100%{
            		font-size: 0.2rem;
            }
        }
        @-moz-keyframes animation0 {
            0%{
                font-size:0.20rem;
            }
            20%{
            		font-size: 0.24rem;
            }
            30%{
            		font-size: 0.26rem;
            }
            40%{
            		font-size: 0.24rem;
            }
            50%{
            		font-size: 0.28rem;
            }            
            90%{
                font-size:0.20rem;
            }
            100%{
            		font-size: 0.2rem;
            }
        }
        @-ms-keyframes animation0 {
            0%{
                font-size:0.20rem;
            }
            20%{
            		font-size: 0.24rem;
            }
            30%{
            		font-size: 0.26rem;
            }
            40%{
            		font-size: 0.24rem;
            }
            50%{
            		font-size: 0.28rem;
            }            
            90%{
                font-size:0.20rem;
            }
            100%{
            		font-size: 0.2rem;
            }
        }
        @-o-keyframes animation0 {
           	0%{
                font-size:0.20rem;
            }
            20%{
            		font-size: 0.24rem;
            }
            30%{
            		font-size: 0.26rem;
            }
            40%{
            		font-size: 0.24rem;
            }
            50%{
            		font-size: 0.28rem;
            }            
            90%{
                font-size:0.20rem;
            }
            100%{
            		font-size: 0.2rem;
            }
        }
        @keyframes animation0 {
            0%{
                font-size:0.20rem;
            }
            20%{
            		font-size: 0.24rem;
            }
            30%{
            		font-size: 0.26rem;
            }
            40%{
            		font-size: 0.24rem;
            }
            50%{
            		font-size: 0.28rem;
            }            
            90%{
                font-size:0.20rem;
            }
            100%{
            		font-size: 0.2rem;
            }
        }


 /* animation1 */
        @-webkit-keyframes animation1 {
            0%{
            		opacity: 1.0;
            }
            50%{
                opacity: 0.5;
            }
            100%{
            		opacity: 1.0;
            }
        }
        @-moz-keyframes animation1 {
            0%{
            		opacity: 1.0;
            }
            50%{
                opacity: 0.5;
            }
            100%{
            		opacity: 1.0;
            }
        }
        @-ms-keyframes animation1 {
            0%{
            		opacity: 1.0;
            }
            50%{
                opacity: 0.5;
            }
            100%{
            		opacity: 1.0;
            }
        }
        @-o-keyframes animation1 {
           	0%{
            		opacity: 1.0;
            }
            50%{
                opacity: 0.5;
            }
            100%{
            		opacity: 1.0;
            }
        }
        @keyframes animation1 {
            0%{
            		opacity: 1.0;
            }
            50%{
                opacity: 0.5;
            }
            100%{
            		opacity: 1.0;
            }
        }

 /* animation2 */
        @-webkit-keyframes animation2 {
            0%{
            		right: -2.0rem;
            }
            20%{
            		right: 2.0rem;
            }
            50%{
                opacity: 0.3;
            }
            100%{
            		opacity: 1.0;
            }
        }
        @-moz-keyframes animation2 {
            0%{
            		opacity: 1.0;
            }
            50%{
                opacity: 0.3;
            }
            100%{
            		opacity: 1.0;
            }
        }
        @-ms-keyframes animation2 {
            0%{
            		opacity: 1.0;
            }
            50%{
                opacity: 0.3;
            }
            100%{
            		opacity: 1.0;
            }
        }
        @-o-keyframes animation2 {
           	0%{
            		opacity: 1.0;
            }
            50%{
                opacity: 0.3;
            }
            100%{
            		opacity: 1.0;
            }
        }
        @keyframes animation2 {
            0%{
            		opacity: 1.0;
            }
            50%{
                opacity: 0.3;
            }
            100%{
            		opacity: 1.0;
            }
        }

@-webkit-keyframes title{
			0%{
				width:0.05rem;
			}
			100%{
				width:1.8rem;
			}
		}
           @-o-keyframes title{
			0%{
				width:0.05rem;
			}
			100%{
				width:1.8rem;
			}
		}
            @-moz-keyframes title{
			0%{
				width:0.05rem;
			}
			100%{
				width:1.8rem;
			}
		}
             @-ms-keyframes title{
			0%{
				width:0.05rem;
			}
			100%{
				width:1.8rem;
			}
		}
		@keyframes title{
			0%{
				width:0.05rem;
			}
			100%{
				width:1.8rem;
			}
		}


@-webkit-keyframes bian {
    from {
        opacity: 0.7;
        -webkit-transform: scale(3) translate3d(0,0,0);
    }

    to {
        opacity: 0;
        -webkit-transform: scale(4) translate3d(0,0,0);
    }
}

@-moz-keyframes bian {
    from {
        opacity: 0.7;
        -moz-transform: scale(3) translate3d(0,0,0);
    }

    to {
        opacity: 0;
        -moz-transform: scale(3) translate3d(0,0,0);
    }
}

@-o-keyframes bian {
    from {
        opacity: 0.7;
        -o-transform: scale(3) translate3d(0,0,0);
    }

    to {
        opacity: 0;
        -o-transform: scale(4) translate3d(0,0,0);
    }
}

@keyframes bian {
    from {
        opacity: 0.7;
        transform: scale(3) translate3d(0,0,0);
    }

    to {
        opacity: 0;
        transform: scale(4) translate3d(0,0,0);
    }
}

.top{position:relative;width:100%;padding-bottom:67.65%;}
.top .cover-img{position:absolute;top:0;left:0;width:100%;height:100%;background-size:cover;background-repeat:no-repeat;}

.top1{padding-bottom:72%;}
.top3{padding-bottom:41.43%;}

.layerDD{background:rgba(0,0,0,0.6);position:absolute;top:0;left:0;z-index:10;display:none;}
#circlr {
  cursor: move;
  margin: 0 auto;
  min-height: 100px;
  position: relative;
}

#circlr #loader {
  background: url(../images/loading-0.gif) center center no-repeat;
  bottom: 0;
  display: none;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.shoppers{ width: 100%; background: #eaeaea;padding:0 5px;box-sizing:border-box;}
.shoppers .shoppersLeft{ width:50%;float: left;}
.shoppers .shoppersLeft h1{ font-size: 18px; color: #000000; line-height: 84px;}
.shoppers .shoppersLeft h6{ font-size: 18px; color: #000000; line-height: 84px;}
.shoppers .shoppersLeft p{ color: #666666; font-size: 12px; line-height: 24px;}
.shoppers p.money{ width: 40%; font-size: 16px; color: #666666; float: left; line-height: 24px;text-align: right;box-sizing: border-box;padding-right: 10px;margin: 24px auto;}
.shoppers p.money span{color: #f19149; font-size: 30px;}
.shoppers p.money img{}
.shoppers a.goBuy{ background-color: #f19149; border-radius: 8px; display: block; float: right; text-align: center; font-size: 20px; color: #FFFFFF; line-height: 48px;width: 10%;margin-top: 18px;text-decoration: none;} 
.shoppers a.goBuy:hover{}
/*a.closebtn{ position: absolute; padding: 0.05rem; z-index: 999;}
a.closebtn img{ width: 100%;}*/
p.leftAndright{ width: 25%; padding-top: 50px; margin: 0 auto;}
p.leftAndright img{ width: 100%;}
.wraps{width:80%;background:#fff;position:relative;box-sizing:content-box;}
.wraps a.closeDD{background: url(../images/close-x.png) center center no-repeat;width:20px;height:20px;background-size:cover;position: absolute;top:3px;right:3px;cursor:pointer;}

#quanping{width: 100%;padding-bottom: 20px;background:#f5f5f5;}
#quanping .quanping-container{max-width: 1120px;}
#smallphoto{width:50%;}
#photo{background:#fff;}
#smallphoto img{width:100%}
#prog{font-size:0;}
iframe{width:100%;border:none;}



