.review{background: #FFFFFF;}
.review .review-container{border-bottom: 1px solid #cccccc;padding-bottom: 10px;}
h1{line-height: 24px;margin: 20px 10px;border-left:6px solid #35a5ee ;padding-left: 10px;}

.videoInfo{width: 100%;padding: 20px 0;background:#f5f5f5;}
.videoInfo .videoInfo-container{max-width: 1120px;}
.videoInfo .videoInfo-container h4{ color: #333333;font-size: 24px;line-height: 60px;padding-left: 10px;}
.videoInfo .videoInfo-container p.intro{color: #666666;font-size: 14px;line-height: 28px;padding-left: 10px;}
.videoInfo .videoInfo-container #container{width: 100%;margin: 0 auto;}
#videoFlash{background: #000000;position:relative;width:100%;overflow:hidden;}
#videoFlash .fullDiv{position:absolute;width:60px;height:35px;right:0;bottom:0;background:#242424;}
#videoFlash .dbfull{position:absolute;width:0px;height:36px;right:0;bottom:0;}

.videoAnimate{position: absolute;bottom:180px;right:-200px;z-index:9;display:none;}
.videoAnimate .imgP{background:rgba(168,217,248,0.99);width:60px;height:60px;border-radius:30px;float:left;z-index:1;}
.videoAnimate .imgP img{ width:40px;max-height:40px;margin:10px;}
.videoAnimate .titleP{background:#000;text-align:left;font-size:14px; word-break:break-all;background:rgba(0,0,0,0.5);color:#fff;float:left;height:40px;line-height:40px;padding:0 10px;border-radius:15px 0 0 15px;margin-top:10px;margin-right:-5px;overflow:hidden;}
.videoAnimate .scale{position: absolute; width:20px;height:20px; border-radius:10px;border:#a8d9f8 1px solid;right:20px;top:20px;z-index:10;}
select{}

@-webkit-keyframes title{
			0%{
				width:5px;
			}
			100%{
				width:180px;
			}
		}
           @-o-keyframes title{
			0%{
				width:5px;
			}
			100%{
				width:180px;
			}
		}
            @-moz-keyframes title{
			0%{
				width:5px;
			}
			100%{
				width:180px;
			}
		}
             @-ms-keyframes title{
			0%{
				width:5px;
			}
			100%{
				width:180px;
			}
		}
		@keyframes title{
			0%{
				width:5px;
			}
			100%{
				width:180px;
			}
		}


@-webkit-keyframes bian {
    from {
        opacity: 0.7;
        -webkit-transform: scale(3) translate3d(0,0,0);
    }

    to {
        opacity: 0;
        -webkit-transform: scale(4) translate3d(0,0,0);
    }
}

@-moz-keyframes bian {
    from {
        opacity: 0.7;
        -moz-transform: scale(3) translate3d(0,0,0);
    }

    to {
        opacity: 0;
        -moz-transform: scale(3) translate3d(0,0,0);
    }
}

@-o-keyframes bian {
    from {
        opacity: 0.7;
        -o-transform: scale(3) translate3d(0,0,0);
    }

    to {
        opacity: 0;
        -o-transform: scale(4) translate3d(0,0,0);
    }
}

@keyframes bian {
    from {
        opacity: 0.7;
        transform: scale(3) translate3d(0,0,0);
    }

    to {
        opacity: 0;
        transform: scale(4) translate3d(0,0,0);
    }
}


		
		#box {
			width: 100%;
			position: relative;
		}
		
		.btn {
			position: absolute;
			top: 200px;
			left: 400px;
			z-index: 999;
		}

