<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>上传视频</title>
<link href="../assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
<link href="../assets/css/style.css" rel="stylesheet" type="text/css" />
<link href="../assets/css/themes/light.css" rel="stylesheet" type="text/css" />
<link href="../assets/css/style-responsive.css" rel="stylesheet" type="text/css" />
<link href="../assets/css/colorbox.css" rel="stylesheet" type="text/css">
<link href="../assets/css/jquery-ui.css" rel="stylesheet" type="text/css" >
<link rel="stylesheet" href="../assets/css/uploadfile.css">
<link rel="stylesheet" href="../assets/css/bootstrap2.css">
<link rel="stylesheet" href="../assets/css/main.css" type="text/css"/>
<link rel="stylesheet" href="../assets/css/columLists.css" type="text/css"/>

<script src="../assets/plugins/jquery.js" type="text/javascript"></script>
<script src="../assets/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
<script src="../assets/plugins/jquery.cokie.min.js" type="text/javascript"></script>
<script src="../assets/scripts/app.js" type="text/javascript"></script>
<script src="../assets/plugins/jquery-ui.js"></script>
<script src="../assets/plugins/url.min.js"></script>
<script src="../assets/plugins/jquery.uploadfile.video.js"></script>
<script src="../assets/plugins/layer-v2.2/layer/layer.js" type="text/javascript"></script>
<script src="../assets/scripts/source-left.js" type="text/javascript"></script>
<script src="../assets/scripts/inputCheck.js" type="text/javascript"></script>

<style type="text/css">
	.content{padding-bottom:30px;}
	.offset7 button{width:90px;font-size:14px;}
	.offset7 button[type="submit"]{background:#3ebef3;color:#fff;}
	.offset7 button[type="submit"]:hover{background:#3ebee9;color:#fff;}
	.offset7 button.btn-default{background:#f1f1f1;color:#000;border:1px solid #fff;}
	.offset7 button.btn-default:hover{background:#f1f1f1;color:#000;border-color:#ccc;}
	.controls input{ height:40px; width:500px;font-size:14px;}
	.controls textarea{ width:500px;height:150px; resize:none;font-size:14px;}
	.content p.title{ color:#428bca; font-size:15px;font-weight:bold;margin:10px 0px;}
	hr{border-top:2px solid #adb5bb;margin:10px 0px;}
	.form-horizontal .tipsTxt{color:#f00;font-size:12px;line-height:40px;margin-left:10px}
</style>
</head>
<body style="min-width:1000px;">
		<!--left-->
<div class="page-container">
    <div class="page-sidebar-wrapper" style="width:210px;float:left;">
        <div class="page-sidebar navbar-collapse" style="width:100%;">
            <ul class="page-sidebar-menu nav" id="page-sidebar-menu">
                <li class="sidebar-toggler-wrapper">
                    <div class="sidebar-toggler hidden-phone"></div>
                </li>
				<li class="leftli open">
                    <a href="javascript:">
                        <i class="fa fa-gears icon-home icon-black"></i><span class="title"> 展示数据管理 </span>
                    </a>
                    <ul class="sub-menu">
                    	<li>
                            <a href="javascript:" onclick="gotoSourceUrl('../views/provinceModule.html');">业务管理</a>
                        </li>
                    	<li>
                            <a href="javascript:" onclick="gotoSourceUrl('../views/categoryList.html');">栏目管理</a>
                        </li>
                        <li style="background:#eee">
                            <a href="javascript:" onclick="gotoSourceUrl('../views/videoList.html');">视频管理</a>
                        </li>
                        <li>
                            <a href="javascript:" onclick="gotoSourceUrl('../views/commodityList.html');">商品管理</a>
                         </li>
                        <li>
                            <a href="javascript:" onclick="gotoSourceUrl('../views/videoPublishList.html');">发布管理</a>
                        </li>
                        <li>
                            <a href="javascript:" onclick="gotoSourceUrl('../views/appList.html');">版本管理</a>
                        </li>
                     </ul>
                </li>
            </ul>
        </div>
    </div>
    <div id="contentIframes" style="min-width:790px;;float:left">
		<div class="page-container">
            <div class="page-content-wrapper">
                <div class="page-content">
					<!--content-->
						<div class="content">
							<p class="title">上传视频 <span id="provinceName"></span></p>
							<hr>
							<div class="ifrcnt container" style="width:100%">
								<div class="bd">
									 <div class="alert alert-danger"
										style="display: none; margin: 0 15px 15px;"></div> 
									<form id="formsubmit" class="form-horizontal" role="form" action="#" method="post">
										<div class="clearfix">
											<div id="HtmlTpl">
												<input type="hidden" name="province">
												<div class="control-group" id="uploadcon" style="border:2px dotted #A5A5C7">
													<div class="controls"style="text-align:center;margin-left: 0px">
														<div id="resourceId"><span>&nbsp;上传视频&nbsp;&nbsp;</span>
														</div>
													</div>
												</div>
												<div id="resourceAdd"></div>
												<div class="control-group">
													<label class="control-label" for="">标题</label>
													<div class="controls">
														<input type="text" class="input-text" id="input-title" length="100" name="title" value=""><span class="write-must">*</span><b class="tipsTxt"></b>
													</div>
												</div>
												
												<div class="control-group">
													<label class="control-label" for="">标签</label>
													<div class="controls">
														<input type="text" class="input-text-nullable" id="input-tag" length="200" name="tag" value=""><b class="tipsTxt"></b>
													</div>
												</div>
												
												<div class="control-group">
													<label class="control-label" for="">描述</label>
													<div class="controls">
														<textarea class="input-text-nullable" id="input-context" length="200" name="context" rows="3"></textarea><b class="tipsTxt"></b>
													</div>
												</div>
												
												<div class="control-group">
													<label class="control-label" for="">来源</label>
													<div class="controls">
														<input type="text" class="input-text-nullable" id="input-source" length="200" name="source" value=""><b class="tipsTxt"></b>
													</div>
												</div>
												
												<div class="control-group">
													<label class="control-label" for="">版权方</label>
													<div class="controls">
														<input type="text" class="input-text-nullable" id="input-copyright" length="200" name="copyright" value=""><b class="tipsTxt"></b>
													</div>
												</div>
												
												<div class="control-group">
													<label class="control-label" for="">作者</label>
													<div class="controls">
														<input type="text" class="input-text-nullable" id="input-author" length="200" name="author" value=""><b class="tipsTxt"></b>
													</div>
												</div>
												
												<div class="control-group">
													<label class="control-label" for="">优先级</label>
													<div class="controls">
														<select name="sequence">
															<option value="1">1</option>
															<option value="2">2</option>
															<option value="3">3</option>
															<option value="4">4</option>
															<option value="5">5</option>
															<option value="6">6</option>
															<option value="7">7</option>
															<option value="8">8</option>
															<option value="9">9</option>
															<option value="10" selected>10</option>
														</select>
														<span class="write-must">*</span>
													</div>
												</div>
												
											</div>
										</div>
						
										<div class="row actionbar">
											<div class="offset7">
												<button class="btn btn-single" type="submit" onclick="buttonType=0">确定</button>
												<button class="btn btn-single" type="submit" onclick="buttonType=1">继续添加</button>
												<button id="colorboxcancel" onclick="backToList();" class="btn btn-default" type="button">返回</button>
											</div>
										</div>
									</form>
								</div>
						
							</div>
						</div>
					<!--content end-->

                </div>
            </div>
            <!-- END CONTENT -->
        </div>
        </div>
</div>
<script src="../assets/scripts/videoAdd.js" type="text/javascript"></script>
</body>
</html>