<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0 ,maximum-scale=1.0, user-scalable=no">
		<title>银行卡</title>
		<link rel="stylesheet" href="./css/base.css?version=1.5" />
		<link rel="stylesheet" href="./css/bankCardList.css?version=1.5" />
	</head>
	<!--<a href="./bankCardDelete.html?uuid={{:uuid}}" class="card-list-box">
		<div class="card-list-item
		{{if (#index+1) % 2 == 1}}
		 bg-red1
		{{else (#index+1) % 2 == 0}}
		bg-blue
		{{/if}}
		{{if (#index+1) % 3 == 0}}
		bg-green
		{{/if}}">
			<p class="name">
				<img src="..{{:iconColor}}" alt="" />
				<span>{{:name}}</span>
			</p>
			<h5 class="type">储蓄卡</h5>
			<h2 class="number">
					****  *****  ****  {{:bankcard}}
			</h2>
		</div>
	</a>-->
	<body>
		<div class="main">
			<div class="card-list">
				
			</div>
			
		</div>
		<div id="modal-box">
			<div class="modal-box-inner">
				<h3>温馨提示</h3>
				<h4></h4>
				<div class="modal-box-inner-btnbox clearfix">
					<input type="button"  value="取消" id="modal-box-close"/>
					<input type="button"  value="确认"/>
				</div>
			</div>
		</div>
		<p class="layer">
			提示信息
		</p>
		
		<div id="loading-box">
			<div class="loading-box-inner">
				<div id="img">
					<img src="./img/loading-new.gif" alt="" />
				</div>
				<!-- <p>加载中...</p> -->
			</div>
		</div>
		<a id="goIndex"></a>
		<script src="./js/auto.js?version=1.5"></script>
		<script src="./js/url.js?version=1.5"></script>
		<script src="./js/cookie.js?version=1.5"></script>
		<script src="./js/url.min.js?version=1.5"></script>
		<script src="./js/base64.js?version=1.5"></script>
		<script src="./js/md5.js?version=1.5"></script>
		<script src="./js/jquery-1.11.1.js?version=1.5"></script>
		<script src="./js/jsrender.min.js?version=1.5"></script>
		<script src="./js/jquery-Tap.js?version=1.5"></script>
		<script src="./js/global.js?version=1.5"></script>
		<script src="./js/modal-In.js?version=1.5"></script>
		<script src="./js/bankCardList.js?version=1.5"></script>
	</body>

</html>