<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>添加商品</title>
<link href="../assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
<link href="../assets/css/style.css" rel="stylesheet" type="text/css" />
<link href="../assets/css/themes/light.css" rel="stylesheet" type="text/css" />
<link href="../assets/css/style-responsive.css" rel="stylesheet" type="text/css" />
<link href="../assets/css/colorbox.css" rel="stylesheet" type="text/css">
<link href="../assets/css/jquery-ui.css" rel="stylesheet" type="text/css" >
<link rel="stylesheet" href="../assets/css/uploadfile_n.css">
<link rel="stylesheet" href="../assets/css/bootstrap2.css">
<link rel="stylesheet" href="../assets/css/main.css" type="text/css"/>
<link rel="stylesheet" href="../assets/css/columLists.css" type="text/css"/>

<script src="../assets/plugins/jquery-2.2.4.min.js" type="text/javascript"></script>
<script src="../assets/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
<script src="../assets/plugins/jquery.cokie.min.js" type="text/javascript"></script>
<script src="../assets/scripts/app.js" type="text/javascript"></script>
<script type="text/javascript" src="../app/js/index.js"></script>
<script src="../assets/plugins/jquery-ui.js"></script>
<script src="../assets/plugins/url.min.js"></script>
<script src="../assets/plugins/jquery.uploadfile.min.js"></script>
<script src="../assets/plugins/layer-v2.2/layer/layer.js" type="text/javascript"></script>
<script src="../assets/scripts/commodityAdd.js" type="text/javascript"></script>
<script src="../assets/scripts/index_bg.js" type="text/javascript"></script>
<style type="text/css">
.nav > li > a{padding-top:15px;font-size:14px;}
.offset7 button{width:90px;font-size:14px;}
.offset7 button[type="submit"]{background:#3ebef3;color:#fff;}
.offset7 button[type="submit"]:hover{background:#3ebee9;color:#fff;}
.offset7 button[type="button"]{background:#f1f1f1;color:#000;}
.offset7 button[type="button"]:hover{background:#f1f1f1;color:#000;border-color:#ccc;}
</style>
</head>
<body>
<div class="header navbar navbar-inverse navbar-fixed-top">
            <!-- BEGIN TOP NAVIGATION BAR -->
	   <div class="header-inner">
	       <!-- BEGIN LOGO -->
	       <a class="navbar-brand" href="javascript:;">
	           <img src="../assets/img/logoBG.png" alt="logo" class="img-responsive" />
	       </a>
	       <!-- END LOGO -->
	
	       <!-- BEGIN TOP NAVIGATION MENU -->
	       <ul class="nav navbar-nav pull-right">
	       		<li><a href="javascript:">欢迎&nbsp;&nbsp;<span id="loginname">秦龙</span>！</a></li>
	       		<li><a href="javascript:"><span id="datafomate">2016年4月27日&nbsp;&nbsp;星期三</span></a></li>
	       		<li><a onclick="logout()" href="../front/admin/user!logout?uid=u0002">退出</a></li>
	           <!-- END USER LOGIN DROPDOWN -->
	       </ul>
	       <!-- END TOP NAVIGATION MENU -->
	   </div>
   <!-- END TOP NAVIGATION BAR -->
</div>
<div class="page-container">
		<div class="page-sidebar-wrapper" style="width:210px;float:left;">
        <div class="page-sidebar navbar-collapse" style="width:100%;">
            <!-- BEGIN SIDEBAR MENU -->
            <ul class="page-sidebar-menu nav" id="page-sidebar-menu">
                <li class="sidebar-toggler-wrapper">
                    <!-- BEGIN SIDEBAR TOGGLER BUTTON -->
                    <div class="sidebar-toggler hidden-phone"></div>
                    <!-- BEGIN SIDEBAR TOGGLER BUTTON -->
                </li>

                <li class="leftli">
                    <a href="javascript:;">
                        <i class="fa fa-gears icon-home icon-black"></i><span class="title"> 资源管理 </span>
                    </a>
                    <ul class="sub-menu">
                        <li>
                            <a href="javascript:" onclick="gotoUrl('../views/categoryList.html');">栏目管理</a>
                        </li>
                        <li>
                            <a href="javascript:" onclick="gotoUrl('../views/videoList.html');">视频管理</a>
                        </li>
                        <li>
                            <a href="javascript:;" onclick="gotoUrl('../views/commodityList.html');">商品管理</a>
                          </li>
                      </ul>
                  </li>

				<li class="leftli">
                      <a href="javascript:;">
                          <i class="fa fa-user icon-home icon-black"></i><span class="title"> 发布管理 </span>
                    </a>
                    <ul class="sub-menu categoryList">
                        <li><a href="javascript:;" onclick="gotoUrl('../views/videoPublishList.html?parent=062b6a49-5332-430a-a91d-1faf040a1c07');">新品发布</a></li>

                    </ul>
                </li>

            </ul>
            <!-- END SIDEBAR MENU -->
        </div>
    </div>
    <div id="contentIframes" style="float:left;">
		<!--left-->
			<div class="page-container">
            <!-- BEGIN CONTENT -->
            <div class="page-content-wrapper">
                <div class="page-content">					
					<!--content-->
						<div class="content">
						<p class="title" style="font-size:16px;line-height:48px;"><a href="../views/commodityList.html">商品管理</a>><span>添加商品</span></p>
							<div class="ifrcnt container" style="width:100%">
								<div class="bd">
									<div class="alert alert-danger"
										style="display: none; margin: 0 15px 15px;"></div>
									<form id="formsubmit" class="form-horizontal" role="form" action="#" method="post">
										<div class="clearfix">
											<div id="HtmlTpl">
												<div class="control-group">
													<label class="control-label" for="">商品名称</label>
													<div class="controls">
														<input type="text" id="" name="name" value=""><span class="alert alert-danger3" style="display: none; margin: 0 15px 15px;"></span>
													</div>
												</div>
												
												<div class="control-group">
													<label class="control-label" for="">原价</label>
													<div class="controls">
														<input type="text" id="" name="originalPrice" value=""><span class="alert alert-danger1" style="display: none; margin: 0 15px 15px;"></span>
													</div>
												</div>
												
												<div class="control-group">
													<label class="control-label" for="">销售价格</label>
													<div class="controls">
														<input type="text" id="" name="price" value=""><span class="alert alert-danger2" style="display: none; margin: 0 15px 15px;"></span>
													</div>
												</div>
												
												<div class="control-group" id="uploadcon1">
													<label class="control-label" for="">封面资源</label>
													<div class="controls">
														<div id="resourceId"><span>&nbsp;选择文件&nbsp;&nbsp;</span>
														</div>
													</div>
												</div>
												<div id="resourceAdd"><input type="hidden" name="cover" value=""></div>
												
												<div class="control-group">
													<label class="control-label" for="">商品URL</label>
													<div class="controls">
														<input type="text" id="" name="url" value=""><span class="alert alert-danger4" style="display: none; margin: 0 15px 15px;"></span>
													</div>
												</div>
												
												<div class="control-group" id="uploadcon2">
													<label class="control-label" for="">商品360度展示</label>
													<div class="controls">
														<div id="resourceId2"><span>&nbsp;选择文件&nbsp;&nbsp;</span>
														</div>
														<span id="i1"></span><span id="i2" style="padding-left:10%;padding-right:10%"></span><span id="i3"></span>
													</div>
												</div>
												<div id="displayAdd"><input type="hidden" name="displays" value="" /></div>
												
											</div>
										</div>
						
										<div class="row actionbar">
											<div class="offset7">
												<button class="btn" type="submit">确定</button>												
												<button class="btn" type="submit" onclick="buttonType=1">继续添加</button>
												<button id="colorboxcancel" onclick="backToList();"
													class="btn btn-default" type="button">返回</button>
											</div>
										</div>
									</form>
								</div>
						
							</div>

						</div>
					<!--content end-->

                </div>
            </div>
            <!-- END CONTENT -->
        </div>
		<!--left end-->
	</div>
			<footer>
		<p style="margin-bottom:0px;">Copyright&copy;2016&nbsp;中移在线服务有限公司&nbsp;版权所有 备案许可证号：豫ICP备15016518号</p>
	</footer>
</div>

</body>
</html>