<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<link href="../assets/css/style.css" rel="stylesheet" type="text/css" />
<link href="../assets/css/themes/light.css" rel="stylesheet" type="text/css" />
<link href="../assets/css/style-responsive.css" rel="stylesheet" type="text/css" />
<link href="../assets/css/colorbox.css" rel="stylesheet" type="text/css">
<link href="../assets/css/jquery-ui.css" rel="stylesheet" type="text/css" >
<link href="../assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" href="../assets/css/ui-dialog.css">
<link rel="stylesheet" href="../assets/css/searchbox.css">
<link rel="stylesheet" href="../assets/css/main.css" type="text/css"/>
<link rel="stylesheet" href="../assets/css/simplePagination.css" type="text/css"/>
<link rel="stylesheet" href="../assets/css/columLists.css" type="text/css"/>

<script src="../assets/plugins/jquery-2.2.4.min.js" type="text/javascript"></script>
<script src="../assets/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
<script src="../assets/plugins/jquery.cokie.min.js" type="text/javascript"></script>
<script src="../assets/scripts/app.js" type="text/javascript"></script>
<script type="text/javascript" src="../app/js/index.js"></script>
<script src="../assets/plugins/jquery-ui.js"></script>
<script src="../assets/plugins/url.min.js"></script>
<script src="../assets/plugins/jquery.colorbox.js"></script>
<script src="../assets/plugins/dialog-min.js"></script>
<script src="../assets/plugins/jquery.simplePagination.js"></script>
<script src="../assets/plugins/jsrender.min.js"></script>
<script src="../assets/plugins/underscore-min.js"></script>
<script src="../assets/scripts/header.js" type="text/javascript"></script>
</head>
<body>
	<div class="header navbar navbar-inverse navbar-fixed-top">
            <!-- BEGIN TOP NAVIGATION BAR -->
            <div class="header-inner">
                <!-- BEGIN LOGO -->
                <a class="navbar-brand" href="javascript:;">
                    <img src="../assets/img/logoBG.png" alt="logo" class="img-responsive" />
                </a>
                <!-- END LOGO -->

                <!-- BEGIN TOP NAVIGATION MENU -->
                <ul class="nav navbar-nav pull-right">
                		<li><a href="javascript:">欢迎&nbsp;&nbsp;<span id="loginname">秦龙</span>！</a></li>
                		<li><a href="javascript:"><span id="datafomate">2016年4月27日&nbsp;&nbsp;星期三</span></a></li>
                		<li><a onclick="logout()" href="../front/admin/user!logout?uid=u0002">退出</a></li>
                    <!-- END USER LOGIN DROPDOWN -->
                </ul>
                <!-- END TOP NAVIGATION MENU -->
            </div>
            <!-- END TOP NAVIGATION BAR -->
        </div>
		<!--head end-->
</body>
</html>