<!DOCTYPE html>
<html>
<head>
<title></title>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<link href="../assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
<link href="../assets/css/style.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" href="../assets/css/bootstrap2.css">
<link rel="stylesheet" href="../assets/css/iframe.css">
<link rel="stylesheet" href="../assets/css/uploadfile_n.css">
<link href="../assets/css/jquery-ui.css" rel="stylesheet" type="text/css" >
<link href="../assets/css/colorbox.css" rel="stylesheet" type="text/css">


<script src="../assets/plugins/jquery-2.2.4.min.js"></script>
<script src="../assets/plugins/jquery-ui.js"></script>
<script src="../assets/plugins/jquery.colorbox.js"></script>

<script src="../assets/plugins/bootstrap/js/bootstrap.min.js"></script>
<script src="../assets/plugins/url.min.js"></script>
<script src="../assets/plugins/mustache.js"></script>
<script src="../assets/plugins/jquery.cokie.min.js"></script>
<script src="../assets/plugins/jquery.uploadfile.min.js"></script>
<script src="../assets/scripts/videoPointEdit.js" type="text/javascript"></script>
<style>
	textarea{resize: none;width: 400px;height: 100px;max-width: 400px;max-height: 100px;font-size:18px;}
	.controls input{width:400px;font-size:18px;}
	.offset7 button{width:90px;font-size:14px;}
	.offset7 button[type="submit"]{background:#3ebef3;color:#fff;}
	.offset7 button[type="submit"]:hover{background:#3ebee9;color:#fff;}
	.offset7 button[type="button"]{background:#f1f1f1;color:#000;}
	.offset7 button[type="button"]:hover{background:#f1f1f1;color:#000;border-color:#ccc;}
</style>
</head>
<body>
	<div class="ifrcnt container">
		<div class="hd">
			<h3>编辑关联商品</h3>
		</div>
		<div class="bd">
			<div class="alert alert-danger"
				style="display:none;margin:0 15px 15px;"></div>
			<form id="formsubmit" class="form-horizontal" role="form" action="#" method="post">
				<input type="hidden" name="id" value="">
				<div class="row">		
					<div id="HtmlTpl" class="span10">
					
					</div>
				</div>
				<script id="DataTpl" type="text/template">
				{{#data}}
				<div class="clearfix">
					<div class="control-group">
						<label class="control-label" for="">帧位图</label>
						<div class="controls">
							<img src="..{{iframePath}}" styly="width:500px">
						</div>
					</div>

					<div class="control-group">
						<label class="control-label" for="">关联商品</label>
						<div class="controls">
							<select name="commodity" id="commoditySelect">
							</select>
						</div>
					</div>
					<input type="hidden"  name="showType" value="1">
					<div class="control-group">
						<label class="control-label" for="">提示内容</label>
						<div class="controls">
							<textarea id="" name="showMessage">{{showMessage}}</textarea>
						</div>
					</div>
					<div class="control-group" id="uploadcon1">
						<label class="control-label" for="">提示banner</label>
						<div class="controls">
							<div id="resourceId"><span>&nbsp;选择文件&nbsp;&nbsp;</span>(支持jpg、png、gif、jpeg格式上传)
								</div>
							<img id="bannerImg" src="..{{showBannerUrl}}" style="max-width:90%;max-height:200px;"><a id="change" style="margin-left: 20px;"><font color=red>X删除</font></a>
						</div>
					</div>
					<div id="resourceAdd"><input type="hidden" name="showBanner" value="{{showBanner}}"></div>
				</div>
				{{/data}}
				</script>
			
				<div class="row actionbar">
					<div class="offset7" style="margin-left:150px;">
						<button class="btn" type="submit">确定</button>
						<button id="colorboxcancel" onclick="parent.$.colorbox.close()"
							class="btn" type="button">取消</button>
					</div>
				</div>
			</form>
		</div>
	</div>
<body>
</html>
