@white-color: #fefffa;

@body-background-color: #e7e7e7;

// font
@main-font-size: 30px;
@font-size-xxs: 24px;
@font-size-xs: 26px;
@font-size-sm: 28px;
@font-size-md: 32px;
@font-size-lg: 34px;

// color
