.basic-header {
  position: fixed;
  left: 0;
  top: 0;
  box-shadow: 0px 1px 4px 0 rgba(0, 0, 0, 0.1);
  z-index: 1000;
  width: 100%;
  color: #000;
  background:linear-gradient(270deg,rgba(255,190,10,1) 0%,rgba(255,205,6,1) 100%);
  height: 88px;
  color: #34332E;
  font-size: 36px;
  text-align: center;
  line-height: 88px;

  img{
    position: absolute;
    left: 16px;
    top: 18px;
    width: 48px;
  }
  // span{
  //   position: absolute;
  //   right: 16px;
  //   top: 0;
  //   font-size: 30px;
  // }
  :global {
    .am-icon-md {
      width: 70px;
      height: 88px;
    }
    .am-navbar-left,.am-navbar-right{
      display: none;
      height: 0% !important;
    }
    .am-navbar-title{
      width: 100%;
      text-align: center;
      height: 88px;
      line-height: 88px;
      position: absolute;
      top: 0;
      font-size: 34px;
      z-index:-1;
    }
  }
}
:global{
  img.ttbf-title-logo{
    position: initial;
    width: 160px;
    height: 40px;
    display: inline-block;
    margin: 24px auto;
  }
  // .am-pull-to-refresh-content-wrapper{
  //   touch-action: none !important;
  // }
}