<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.product.score.mapper.CategoryStandingMapper">
	<select id="getCountByParams" parameterType="java.util.HashMap" resultType="int">
		select count(*) from category_standing where 1=1 
		<if test='category != null and category != ""'>
            and category = #{category}
        </if>
        <if test='team != null and team != ""'>
            and team = #{team}
        </if>
        <if test='season != null and season != ""'>
            and season = #{season}
        </if>
        <if test='round != null and round != ""'>
            and round = #{round}
        </if>
        <choose>
	        <when test='status != null and status != ""'>
	        	and status = #{status}
	        </when>
	        <otherwise>
	        	and status in ('normal','disable')
	        </otherwise>
        </choose>
	</select>
	
	<select id="getListByParams" parameterType="java.util.HashMap" resultType="cn.product.score.entity.CategoryStanding">
		select * from category_standing where 1=1 
		<if test='category != null and category != ""'>
            and category = #{category}
        </if>
        <if test='team != null and team != ""'>
            and team = #{team}
        </if>
        <if test='season != null and season != ""'>
            and season = #{season}
        </if>
        <if test='round != null and round != ""'>
            and round = #{round}
        </if>
        <choose>
	        <when test='status != null and status != ""'>
	        	and status = #{status}
	        </when>
	        <otherwise>
	        	and status in ('normal','disable')
	        </otherwise>
        </choose>
        <choose>
	        <when test='sort != null and sort != ""'>
	        	order by ${sort}
	        </when>
	        <otherwise>
	        	order by place
	        </otherwise>
        </choose>
        <if test="offSet != null and offSet != -1 and pageSize != null and pageSize != -1">
        	limit #{offSet},#{pageSize};
        </if>
	</select>
	
	<delete id="deleteByCategory">
	    delete from category_standing where category = #{category}
	</delete>
</mapper>