<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.product.score.mapper.FrontUserConcernMapper">
	<select id="getCountByParams" parameterType="java.util.HashMap" resultType="int">
		select count(*) from front_user_concern where 1=1 
		<if test='user != null and user != ""'>
            and user= #{user}
        </if>
        <if test='team != null and team != ""'>
            and team= #{team}
        </if>
        <if test='category != null and category != ""'>
            and category like '%${category}%'
        </if>
	</select>
	
	<select id="getListByParams" parameterType="java.util.HashMap" resultType="cn.product.score.entity.FrontUserConcern">
		select * from front_user_concern where 1=1 
		<if test='user != null and user != ""'>
            and user= #{user}
        </if>
        <if test='team != null and team != ""'>
            and team= #{team}
        </if>
        <if test='category != null and category != ""'>
            and category like '%${category}%'
        </if>
        <choose>
	        <when test='sort != null and sort != ""'>
	        	order by ${sort}
	        </when>
	        <otherwise>
	        	order by createtime
	        </otherwise>
        </choose>
        <if test="offSet != null and offSet != -1 and pageSize != null and pageSize != -1">
        	limit #{offSet},#{pageSize};
        </if>
	</select>
</mapper>