<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.product.score.mapper.FrontUserMapper">
	<select id="getCountByParams" parameterType="java.util.HashMap" resultType="int">
		select count(*) from front_user where 1=1 
		<if test='nuuid != null and nuuid != ""'>
            and uuid != #{nuuid}
        </if>
        <if test='realname != null and realname != ""'>
            and realname like '%${realname}%'
        </if>
		<if test='mobile != null and mobile != ""'>
            and mobile like '%${mobile}%'
        </if>
        <if test='idcard != null and idcard != ""'>
            and idcard like '%${idcard}%'
        </if>
		<if test='status != null and status != ""'>
            and status= #{status}
        </if>
	</select>
	
	<select id="getListByParams" parameterType="java.util.HashMap" resultType="cn.product.score.entity.FrontUser">
		select * from front_user where 1=1 
		<if test='nuuid != null and nuuid != ""'>
            and uuid != #{nuuid}
        </if>
        <if test='realname != null and realname != ""'>
            and realname like '%${realname}%'
        </if>
		<if test='mobile != null and mobile != ""'>
            and mobile like '%${mobile}%'
        </if>
        <if test='idcard != null and idcard != ""'>
            and idcard like '%${idcard}%'
        </if>
		<if test='status != null and status != ""'>
            and status= #{status}
        </if>
        <choose>
	        <when test='sort != null and sort != ""'>
	        	order by ${sort}
	        </when>
	        <otherwise>
	        	order by createtime
	        </otherwise>
        </choose>
        <if test="offSet != null and offSet != -1 and pageSize != null and pageSize != -1">
        	limit #{offSet},#{pageSize};
        </if>
	</select>
</mapper>