<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.product.score.mapper.FrontUserHistoryMapper">
	
	<select id="getCountByParams" parameterType="java.util.HashMap" resultType="int">
		select count(*) from front_user_history where 1=1 
		<if test='frontUser != null and frontUser != ""'>
            and front_user= #{frontUser}
        </if>
        <if test='capitalAccount != null and capitalAccount != ""'>
            and capital_account= #{capitalAccount}
        </if>
        <if test='operator != null and operator != ""'>
            and operator= #{operator}
        </if>
        <if test='type != null and type != ""'>
            and type= #{type}
        </if>
        <if test='checkline != null and checkline != ""'>
            and <![CDATA[ pay < #{checkline} ]]>
        </if>
        <if test='timeout != null'>
            and <![CDATA[ createtime < #{timeout} ]]>
        </if>
        <if test='orderType != null and orderType != ""'>
            and order_type= #{orderType}
        </if>
		<if test='status != null and status != ""'>
            and status= #{status}
        </if>
	</select>
	
	<select id="getListByParams" parameterType="java.util.HashMap" resultType="cn.product.score.entity.FrontUserHistory">
		select * from front_user_history where 1=1 
		<if test='frontUser != null and frontUser != ""'>
            and front_user= #{frontUser}
        </if>
        <if test='capitalAccount != null and capitalAccount != ""'>
            and capital_account= #{capitalAccount}
        </if>
        <if test='operator != null and operator != ""'>
            and operator= #{operator}
        </if>
        <if test='type != null and type != ""'>
            and type= #{type}
        </if>
        <if test='checkline != null and checkline != ""'>
            and <![CDATA[ pay < #{checkline} ]]>
        </if>
        <if test='timeout != null'>
            and <![CDATA[ createtime < #{timeout} ]]>
        </if>
        <if test='orderType != null and orderType != ""'>
            and order_type= #{orderType}
        </if>
		<if test='status != null and status != ""'>
            and status= #{status}
        </if>
        <choose>
	        <when test='sort != null and sort != ""'>
	        	order by ${sort}
	        </when>
	        <otherwise>
	        	order by createtime desc
	        </otherwise>
        </choose>
        <if test="offSet != null and offSet != -1 and pageSize != null and pageSize != -1">
        	limit #{offSet},#{pageSize};
        </if>
	</select>
	
	<select id="getStatusList" resultType="cn.product.score.vo.back.StatusCountVO">
		select status, count(*) as count from front_user_history where 1=1 and status != 'delete'
		<if test='type != null and type != ""'>
            and type= #{type}
        </if>
		group by status
	</select>
</mapper>