<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.product.score.mapper.GuessingMatchMapper">
	
	<select id="getCountByParams" parameterType="java.util.HashMap" resultType="int">
		select count(*) from guessing_match where 1=1 
		
		<choose>
	        <when test='status != null and status != ""'>
	        	and status = #{status}
	        </when>
	        <otherwise>
	        	and status != 'delete'
	        </otherwise>
        </choose>
	</select>
	
	<select id="getListByParams" parameterType="java.util.HashMap" resultType="cn.product.score.entity.GuessingMatch">
		select * from guessing_match where 1=1 
		
		<choose>
	        <when test='status != null and status != ""'>
	        	and status = #{status}
	        </when>
	        <otherwise>
	        	and status != 'delete'
	        </otherwise>
        </choose>
        <choose>
	        <when test='sort != null and sort != ""'>
	        	order by ${sort}
	        </when>
	        <otherwise>
	        	order by sort
	        </otherwise>
        </choose>
        <if test="offSet != null and offSet != -1 and pageSize != null and pageSize != -1">
        	limit #{offSet},#{pageSize};
        </if>
	</select>
	
	<select id="getStatusList" parameterType="java.util.HashMap" resultType="cn.product.score.vo.back.StatusCountVO">
		select status, count(*) as count from guessing_match where 1=1 and status != 'delete'
		<if test='creator != null and creator != ""'>
            and creator = #{creator}
        </if>
        group by status
	</select>
	
	<select id="getWaitingMatchList" resultType="cn.product.score.entity.GuessingMatch">
		select * from (
			select distinct gm.* ,MAX(gmt.endtime) as maxtime
			from guessing_match gm 
			left join guessing_match_type gmt on gmt.guessing_match = gm.uuid
			where gm.status = 'publish'
			group by gm.uuid
		) as matchs
		WHERE NOW() > maxtime and NOW() > time 
	</select>
</mapper>