<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.product.score.mapper.InfoCoachesMapper">
	<resultMap id="BaseResultMap" type="cn.product.score.entity.InfoCoaches">
		<id column="uuid" jdbcType="VARCHAR" property="uuid" />
		<result column="name" jdbcType="VARCHAR" property="name" />
		<result column="cnname" jdbcType="VARCHAR" property="cnname" />
		<result column="country" jdbcType="VARCHAR" property="country" />
		<result column="age" jdbcType="VARCHAR" property="age" />
		<result column="creator" jdbcType="VARCHAR" property="creator" />
		<result column="status" jdbcType="VARCHAR" property="status" />
		<result column="createtime" jdbcType="TIMESTAMP" property="createtime" />
	</resultMap>
	
	<select id="getCountByParams" parameterType="java.util.HashMap" resultType="int">
		select count(*) from info_coaches where 1=1 
		<if test="name != null and name != ''">
            and name= #{name}
        </if>
		<if test="status != null and status != ''">
            and status= #{status}
        </if>
	</select>
	
	<select id="getListByParams" parameterType="java.util.HashMap" resultType="cn.product.score.entity.InfoCoaches">
		select * from info_coaches where 1=1 
		<if test="name != null and name != ''">
            and name= #{name}
        </if>
		<if test="status != null and status != ''">
            and status= #{status}
        </if>
        <choose>
	        <when test="sort != null and sort != ''">
	        	order by ${sort}
	        </when>
	        <otherwise>
	        	order by createtime
	        </otherwise>
        </choose>
        <if test="offSet != null and offSet != -1 and pageSize != null and pageSize != -1">
        	limit #{offSet},#{pageSize};
        </if>
	</select>
</mapper>