<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.product.score.mapper.MenuMapper">
	<select id="getCountByParams" parameterType="java.util.HashMap" resultType="int">
		select count(*) from menu where 1=1 
		<if test='level != null and level != ""'>
            and level= #{level}
        </if>
		<if test='parent != null and parent != ""'>
            and parent= #{parent}
        </if>
        <if test='name != null and name != ""'>
            and name= #{name}
        </if>
   		<if test='names != null and names != ""'>
            and name like '%${names}%'
        </if>
	</select>
	
	<select id="getListByParams" parameterType="java.util.HashMap" resultType="cn.product.score.entity.Menu">
		select * from menu where 1=1 
		<if test='level != null and level != ""'>
            and level= #{level}
        </if>
		<if test='parent != null and parent != ""'>
            and parent= #{parent}
        </if>
        <if test='name != null and name != ""'>
            and name= #{name}
        </if>
   		<if test='names != null and names != ""'>
            and name like '%${names}%'
        </if>
        <choose>
	        <when test='sort != null and sort != ""'>
	        	order by ${sort}
	        </when>
	        <otherwise>
	        	order by level,sort
	        </otherwise>
        </choose>
        <if test="offSet != null and offSet != -1 and pageSize != null and pageSize != -1">
        	limit #{offSet},#{pageSize};
        </if>
	</select>
	
	<select id="getListByRole" parameterType="java.util.HashMap" resultType="cn.product.score.entity.Menu">
        select m.*
        from menu m 
        left join role_menu rm on m.uuid = rm.menu
        where 1=1
        <if test='role != null and role != ""'>
            and rm.role= #{role}
        </if>
		<if test='level != null and level != ""'>
            and m.level= #{level}
        </if>
        <if test='name != null and name != ""'>
            and m.name= #{name}
        </if>
        group by m.uuid
        order by m.level,m.sort asc
    </select>
</mapper>