<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8"/>
<title>404 错误</title>
<link href="../assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
<link href="../assets/css/pages/error.css" rel="stylesheet" type="text/css"/>
<style type="text/css">
*{font-family:'Open Sans', sans-serif !improtant;}
</style>
</head>

<body class="page-404-full-page">
    <div class="row">
        <div class="col-md-12 page-404">
            <div class="number">404</div>
            <div class="details">
                <h3>找不到当前页面</h3>
                <p>
                   	找不到当前页面
                </p>
            </div>
        </div>
    </div>

</body>
</html>