<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8"/>
<title>500 错误</title>
<link href="../assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
<link href="../assets/css/pages/error.css" rel="stylesheet" type="text/css"/>
<style type="text/css">
*{font-family:'Open Sans', sans-serif !improtant;}
</style>
</head>

<body class="page-500-full-page">
<div class="row">
	<div class="col-md-12 page-500">
		<div class=" number">
			 500
		</div>
		<div class=" details">
			<h3>服务器错误</h3>
			<p>
				 服务器错误
			</p>
		</div>
	</div>
</div>

</body>
</html>