<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>视频播放页面</title>
<link rel="stylesheet" href="../assets/css/flash.css" />
</head>
<body>
<div id="videoFlash"><div id="a1"></div><div class="fullDiv"></div></div>



<script src="../assets/plugins/jquery.js" type="text/javascript"></script>
<script type="text/javascript" src="../assets/plugins/url.min.js" ></script>
<script type="text/javascript" src="../assets/ckplayer/ckplayer.js" charset="utf-8"></script>
<script type="text/javascript" src="../assets/plugins/layer-v2.2/layer/layer.js" charset="utf-8"></script>
<script src="../assets/scripts/flash.js" type="text/javascript"></script>
</body>
</html>