<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>关联商品</title>
<link href="../assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
<link href="../assets/css/style.css" rel="stylesheet" type="text/css" />
<link href="../assets/css/themes/light.css" rel="stylesheet" type="text/css" />
<link href="../assets/css/style-responsive.css" rel="stylesheet" type="text/css" />
<link href="../assets/css/colorbox.css" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="../assets/css/columLists.css" type="text/css"/>
<link rel="stylesheet" href="../assets/css/main.css" type="text/css"/>
<link rel="stylesheet" href="../assets/css/connectionGoods.css" type="text/css"/>

<script src="../assets/plugins/jquery.js" type="text/javascript"></script>
<script src="../assets/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
<script src="../assets/scripts/app.js" type="text/javascript"></script>
<script src="../assets/plugins/jquery.cokie.min.js" type="text/javascript"></script>
<script type="text/javascript" src="../assets/scripts/main.js"></script>
<script src="../assets/scripts/connectionGoods.js" type="text/javascript"></script>
<script src="../assets/plugins/url.min.js"></script>
<script src="../assets/plugins/jquery.colorbox.js"></script>
</head>
<body style="min-width:1000px;">
<div class="page-container">
    <div id="contentIframes" style="min-width:790px;">
			<div class="page-container">
            <!-- BEGIN SIDEBAR -->
            <!-- END SIDEBAR -->
            <div class="page-content-wrapper">
                <div class="page-content">
                <a href="../views/videoList.html" class="linkAddress">&nbsp;资源列表&nbsp;</a>><a class="linkAddress">&nbsp;关联商品</a>
            <div id="contents">           
			<div class="content_inners">
				
				<!--视频内容部分-->
				<div class="videoContent">
					<p class="videoTitle"  id="videoTitle"></p>
					<div class="ZeppinVideo" style="position:relative;">
		                <div class="ZeppinVideo_Top" id="ZeppinVideo_Top">
		                
		                </div>
		                <div class="ZeppinVideo_Bottom">
		                    <div class="Progress">
		                   		<div class='progressQQ' id="progressPoint"></div>
		                   		<div class='timeBar'></div>
		                   	</div>
		                    <div class="kongzhianniu">
		                    	<b class="bgligh"></b>
		                    	<button></button>
		                    	<input min="0" max="1" step="0.1" type="range">
		                    	<p></p>
		                    </div>
		                </div>
		            </div>					
				</div>
				
				<!--视频内容部分结束-->

				<!--视频节点图片-->
				<div class="picbox">
					<ul class="picbox_inner">
						<li><img id="iframeImg_1" src="" name="" alt="视频节点"><span id="iframeSpan_1" name=""></span></li>
						<li><img id="iframeImg_2" src="" name="" alt="视频节点"><span id="iframeSpan_2" name=""></span></li>
						<li><img id="iframeImg_3" src="" name="" alt="视频节点"><span id="iframeSpan_3" name=""></span></li>
						<li><img id="iframeImg_4" src="" name="" alt="视频节点"><span id="iframeSpan_4" name=""></span></li>
						<li><img id="iframeImg_5" src="" name="" alt="视频节点"><span id="iframeSpan_5" name=""></span></li>
						<li><img id="iframeImg_6" src="" name="" alt="视频节点"><span id="iframeSpan_6" name=""></span></li>
					</ul>
				</div>			
				<!--视频节点图片结束-->
				<a class="btn btn-default btn-create"  id="addButton" onclick="videoPointAdd()" href="">添加视频点位</a>
				<!--商品关联信息列表-->
				<p class="listTitle">商品关联信息列表</p>
				<table class="table" id="pointTable">

				</table>
				<!--商品关联信息列表结束-->
			</div>			
		</div>
		</div>
		</div>
	</div>
	</div>
</div>
<script src="../assets/scripts/videoPoint.js" type="text/javascript"></script>

</body>
</html>
