.evaluationCount{
    color:#5fb752;
    font-weight: bold;
}
h3{
    font-size: 20px !important;
}
.number{
    width: 60px;
    height: 70px;
    line-height: 70px;
    font-size: 22px;
    border: 3px solid #b71c22;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
}
.trainingLink{
    font-size: 14px;
    line-height: 26px;
    color: #449be2;
}
.store{
    margin-bottom: 15px;
    padding-left: 0 !important;
    padding-right: 0 !important;
}
.evaluationBtn{
    margin-left: 20px;
    background-color: #449be2;
    color: #fff;
    width:90px;
    height:30px;
    padding-top:4px !important;
}
.evaluationBtn:hover,
.evaluationBtn:visited,
.evaluationBtn:focus {
    background-color: #2b78b8;
    color: #fff !important;
}
.fa{
    font-size: 18px !important;
    line-height: 18px;
    line-height: 34px;
}
.fa-star, .fa-star-half-o{
    color: #fdd001;
}