.iconDiv{position: absolute;right:45px;z-index:30;top:0px;}
.iconDiv a{position: relative;text-align:center;font-size:24px;color:#4365be;margin:0 8px;padding:0;}
.iconDiv a:active{box-shadow:none !important;}
.iconDiv a:focus{outline:none !important;}
.iconDiv span{display:block;line-height:23px;text-align:center;width:60px;}
.iconDiv span:hover b{color:#4365be;}
.iconDiv span b{font-weight:normal;font-size:14px;display:block;padding:0px 5px;width:auto;color:#4365be;}
.iconDiv span b:hover{color:#4365be;}
.iconDiv p{color:#fff;font-size:12px;text-align:center;border-radius:4px;width:105px;margin:0;line-height:30px;position: absolute;top:40px;z-index:20;left:-24px;display:none;}
.iconDiv p img{position: relative;top:1px;display:block;width:15px;left:47px;}
.iconDiv p b{display:block;font-weight:normal;background:#428bca;/* background:rgba(66,139,202,0.6); */border-radius:3px;}
.iconDiv span img{height:24px;width:auto;}
.noticeDiv{border:1px solid #e6e6e6;padding-bottom:40px}
.noticeDiv p.bg{background:#e8eff5;height:45px;border-bottom:1px solid #e6e6e6;}
.noticeDiv p.title{color:#333333;padding:30px 0 0px 0;line-height:36px;font-size:15px;}
.noticeDiv p.letterType{color:#999;}
.noticeDiv p.content{line-height:24px;color:#999999;padding:0 100px;margin-bottom:0;}
.noticeDiv p.cards{margin:10px 0;text-indent:2em;}
.inscribeDiv{float:right;}

.attachmentDiv{padding:20px;border:1px solid #d0d0d0;border-radius:20px;margin:40px 20px 20px 20px;position:relative;display:none;}
.attachmentDiv div{position:absolute;top:-10px;background:#fff;left:40px;font-size:15px;padding:0 5px;}
.attachmentDiv p{color:#666;margin:13px 0;}
.attachmentDiv b{font-weight:normal;}
.attachmentDiv a{color:#bfbfbf;margin-left:10px;display:none;}
.attachmentDiv a:hover{color:#666;}

.reply{padding:20px;border:1px solid #d0d0d0;border-radius:20px;margin:40px 20px 20px 20px;position:relative;}
.reply b{position:absolute;top:-10px;background:#fff;left:40px;font-size:15px;padding:0 5px;font-weight:normal;}
.avatars{padding:9px;float:left;}
.avatars img{width:25px;}
.contentDivs{float:left;border-bottom:1px solid #e6e6e6;padding-bottom:20px;}
.identitys{color:#bfbfbf;font-size:14px;line-height:25px;padding-top:10px;float:left;}
.dataBox{float:right;color:#bfbfbf;padding-top:10px;line-height:25px;}
.deleteChild{color:#bfbfbf;margin-right:10px;cursor:pointer;display:none;}
.deleteChild:hover{color:#666;}
.clamp{display: -webkit-box;-webkit-box-orient: vertical;-webkit-line-clamp: 2;word-break: break-all;overflow: hidden;}
.clear{clear:both;}