body {
    height: 100%;
    /*Image only BG fallback*/
    font-family: "Hiragino Sans GB", "Microsoft YaHei",
    "WenQuanYi Micro Hei", sans-serif;;
    background-color: initial;
    background-image: url(../images/index/background-bg1.png);
    background-repeat: repeat-x;
    background-position: center top;
    color: #5f5d5d;
    font-size: 13px;
}

.main{
    padding: 0 50px 50px 50px;
    background-color: #fff;
}
.row{
    margin-right: 0 !important;
    margin-left: 0 !important;
}
.subnav{
    padding: 0;
    margin-top: 40px;
}
.avatarBox{
    float: left;
    width: 80px;
    height: 80px;
    margin:0 30px 10px 0;
}
.name{
    font-size: 15px;
}
.modify{
    float: left;
}
.modify > a{
    color: #5f5d5d;
    font-size: 13px;
    margin-right: 20px;
}
.modify > .active{
    color: #f6ae45;
}
.date{
    float: right;
}
.content{
    background-color: #fefefe;
    margin-top: 30px;
    margin-bottom: 30px;
    padding-bottom: 30px;
}
.title{
    font-size: 18px;
    height: 50px;
    padding-top: 20px;
}
.form-horizontal{
    margin-top: 50px;
}
.btn{
    width: 240px;
    height: 40px;
    color: #fff;
    margin-top: 40px;
    background-color: #b81c22;
}
.btn:hover,.btn:focus{
    color:#fff !important;
    background-color: #a80000;
}
.errorInfo{
    display: none;
    color: #b81c22;
    float: left;
    font-size: 12px;
}