@CHARSET "UTF-8";
.content-inner{
	background: #FFF;
    padding: 20px 40px;	
}
.content-head {
	width: 100%;
	height: 50px;
	background: #fee2a8;
	padding:10px 25px 10px 25px;
	line-height:30px;
}

.content-head p {
	opacity: 0.8;
	font-size: 18px;
	color: #2B2B2B;
	margin-top:3px;
	display: inline-block;
}



.content-head button {
	width: auto;
	height: auto;
	margin:0 0 0 20px;
	float: right;
	font-size: 14px;
	color: #FFFFFF;
	border:none;
	cursor:pointer;
}

.content-head button {
	padding: 4px 11px;
	background: #ffb822;
	border-radius: 5px;
}
.content-head button:hover{
	background: #f4ac10;
}

/* .content-head button.all-select-button {
	padding: 4px 11px;
	background: #4D9CFE;
	border-radius: 5px;
} */

.contain-body {
	width: 100%;
	padding:20px 0;
}

.contain-body>div {
	height: 400px;
	display: inline-block;
	overflow-y: scroll;
}

.contain-body ul {
	margin: 0;
}
#left-ul{
	
}

.contain-body .contain-body-left,.contain-body-right {
	width: 31%;
	float: left;
	background: rgba(63, 63, 63, 1);
	border-radius: 4px;
	margin-right:3%;
}

.contain-body li {
	height: 40px;
	text-align: left;
	line-height: 40px;
	margin:10px 0;
}
.contain-body li:hover{
	background-color:rgba(151, 151, 151, 1);
}
.contain-body span {
	opacity: 0.9;
	font-size: 16px;
	color: #fff;
	margin-left: 10px
}

/* .contain-body .contain-body-left li.selected {
	color: #ffb822;
} */

.contain-body li.selected span {
	color: #ffb822;
	opacity: 1;
}

/* .contain-body .contain-body-right {
	width: 30%;
	float: left;
	background: rgba(63, 63, 63, 1);
	margin-left:20px;
	border-radius: 4px;
} */

/* .contain-body .contain-body-right li {
	height: 60px;
	text-align: left;
	line-height: 60px;
} */

.contain-body .contain-body-right span {
	font-size: 16px;
	color: #ffb822;
	margin-left: 10px
}

.contain-body>div::-webkit-scrollbar {
	width: 14px;
}

.contain-body>div::-webkit-scrollbar-button {
	display: none
}

.contain-body>div::-webkit-scrollbar-track {
	 -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
    background:#EEEEEE;
	border-radius:0px 2px 2px 0px;
}

.contain-body>div::-webkit-scrollbar-thumb {
	border-radius:4px;
    background: #3F3F3F;
    background-clip:padding-box;
}

.contain-body .checkbox-img {
	background: #fff;
	background-image: url(../img/Oval.png);
	background-repeat: no-repeat;
	background-size: 16px 16px;
	display: inline-block;
	margin: 0 0 2px 25px;
	height: 16px;
	width: 16px;
	border-radius: 9px;
	vertical-align: sub;
}

.contain-body li.selected .checkbox-img {
	background-image: none;
}

.contain-body input[name="controller"]:checked+label {
	background-image: url(../img/children_selected.png);
}

/* .contain-body .contain-body-left li.selected input[name="controller"]:checked+label {
	background-image: url(../img/parent_selected.png);
} */

.contain-body input[name="menu"]:checked+label {
	background-image: url(../img/children_selected.png);
}

/* .contain-body .contain-body-left li.selected input[name="menu"]:checked+label {
	background-image: url(../img/parent_selected.png);
} */

/* .contain-body .contain-body-right .checkbox-img {
	background: #fff;
	background-image: url(../img/Oval.png);
	background-repeat: no-repeat;
	background-size: 16px 16px;
	display: inline-block;
	margin: 0 0 0 25px;
	height: 16px;
	width: 16px;
	border-radius: 9px;
}
 */
.contain-body input[name="method"]:checked+label {
	background-image: url(../img/children_selected.png);
}

.contain-body input[name="menu"]:checked+label {
	background-image: url(../img/children_selected.png);
}
.hidden {
  display: none !important;
  visibility: hidden !important;
}


