.code-button {
  display: inline-block;
  width: 160px;
  height: 60px;
  line-height: 60px;
  font-size: 29px;
  font-weight: 500;
  color: #FFE8A7 !important;
  text-align: center;
  font-size: 28px;
}
:global{
  .sure-send{
    color: #FFBE0A !important;
  }
}
