.text_box {
    border: 1px solid #E6E6E6;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    padding: 15px 10px;
    margin-top: 20px;
    -webkit-box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
    -ms-box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
    -o-box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
}

.text_title {
    font-size: 16px;
    color: #737373;
    margin: 0;
}

.color_red {
    color: #E0615F;
}

.color_green {
    color: green;
}

.color_orange {
    color: orange;
}

.color_gray {
    color: #c1c1c1;
}

.name_color_gray {
    color: #767676;
}

.tip_bg_gray {
    background: #767676;
}

.color_blue {
    color: #4990E2;
}

.bg_gray {
    background: #e6e6e6;
}

.bg_green {
    background: green;
}

.bg_orange {
    background: orange;
}

.margin_r {
    margin-right: 15px;
}

.bg_black {
    background: #000000;
}

.bg_blue {
    background: #4990E2;
}

.tr_bg_blue {
    background: #F7FBFF;
}

/*分页样式*/

#pageTool {
    margin-top: 10px;
}

/*账户信息类*/

.account_message {
    width: 100%;
    position: relative;
}

.message_item {
    margin-bottom: 15px;
}

.message_item i {
    color: #E0615F;
}

.message_item span {
    font-size: 14px;
    padding: 5px 10px 5px 3px;
    text-align: right;
    display: inline-block;
    width: 110px;
}

.message_item p {
    margin: 0;
    font-size: 14px;
    padding: 5px 10px 5px 3px;
    display: inline-block;
}

/*审核弹窗*/

.popover {
    width: 220px;
    margin-left: -30px;
    top: 40px !important;
    left: -95px !important;
    text-align: center !important;
}

.open {
    display: block !important;
}

.popover-content {
    padding: 9px 14px;
}

.popover input {
    margin: 0px !important;
}

.popover .btn {
    width: auto;
    height: auto;
    padding: 4px 11px !important;
    font-size: 14px;
    margin: 5px 5px !important;
}

.auditing_check {
    width: 100px;
    height: 35px;
    display: inline-block;
    color: #4D9CFF;
    border: 1px solid #4D9CFF;
    background: #FFFFFF;
    -webkit-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    font-size: 16px;
    line-height: 35px;
    text-align: center;
    margin-right: 20px;
}

.auditing_check:hover {
    background: #4D9CFF;
    color: #FFFFFF;
}

.auditing_box p {
    margin: 0;
}

.auditing_box p input {
    width: 188px;
}

.auditing_box div button {
    width: auto;
    height: auto;
    padding: 4px 11px;
    margin: 5px;
}

/**/

.uploadSrc {
    float: left;
    position: relative;
    z-index: 19891014;
    width: 200px;
    height: 200px;
    margin-right: 10px;
    margin-bottom: 10px;
}

.uploadImg {
    width: 200px;
    height: 200px;
}

.ajax-file-upload {
    min-height: 150px !important;
    height: auto !important;
    overflow: default !important;
}

/**/

.right_box {
    width: 80%;
    vertical-align: top;
    margin: 0 0 0 10px;
    display: inline-block;
}