* {
    margin: 0 auto;
    padding: 0;
    /* font-family:"Hiragino Sans GB", "Microsoft YaHei","WenQuanYi Micro Hei", sans-serif; */
}

body {
    background: #f2f2f2;
    font-family: 'SourceSansPro-Ea2f666e566995';
    min-width: 1212px;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    cursor: pointer !important;
    text-decoration: none !important;
}

.clear {
    clear: both;
}

label {
    font-weight: normal;
}

/*btn*/

.btn {
    width: 100px;
    height: 35px;
    text-align: center;
    border-radius: 5px;
    color: #fff;
    font-size: 16px;
    margin: 20px 25px;
    /*font-weight: lighter;*/
}

.sureBtn {
    background: #4D9CFE;
}

.sureBtn:hover {
    background-color: #4a95f2;
    color: #fff;
}

.cancleBtn {
    background: #CFCFCF;
}

.cancleBtn:hover {
    background: #d4d2d2;
    color: #fff;
}

/*header*/

.header {
    height: 70px;
    background: #FFFFFF;
}

.header .header-left {
    float: left;
}

.header .header-left h1 {
    font-weight: normal;
    width: 220px;
    margin: 0;
    background: #222222;
    height: 70px;
    line-height: 70px;
    font-size: 30px;
    color: #FFFFFF;
    float: left;
}

.header .header-left h1 img {
    width: 130px;
    margin-top: 18px;
}

.header .header-left p {
    font-size: 18px;
    color: rgba(0, 0, 0, 0.5);
    float: left;
    margin: 23px 0 22px 35px;
}

.header .header-right {
    float: right;
    color: #a7a6a5;
}

.header .header-right span {
    display: inline-block;
    margin: 23px 50px 22px 0;
    font-size: 18px;
    padding-left: 24px;
    cursor: pointer;
}

.header .header-right span a {
    color: rgba(0, 0, 0, 0.5);
}

.header .header-right .modifyPassword {
    background: url(../img/modifyPassword.png) left center no-repeat;
}

.header .header-right .layout {
    background: url(../img/layout.png) left center no-repeat;
}

.header .header-right .modifyPassword:hover {
    background: url(../img/modifyPassword-active.png) left center no-repeat;
}

.header .header-right .modifyPassword:hover a {
    color: rgba(77, 156, 254, 0.69);
}

.header .header-right .layout:hover {
    background: url(../img/layout-active.png) left center no-repeat;
}

.header .header-right .layout:hover a {
    color: rgba(77, 156, 254, 0.69);
}

.contain {
    overflow: hidden;
}

.contain .contain-left {
    width: 220px;
    background: #222222;
    float: left;
    padding-bottom: 20px;
    position: absolute;
    top: 70px;
    left: 0;
    -webkit-border-bottom-left-radius: 5px;
    -moz-border-bottom-left-radius: 5px;
    -ms-border-bottom-left-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
    -moz-border-bottom-right-radius: 5px;
    -ms-border-bottom-right-radius: 5px;
}

.contain .contain-left h1 {
    font-size: 30px;
    color: #FFFFFF;
    line-height: 42px;
    padding: 14px 0;
    text-align: center;
    font-weight: normal;
    background: #141414;
    margin: 0;
}

.contain .contain-left .userInfo {
    padding: 40px 0 18px 0;
    text-align: center;
}

.contain .contain-left .userInfo img {
    width: 80px;
}

.contain .contain-left .userInfo p {
    font-size: 18px;
    color: rgba(255, 255, 255, 0.65);
    line-height: 23px;
    margin-top: 20px;
    font-weight: lighter;
}

.contain .contain-left li a {
    font-weight: lighter;
}

.contain .contain-left li.lip a {
    font-size: 16px;
    color: #ABABAB;
    line-height: 20px;
    display: block;
    cursor: pointer;
    padding: 26px 0 24px 50px;
    background: #161616;
}

.contain .contain-left li a img {
    display: inline-block;
    margin-left: 4px;
}

.contain .contain-left ul, .contain .contain-left li {
    margin: 0;
}

.contain .contain-left li ul {
    display: none;
}

.contain .contain-left .lip .lic a {
    display: block;
    color: #ABABAB;
}

.contain .contain-left .lip .lic .lia {
    display: none;
}

.contain .contain-left .lip .lights .lia {
    display: block;
    color: rgba(77, 156, 254, 0.69);
}

.contain .contain-left li.light {
    color: #4D9CFE;
}

.contain .contain-right {
    padding: 0 29px;
    float: right;
    margin-left: 220px;
    position: absolute;
}

.contain .contain-right .main-contain {
    background: #fff;
    padding: 25px 34px 23px 24px;
    position: relative;
    min-width: 924px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

/*瀵懓鍤仦鍌涚壉瀵拷*/

.layerOpen {
    position: relative;
}

.layerOpen .title {
    background: #f5f5f5;
    height: 50px;
    line-height: 50px;
    color: #2B2B2B;
    font-size: 20px;
    margin: 0;
}

.layerOpen .titles {
    margin: 0;
    padding: 12px 0px;
    font-size: 16px;
    background: #4990E2;
    text-align: center;
    color: #FFFFFF;
}

/*.layerOpen p.titles {
	background: #f5f5f5;
	height: 50px;
	line-height: 50px;
	color: #2B2B2B;
	font-size: 20px;
	margin: 0;
	padding: 0 0 0 30px;
}*/

.layerOpen a.closeBtn {
    display: block;
    width: 14px;
    height: 14px;
    background: url(../img/closeBtn.png) center no-repeat;
    background-size: cover;
    position: absolute;
    top: 18px;
    right: 36px;
    cursor: pointer;
}

.layerOpen .contents {
    padding-top: 33px;
    background-color: #fff;
    padding-bottom: 20px;
}

.layerOpen .contents .form-group {
    margin-bottom: 10px;
}

.layerOpen .contents .form-group input {
    color: #4c4c4c;
}

.layerOpen .contents .form-group i {
    font-style: normal;
    position: absolute;
    top: 11px;
    left: 290px;
    font-size: 14px;
}

.layerOpen .contents .form-group-single {
    padding-left: 0;
    max-width: 908px;
    margin-bottom: 24px;
}

.layerOpen .contents .form-group-double {
    max-width: 540px;
    margin-bottom: 24px;
}

.layerOpen .contents label {
    text-align: left;
    line-height: 28px;
}

.layerOpen .contents_mid {
    margin: 0 auto;
    width: 460px;
}

.layerOpen .contents .btnGroup {
    margin-top: 45px;
}

.layerOpen .contents .fileName {
    font-size: 14px;
    padding-left: 20px;
}

.layerOpen .layerContent {
    width: 95%;
    /*margin-left: 30px;*/
    /*padding-right: 11px;*/
}

.layerOpen .foot-contain {
    text-align: center;
}

.layerOpen .layerContent .searchDivs {
    height: 40px;
    width: 250px;
    margin: 0;
}

.layerOpen .layerContent .searchDivs label, .rightDiv label {
    cursor: pointer;
    background: url(../img/search.png) center no-repeat;
    padding-right: 60px;
}

.layerOpen h4 {
    font-weight: normal;
    padding: 30px;
}

.layerOpen table {
    border: 1px solid #ddd;
}

.layerOpen table th {
    text-align: center;
    background: #f2f2f2;
    color: #2b2b2b;
    font-size: 18px;
    padding: 12px 0 !important;
    font-weight: normal;
}

.layerOpen table th.typeTh {
    text-align: left;
    padding-left: 5% !important;
}

.layerOpen table td {
    color: #2b2b2b;
    /*text-align: center;*/
    font-size: 18px;
}

.layerOpen table td.left {
    color: #2b2b2b;
    text-align: left;
    font-size: 18px;
    margin: 9px;
}

.layerOpen table td.typeTd {
    text-align: left;
    padding-left: 3.5% !important;
}

.layerOpen .enter {
    background: #f57a73;
    color: #fff;
    width: 80px;
    height: 35px;
    text-align: center;
    line-height: 35px;
    font-size: 16px;
    display: inline-block;
    margin-left: 20px;
    border-radius: 4px;
    cursor: pointer;
    float: right;
    margin: 33px;
}

.enter:hover {
    color: #fff;
    background-color: #ec6a62;
}

.layerOpen .table tbody>tr:nth-child(odd)>td, .table-striped tbody>tr:nth-child(odd)>th {
    background: #F2F8FF !important;
}

.layerOpen .table tbody>tr:nth-child(even)>td, .table-striped tbody>tr:nth-child(even)>th {
    background: #ffffff !important;
}

.layerOpen .table a.delete {
    border: 1px solid #B8B8B8;
    border-radius: 5px;
    padding: 5px 8px 5px 8px;
    color: rgba(0, 0, 0, 0.5);
    margin: 0 10px;
    cursor: pointer;
}

.layerOpen .table a.delete:hover {
    color: #666;
    text-decoration: underline;
}

.layerOpen .list-item table {
    table-layout: fixed;
    width: 100%;
    margin: 15px 0;
    -webkit-box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
    -ms-box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
    -o-box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
}

.layerOpen .list-item .list-item-bd td {
    /*padding-top: 20px;*/
    /*border: 1px solid #e6e6e6;*/
    /*vertical-align: top;*/
}

.layerOpen .list-item .list-item-bd td.middle {
    padding: 0;
    vertical-align: middle;
}

.layerOpen .list-item .list-item-bd p.break {
    width: auto;
    /*padding: 0 6px;*/
    /*margin-top: 9px;*/
    margin: 0;
    color: rgba(0, 0, 0, 0.3);
    font-size: 14px;
    line-height: 25px;
    border-radius: 20px;
    display: inline-block;
    font-weight: bold;
}

.layerOpen .list-item .list-item-bd p span {
    font-size: 14px;
    color: #000;
    margin: 4px;
}

.layerOpen .list-item .list-item-bd span {
    font-size: 16px;
    color: #4a95f2;
    margin: 10px 0;
    display: inline-block;
}

.layerOpen .list-item .list-item-bd i {
    font-style: normal;
    display: block;
    font-size: 16px;
    margin: 0px 0;
    word-break: break-all;
    word-wrap: break-word;
    line-height: 40px;
}

.layerOpen .list-item .list-item-bd #publish {
    color: #4d9cfe;
    border: 1px solid #4d9cfe;
    background: #FFFFFF;
    width: 50px;
    height: 30px;
    line-height: 30px;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -ms-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    margin: 0 auto;
}

.layerOpen .list-item .list-item-bd #publish:hover {
    color: #FFFFFF;
    background: #4d9cfe;
}

.layerOpen .list-item .list-item-bd .longP {
    font-size: 14px;
    margin: 0;
    padding: 0;
    color: rgba(0, 0, 0, 0.3);
    width: 150px;
    border-right: 1px solid #eee;
    font-weight: bold;
}

.layerOpen .list-item .list-item-bd i.red {
    color: #f00;
    width: 150px;
    /*margin: 0 auto;*/
    border-right: 1px solid #eee;
}

/*页面右侧顶部的title条*/

.location {
    font-size: 16px;
    line-height: 22px;
    padding: 21px 35px 15px 14px;
    background: #FFFFFF;
    height: 75px;
    margin-bottom: 18px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.location .locationLeft {
    float: left;
}

.location a {
    color: #737373;
    margin: 6px 0;
    display: inline-block;
}

.location a:hover {
    text-decoration: underline;
}

.location a.current {
    font-size: 16px;
    color: #74B2FF;
}

.location a.current:hover {
    text-decoration: none;
}

.location span {
    margin: 5px;
    color: rgba(49, 49, 49, 0.5);
}

.location .add {
    width: 100px;
    height: 35px;
    display: inline-block;
    border-radius: 5px;
    color: #ffffff;
    line-height: 35px;
    font-size: 14px;
    cursor: pointer;
    text-align: center;
}

.location .add:hover {
    background-color: #4a95f2;
}

.location .addNew {
    float: right;
    background: #4D9CFF;
    font-weight: lighter;
}

/*排序条*/

.statusDiv {
    font-size: 14;
    height: 40px;
    background: #F6F6F6;
}

.statusDiv label {
    color: #2b2b2b;
    text-align: right;
    font-weight: normal;
}

.statusDiv a {
    display: inline-block;
    padding: 5px 5px;
    color: #737373;
    cursor: pointer;
    text-decoration: none;
    position: relative;
    margin: 0 5px;
    width: 130px;
    text-align: center;
    border-radius: 3px 3px 3px 3px;
    height: 40px;
    line-height: 31px;
}

.statusDiv div {
    display: inline-block;
}

.statusDiv a:hover {
    color: #4D9CFE;
}

.statusDiv a:last {
    border-right: none;
}

.statusDiv a.statusLight {
    color: #4D9CFE;
    text-decoration: none;
}

.statusDiv a span {
    margin-left: 10px;
    font-family: 'Helvetica-45-La01a7f8496995';
}

.statusDiv a.statusLight span {
    font-weight: normal;
}

.statusDiv a.statusLight:hover {
    color: #4D9CFE;
}

.statusDiv a.statusLight1 {
    color: #4D9CFE;
    text-decoration: none;
}

.statusDiv a.statusLight1 span {
    font-weight: normal;
}

.statusDiv a.statusLight1:hover {
    color: #4D9CFE;
}

/*排序条结束*/

.userInfoDropdown {
    position: absolute;
    width: 180px;
    border-bottom: 7px solid #6e89ae;
    top: 90px;
    left: 60px;
    display: none;
    z-index: 999;
}

.userInfoDropdown li {
    height: 49px;
    border-bottom: 1px solid #646c78;
}

.userInfoDropdown li a {
    display: inline-block;
    width: 100%;
    height: 100%;
    line-height: 50px;
    color: #808080;
    font-size: 15px;
    text-align: center;
    background: #212d3d;
}

.userInfoDropdown li:hover {
    border-bottom: 1px solid #ffffff;
}

.userInfoDropdown li:hover a {
    background: #6e89ae;
    color: #ffffff;
}

.userInfoDropdown li:active a {
    text-decoration: none;
}

.userInfoDropdown li:focus a {
    text-decoration: none;
}

.userInfoDropdown li:visited a {
    text-decoration: none;
}

/*搜索框*/

.searchDiv {
    height: 40px;
    text-align: right;
    position: absolute;
    top: 20px;
    right: 22px;
}

.searchDiv input {}

.searchDiv label, .rightDiv label {
    cursor: pointer;
    background: url(../img/search.png) center no-repeat;
    width: 40px;
}

.searchDiv .input-group, .rightDiv .input-group {
    width: 260px;
}

.searchDiv input::-webkit-input-placeholder, .rightDiv input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
    color: #C1C1C1;
    font-size: 14px;
    font-weight: lighter;
}

.searchDiv input:-moz-placeholder, .rightDiv input:-moz-placeholder, textarea:-moz-placeholder {
    color: #C1C1C1;
    font-size: 14px;
    font-weight: lighter;
}

.searchDiv input:-ms-input-placeholder, .rightDiv input:-ms-input-placeholder, textarea:-ms-input-placeholder {
    color: #C1C1C1;
    font-size: 14px;
}

.input-group .form-control:first-child {
    border-right: none;
    height: 40px;
}

/*搜索框结束*/

/*table*/

.main-contain .tableList {
    table-layout: fixed;
}

.main-contain .tableList thead tr {
    border: 1px solid #ededed;
}

.main-contain .tableList thead {
    border: 1px solid #ededed;
}

.main-contain .tableList tbody tr {
    /*border: 1px solid #ddd;*/
}

.main-contain .tableList th {
    color: #ffffff;
    font-size: 16px;
    border: none;
    padding: 10px 15px;
    background: #74b2ff;
    font-weight: lighter;
}

.main-contain .tableList .logoTh {
    font-family: 'Helvetica-45-La01a7f8496995';
}

.main-contain .tableList .text-center {
    text-align: center;
}

.main-contain .tableList td {
    font-size: 14px;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.main-contain .tableList td span {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: rgba(43, 43, 43, 1);
    height: 30px;
    line-height: 30px;
    display: inline-block;
}

.main-contain .tableList td .bankLogo {
    max-height: 42px;
}

.main-contain .tableList td a {
    margin: 0 5px;
    cursor: pointer;
    color: #212d3d;
}

/* table.tableList td a.editBtn:hover{color: #f57a73;text-decoration: underline;} */

.tableList .operation .deleteBtn:hover {
    background: #666;
    color: #FFFFFF;
    border: 1px solid #666;
}

.tableList .operation .operaBranch:hover {
    background: #4D9CFF;
    color: #FFFFFF;
    border: 1px solid #4D9CFF;
}

.tableList td .operaBranch:hover {
    color: #4D9CFF;
    text-decoration: underline;
}

.tableList>thead>tr>th, .table>tbody>tr>th, .tableList>tfoot>tr>th, .table>thead>tr>td, .tableList>tbody>tr>td, .tableList>tfoot>tr>td {
    border-top: none;
    vertical-align: middle;
}

.tableList span img {
    max-height: 42px;
}

.table-striped tbody>tr:nth-child(odd)>td, .table-striped tbody>tr:nth-child(odd)>th {
    background: #ffffff;
}

.table-striped tbody>tr:nth-child(even)>td, .table-striped tbody>tr:nth-child(even)>th {
    background: #eef5fe;
}

.tableList .nameTh {
    text-align: center;
}

.tableList .nameTd {
    text-align: center;
}

.tableList .text-left {
    /*text-align: left !important;*/
}

.tableList .operation {
    width: 400px;
    overflow: visible;
}

.tableList .operation a {
    border: 1px solid #cccccc;
    border-radius: 5px;
    padding: 5px 9px;
    color: rgba(0, 0, 0, 0.5);
    background: #fff;
    font-size: 14px;
    line-height: 20px;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -ms-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
}

.tableList .operation .editBtn {
    color: #4D9CFF;
    border: 1px solid #4D9CFF;
}

.tableList .operation .editBtn:hover {
    border: 1px solid #4D9CFF;
    color: #FFFFFF;
    background: #4D9CFF;
}

.tableList .operation .operaBranch {
    color: #87b7f2;
    border-color: #87b7f2;
}

.tableList .operation .editSpan {
    color: red;
    margin-left: 10px;
}

.tableList .operation .popover {
    width: 220px;
    margin-left: -60px;
    top: 40px;
    text-align: center;
}

.tableList .operation .open {
    display: block;
}

.tableList .operation .log {
    margin-left: 100px;
    top: -20px;
    text-align: left;
}

.tableList .operation .log .popover-content {
    padding: 9px 0px 0px 5px;
}

.tableList .operation .popover input {
    margin: 0px;
}

.tableList .operation .popover .btn {
    width: 80px;
    font-size: 18px;
    margin: 5px 5px;
}

.nodata {
    text-align: center;
    height: 100px;
    line-height: 100px;
    font-size: 20px
}

.nodata>td {
    text-align: center;
    height: 100px;
    line-height: 100px;
    font-size: 20px
}

/*table结束*/

/*添加银行页面表单 bankInfoAdd.jsp*/

#formsubmit label, #formsubmit input, #formsubmit select, #formsubmit textarea {
    font-size: 14px;
}

#formsubmit select, #formsubmit input {
    display: inline;
    padding: 10px 10px;
    height: 40px;
    width: 75%;
    max-width: 300px;
    color: #7C7C7C;
    margin-top: 0px;
    margin-bottom: 0;
}

#formsubmit .long, {
    max-width: none;
    width: 50%;
}

#formsubmit .short {
    max-width: 100px;
}

#formsubmit input[type="file"] {
    max-width: inherit;
}

#formsubmit label {
    text-align: left;
    vertical-align: sub;
}

.realTime {
    font-size: 14px;
    color: #5B5B5B;
    margin-top: 226px;
}

.realTime span {
    display: block;
    line-height: 17px;
    margin-top: 8px;
}

/*添加银行页面表单结束*/

/*添加活期理财ul*/

.order {
    width: 98%;
    margin: 0 auto;
}

.order li {
    border: 1px solid #DCDCDC;
    width: 25%;
    float: left;
    line-height: 30px;
    font-size: 18px;
    color: #B6B6B6;
    padding: 16px 0;
}

.order li img {
    margin: 0 7px;
    vertical-align: text-bottom;
}

.order li.on {
    background: #74B2FF;
    color: #FFFFFF;
    border-color: #74B2FF;
}

.order li.done {
    border-color: #DCDCDC;
    background: #ffffff;
    color: #B6B6B6;
}

.step {
    /*margin-top: 59px;*/
    /*display: none*/
}

.firststep {
    display: block;
}

.step .prev, .step .prev2, .step .next {
    cursor: pointer;
    display: inline-block;
    background: #CFCFCF;
    border-radius: 5px;
    text-align: center;
    width: 100px;
    height: 35px;
    line-height: 35px;
    font-size: 16px;
    color: #FFFFFF;
    margin: 67px 50px 67px 0;
    border: none;
}

.step .next {
    background: #4D9CFE;
}

.step .next:hover {
    background: #4a95f2;
    color: #fff;
}

.step .prev:hover {
    background: #c5c3c3;
}

.step .prev2 {
    background: #4D9CFE;
}

.step .prev2:hover {
    background: #4a95f2;
    color: #fff;
}

.step label {
    color: #2B2B2B;
    font-size: 18px;
}

.step .col-md-9 {
    max-width: 325px;
    margin-bottom: 15px;
}

.step .col-md-9 b {
    position: absolute;
    right: 20px;
    top: 11px;
    font-size: 18px;
    color: #2B2B2B;
    line-height: 23px;
    font-weight: normal;
}

#formsubmit .step .col-md-9 input, #formsubmit .step .col-md-9 select {
    width: 100% !important;
}

.col-xs-12, .col-md-9, .col-xs-6 {
    padding-left: 0 !important;
}

.col-xs-12 {
    padding-left: 14px !important;
}

.step .tips {
    line-height: 45px;
    color: #f00;
    display: none;
}

.step .col-xs-12 {
    padding-left: 0 !important;
}

#formsubmit .forthstep .col-md-9 {
    max-width: 880px;
}

#formsubmit .thirdstep .col-md-9 input {
    max-width: 325px;
}

.step .enter {
    background: #4D9CFF;
    border-radius: 5px;
    width: 88px;
    height: 45px;
    border: none;
    font-size: 16px;
    color: #FFFFFF;
    font-family: 'SourceSansPro-Ea2f666e566995';
    font-weight: lighter;
}

.step .enter:hover {
    background: #4a95f2;
}

.step .enter:focus {
    border: none;
}

.btn:hover, .btn:focus {
    color: #fff;
}

#formsubmit .text-danger {
    margin-left: 3px;
    color: #f00;
    font-style: normal;
}

/*覆盖时间组件样式*/

.laydate_body .laydate_top {
    box-sizing: content-box;
}

#laydate_box .laydate_bottom {
    height: 32px;
}

#laydate_box .laydate_ym input {
    /* height: 22px; */
    /* line-height: 22px; */
}

#laydate_box #laydate_ys {
    overflow: auto;
}

#laydate_box .laydate_chnext cite {
    border-left-style: solid;
    border-left-color: #666;
}

#laydate_box .laydate_chprev cite {
    border-right-style: solid;
    border-right-color: #666;
}

#laydate_box .laydate_chdown cite, #laydate_box .laydate_ym label {
    border-top-color: #666;
}

#laydate_box .laydate_chtop cite {
    border-bottom-color: #666;
}

.laydate_body .laydate_ym {
    height: 26px;
}

.contain .contain-right .mt-70 {
    margin-top: 70px;
}

.contain .contain-right .mt-30 {
    margin-top: 30px;
}

.contain .contain-right .pt-13 {
    padding-top: 13px;
}

.contain .contain-right .pl-14 {
    padding-left: 14px;
}

.contain .contain-right .pr-16 {
    padding-right: 16px;
}

/*排序*/

.sort {
    margin-top: 28px;
    background: #F1F1F1;
    border: 1px solid #E0E0E0;
    font-size: 14px;
}

.sort .order-option {
    display: inline-block;
    padding: 13px 23px 13px 23px;
    color: #2B2B2B;
}

.sort .sorting-btns {
    display: inline-block;
    margin: 0;
}

.sort .sorting-btns li {
    display: inline-block;
    padding: 12px 30px 11px 24px;
    cursor: pointer;
    border-left: 1px solid #F1F1F1;
    border-right: 1px solid #F1F1F1;
    background: #F1F1F1;
}

.sort .sorting-btns li a span {
    color: #737373;
    line-height: 20px;
}

.sort .sorting-btns .light {
    border-left: 1px solid #E0E0E0;
    border-right: 1px solid #E0E0E0;
    /*background: #FFFFFF;*/
}

.sort .sorting-btns .light a span {
    color: #4D9CFE;
}

.sort .sorting-btns .desc {
    background: url(../img/sort_parent_down_disable.png) right center #FFFFFF no-repeat;
    background-size: 14px 14px;
    background-position: 83% center;
}

.sort .sorting-btns .asc {
    background: url(../img/sort_parent_up_disable.png) right center #FFFFFF no-repeat;
    background-size: 14px 14px;
    background-position: 83% center;
}

.topDiv {
    height: 40px;
    top: 25px;
    width: 100%;
}

.topDiv .leftDiv {
    position: absolute;
    display: inline-block;
    left: 24px;
    right: 316px;
    height: 40px;
    background: #F6F6F6;
}

.topDiv .rightDiv {
    float: right;
    right: 16px;
    width: 260px
}

.topDiv .rightDiv .input-group {
    margin: 0
}

.topDiv .leftDiv>span {
    line-height: 40px;
    padding-left: 27px;
    font-size: 14px;
}

/*富文本编辑器*/

table.edui-default {
    display: none;
}

.back-white {
    background-color: #fff !important;
    color: #000 !important;
}

.list-item .back-black {
    background-color: #000;
}

.list-item .back-grey {
    background-color: #aaa;
}

.list-item .back-red {
    background-color: #f66;
}

.list-item .back-blue {
    background-color: #0af;
}

.list-item .back-green {
    background-color: #092;
}

/*投资用户管理*/

.msg_box {
    margin-bottom: 20px;
    border: 1px solid #C1C1C1;
    -webkit-box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
}

.msg_box table {
    width: 100%;
    table-layout: fixed;
}

.msg_box table tr {
    height: 35px;
    background: #F7FBFF;
    border-bottom: 1px solid #C1C1C1;
}

.msg_box table tr td {
    white-space: nowrap;
    word-break: break-all;
    text-overflow: ellipsis;
    overflow: hidden;
    font-size: 14px;
    padding: 0 20px 0 20px;
}

.msg_box table tr td:nth-child(1) {
    border-right: 1px solid #C1C1C1;
}

.msg_box table tr td:nth-child(2) {
    border-right: 1px solid #C1C1C1;
}

.msg_box table tr td:nth-child(3) {
    border-right: 1px solid #C1C1C1;
}

.msg_box .msg_box_content {
    padding: 10px 10px 10px 30px;
    position: relative;
}

.msg_box .msg_box_content .msg_box_photo {
    margin: 0;
    width: 20%;
    display: inline-block;
}

.msg_box .msg_box_content .msg_box_photo .head_photo {
    width: 90px;
    height: 90px;
    vertical-align: top;
    margin-right: 20px;
}

.msg_box .msg_box_content .msg_box_photo .msg_icon {
    display: inline-block;
}

.msg_box .msg_box_content .msg_box_photo .msg_icon img {
    display: block;
    margin-bottom: 3px;
}

.msg_box .msg_box_content .msg_box_photo .msg_icon img:last-child {
    margin: 0;
}

.msg_box .msg_box_content .msg_box_info {
    display: inline-block;
    width: 79%;
    height: 90px;
    vertical-align: bottom;
}

.msg_box .msg_box_content .msg_box_info .msg_box_info_item {
    height: 45px;
    line-height: 45px;
}

.msg_box .msg_box_content .msg_box_info .msg_box_info_item span {
    width: 23%;
    text-align: center;
    display: inline-block;
}

.msg_box .msg_box_content .create_time_p {
    position: absolute;
    margin: 0;
    color: #C1C1C1;
    font-size: 12px;
    bottom: 3px;
    right: 6px;
}

/*投资用户管理详细信息*/

.msg_title {
    text-align: center;
    font-size: 18px;
    color: #000000;
}

.layerOpen .inverstor_msg {
    -webkit-box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
    width: 90%;
    border-collapse: collapse;
    border: 1px solid #C2C2C2;
}

.inverstor_msg tr {
    height: 35px;
}

.inverstor_msg tr td {
    text-align: center;
    font-size: 14px;
    overflow: hidden;
    white-space: nowrap;
    word-break: break-all;
    text-overflow: ellipsis;
}

.inverstor_msg tr .t_right {
    text-align: right;
    background: #F7FBFF;
}

.inverstor_msg tr td .head_photo {
    max-width: 100%;
}

.confirm_time {
    width: 90%;
    height: 35px;
    line-height: 35px;
    margin: 0 auto;
    color: #C1C1C1;
    font-size: 12px;
    text-align: left;
    position: relative;
}

.confirm_time .confirm-time-right {
    position: absolute;
    right: 0;
    top: 10px;
    line-height: 12px;
}

.layerOpen .inverstor_money {
    width: 90%;
    margin-top: 30px;
    border: 1px solid #C2C2C2;
    -webkit-box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
    border-collapse: collapse;
}

.inverstor_money tr {
    height: 60px;
}

.inverstor_money tr td {
    width: 25%;
    font-size: 14px;
    padding: 10px 0 10px 0;
    overflow: hidden;
    white-space: nowrap;
    word-break: break-all;
    text-overflow: ellipsis;
}

.inverstor_money tr td p {
    height: 20px;
    line-height: 20px;
    text-align: center;
}

.inverstor_money tr td p:nth-child(2) {
    margin: 0;
}

.inverstor_history {
    width: 90%;
    margin-top: 30px;
}

.inverstor_history .inverstor_history_title {
    font-size: 16px;
    margin-bottom: 20px;
    color: #000000;
}

.inverstor_history table {
    width: 100%;
    table-layout: fixed;
    border: none;
}

.inverstor_history table tr {
    height: 35px;
    border-bottom: 1px solid #C1C1C1;
}

.inverstor_history table tr td {
    text-align: center;
    font-size: 14px;
    overflow: hidden;
    white-space: nowrap;
    word-break: break-all;
    text-overflow: ellipsis;
}

.color_gray {
    color: #c1c1c1 !important;
}
.uploadSrc img{
	width:100%;
	padding:5px 0;
}