/*============================默认样式：直接定义元素的样式=======================================*/
body {font-size:13px;font-family: tahoma,arial,'Hiragino Sans GB',\5b8b\4f53,sans-serif;font-size: 13px;
line-height: 1.42857143;
color: #333;
background-color: #fff;}
.que-list-cnt {background:#fff;padding:20px 40px 50px;}

/*2014*/


/*浅蓝色字体，不带下划线；Hover橙色带下划线；IMG不显示边框*/

a img 
{
 border:0;
}

/*========================================公共样式===============================================*/
/*用于订阅图标*/
#rss img{margin-bottom: 5px; border:0;}

.btnBlueBg
{
    padding:5px 9px;font-weight: bold; font-family:'宋体';
    background-image: url(../que/design/com_button.gif);
    width: 56px;cursor: pointer;color: #ffffff!important;background-repeat: repeat-x;height: 26px; line-height:28px;
}

input.finish 
{ 
    padding:3px 5px;background-image: url(../que/Design/com_button.gif); font-weight:bold;
    margin: 0px 2px; color:#ffffff;background-repeat: repeat-x;height: 26px; border:0; width:52px; cursor:pointer;
}
.divline
{
color:#075db3;
font-size:14px;
font-weight:bold;
margin-bottom:6px; padding-bottom:4px; border-bottom:2px #ccddff solid;  margin-top:20px;
}
.divclear{clear: both;height:0px; line-height:0px; font-size:1px;}
.wls
{
 float:left; margin-left:6px; margin-top:38px; font-size: 12px; color: #333; font-weight: normal;  
}
.hul li
{
  float:left; 
}
.qset li{ float:left; margin-left:10px; margin-top:10px; }
.beijiimg{width:100px; height:75px;cursor:hand;}
/*水平线：高5像素，淡紫色*/
.wf{color:#ffffff!important; padding:0;}
.linehr
{
    color:#ccddff;/*#;*/
 background:#ccddff;
 height:5px;
 padding:0;
 margin-bottom:0;
 margin-top:0;
 border:0;
}
.linediv
{ 
    background:#ccddff;
 height:5px;
 line-height:0px;
 padding:0;
 margin-bottom:0;
 margin:3px 0; width:100%;
 font-size:0px;
 clear:both;
 }
/*水平线：高1像素，淡紫色*/
.listhr
{
    height:1px;
    border:0;
    background:#ccddff;
    color:#ccddff;
}
/*16像素，加粗，蓝绿。一般用于标题*/
.bluefont-16px 
{
 font-size: 16px;
 font-weight: bold;
 color: #00a6e6;
}
/*灰度666，默认字体，不加下划线；HOVER橙色加下划线font-family: "宋体"  Sans-Serif;*/
a.link-666:link,a.link-666:visited 
{
 color: #666666;
 text-decoration: none; 
}
a.link-666:hover 
{
 color: #F90;
}

a.link-U666:link,a.link-U666:visited 
{
 color: #666666;
 text-decoration: underline; 
}
a.link-U666:hover 
{
 color: #F90;
}


/*灰度666，14像素，字体加粗，不加下划线；HOVER橙色加下划线*/
a.link-b666,a.link-b666:visited 
{
 color:#656565;
 text-decoration: none;
 font-size: 12px;
 font-weight: bold;
 
}
a.link-b666:hover 
{
 color: #F90;
 text-decoration:underline;
}

/*灰度999，默认字体，不加下划线；HOVER橙色加下划线*/
a.link-999:link,a.link-999:visited 
{
 color: #999;
 text-decoration: none;
}
a.link-999:hover 
{
 color: #F90;
 text-decoration:none ;
}

/*蓝绿色，默认字体，不加下划线；HOVER橙色加下划线font-family: "宋体"  Sans-Serif;*/ 
a.link-00a6e6:link,a.link-00a6e6:visited,a.link-00a6e6:active 
{
 color: #00a6e6;
 text-decoration: none;
 
}
a.link-00a6e6:hover 
{
 color: #F90;
 text-decoration:none ;
}
/*亮浅蓝色，不带下划线*/
a.link-06f:link,a.link-06f:visited,a.link-06f:active
{
 color: #05398c;
 text-decoration: none;
}
a.link-06f:hover
{
 color: #ff6600;
 text-decoration: none;
}
/*橙色，不带下划线*/
a.link-f60:link,a.link-f60:visited,a.link-f60:active
{
 color: #ff6600;
 text-decoration: none;
}
a.link-f60:hover
{
 color: #ff9900;
 text-decoration: none;
}
/*浅蓝色，默认字体，加下划线；HOVER橙色加下划线font-family: ncursive,'宋体';FONT-FAMILY: sans-serif,'宋体';*/
a.link-U00a6e6,a.link-U00a6e6:link,a.link-U00a6e6:visited 
{
 color: #3D81EE;
 font-size:12px;
 text-decoration: underline;
  font-family:  Sans-Serif,'宋体';
}
a.link-U00a6e6:hover 
{
 color: #F90;
 font-size:12px;
 text-decoration:underline ;        
}


/*灰度333，默认字体，加下划线；HOVER橙色加下划线*/
a.link-U333,a.link-U333:link,a.link-U333:visited 
{
 color: #333333;
 text-decoration: underline;   
}
a.link-U333:hover 
{
 color: #F90;
}
a.link-444,a.link-444:link,a.link-444:visited 
{
 color: #444444;
 text-decoration: none;
}
a.link-444:hover 
{
 color: #F90;
}
a.link-red:link,a.link-red:active,a.link-red:visited 
{
    color:red;
    text-decoration: none;
}
a.link-red:hover
{
    text-decoration:underline;
}
/*灰度333，默认字体 ；HOVER橙色加下划线*/
a.link-333,a.link-333:link,a.link-333:visited 
{
 color: #333333; 
}
a.link-333:hover 
{
 color: #ff9900; 
}
/*浅黄色，默认字体，加下划线；HOVER浅蓝色加下划线*/
a.link-UF90:link,a.link-UF90:visited {
 color: #ff6600;
 text-decoration: underline;
 FONT-FAMILY: sans-serif,'宋体';       
 
}
a.link-UF90:hover {
 color: #3D81EE;
 text-decoration:underline ;
 
        
}
/*白色字体*/
a.link-fff:link,a.link-fff:visited {
 color: #ffffff;
 text-decoration: underline;
 FONT-FAMILY: sans-serif,'宋体';       
 
}
a.link-fff:hover {
 color: #ff9900;
 text-decoration: underline;
 FONT-FAMILY: sans-serif,'宋体'
 
        
}
/*浅灰色，*/
a.link-beef:link,a.link-beef:visited
{
 color:#eef;
}
a.link-beef:hover
{
 font-weight:bold;
}
/*橙色链接*/
a.link-UF30:link,a.link-UF30:visited {
 color: #ff5500;
 text-decoration: underline;
}
a.link-UF30:hover {
 color: #3D81EE;
 text-decoration:underline ;       
}
/*浅蓝色字体*/
.list_link a,.list_link a:link,.list_link a:visited
{
 COLOR: #3d81ee
}

.blueb{color:#3155b6! important; font-weight:bold;}

input.operation {
background-image:url(../que/button_normal_bg.gif);
background-repeat:repeat-x;
border:1px solid #A7B6C1;
height:22px;
margin:0 2px;
padding:2px;
/*width:110px;padding-top:3px;*/
} 
.chengshefont{color:#ff6600;}
.divCom
{
padding:10px 0;  text-align: left; line-height: 18px; color: #333333;  
}
/*橙色按钮样式*/
 a.btnbg  
    {
        background: url("../que/btn.png") no-repeat scroll right -388px transparent;
        display: inline-block;
        height: 22px;
        padding-right: 5px;
        text-decoration: none;
        vertical-align: middle;
    }
   a.btnbg span {
    background: url("../que/btn.png") no-repeat scroll 0 -364px transparent;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-size: 13px;
    font-weight: bold;
    height: 22px;
    line-height: 24px;
    overflow: hidden;
    padding: 0 10px 0 15px;
    text-align: center;
}
a.btnbg:hover{background: url("../que/btn.png") no-repeat scroll right -439px transparent;}
   a.btnbg:hover span{background: url("../que/btn.png") no-repeat scroll 0 -417px transparent;}
 a.sumitbutton,a.sumitbutton:visited
{
     background:#f17819;
     color:#ffffff;
      display: inline-block;
        height: 30px;
        line-height:30px;
        padding-right: 5px;
        text-decoration: none;
        vertical-align: middle;
          padding: 0 10px 0 15px;
    text-align: center;
    font-weight:bold;
     font-size: 15px;
      cursor:pointer;
      border-bottom-left-radius:5px;border-bottom-right-radius:5px;border-top-left-radius:5px;border-top-right-radius:5px;
}
a.sumitbutton:hover
{
    background:#fda420;color:#fff !important;
}
input.submitbutton
{
    display:inline-block;height:30px; line-height:30px; border:0;cursor:pointer;background:#f17819;font-size:15px;color:#fff;font-weight:bold;
    border-bottom-left-radius:5px;border-bottom-right-radius:5px;border-top-left-radius:5px;border-top-right-radius:5px; padding: 0 15px;
    overflow:visible;
}
input.submitbutton_hover
{
    background:#fda420;
}
 /*橙色按钮样式*/
 a.btnbgbig  
    {
        background: url("../que/btn.png") no-repeat scroll right -30px transparent;
        display: inline-block;
        height: 30px;
        padding-right: 5px;
        text-decoration: none;
        vertical-align: middle;
    }
   a.btnbgbig span {
    background: url("../que/btn.png") no-repeat scroll 0 0 transparent;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-size: 15px;
    font-weight: bold;
    height: 30px;
    line-height: 32px;
    overflow: hidden;
    padding: 0 10px 0 15px;
    text-align: center;
}
a.btnbgbig:hover{background: url("../que/btn.png") no-repeat scroll right -98px transparent;}
   a.btnbgbig:hover span{background: url("../que/btn.png") no-repeat scroll 0 -68px transparent;}
     
/*************列表样式，用于公开问卷页面，有奖调查页面等******************/
.divhead864{ width:864px; margin:0 auto;margin-top:15px;}
.iframecss{ overflow:auto; border:1px #ccddff solid;}
#post_list {
margin-top:0; 
padding-right:0;
padding-top:15px;
}
  .post_item {
border-bottom:1px dotted #CCCCCC;
border-width:1px;
margin-bottom:15px;
padding-bottom:15px;
overflow:hidden;
width:540px;
}
.post_item_body {
line-height:150%;
margin-left:10px;
padding-top:1px;
}
#post_list h3 {
font-size:14px;
font-weight:bolder;
margin:0 0 5px;
}
#post_list .post_item_summary {
color:#444444;
font-size:12px;
line-height:20px;
margin-bottom:5px;
overflow:hidden;
padding-right:5px;
padding-top:5px;
}
a.titlelnk:link, a.titlelnk:active, a.titlelnk:visited {
color:#075DB3;
text-decoration:underline;
  font-family:  Sans-Serif,'宋体';
}
a.titlelnk:hover
{
  color:red;
}
/*14号字体灰度为444444*/
.font14px{color:#444444; font-size:14px;}
/*按钮样式*/
.buttons A,.buttons A:link,.buttons A:visited,.buttons A:active {
    background-color: #F5F5F5;
    border-color: #DEDEDE #BBBBBB #BFBFBF #DEDEDE;
    border-right: 1px solid #BBBBBB;
    border-style: solid;
    border-width: 1px;
    color: #529214;
    cursor: pointer;
    display: block;
    float: left;
    font-family: Tahoma,sans-serif,"Lucida Grande",Arial;
    font-weight: bold;
    line-height: 130%;
    margin: 0 0.7em 0 0;
    padding: 5px 10px 6px;
    text-decoration: none;
}
.buttons A:hover {
    background-color: #DFF4FF;
    border-color: #A7CEDF;
    border-right: 1px solid #A7CEDF;
    border-style: solid;
    border-width: 1px;
    text-decoration: underline;
}

.buttons A IMG {
    margin: 0 3px -3px 0;
}
/*白色字体加粗，14像素，文本居中*/
.s_help_biaoti { FONT-WEIGHT: bold; font-size:14px; COLOR: #ffffff; liNE-HEIGHT: 20px; TEXT-AliGN: center}
/*用于所有Tab Control*/
.font-999{COLOR:#999999;}
.font-666{color:#666666;}
.font-18px{FONT-SIZE:16px}
.txtleft{ text-align:left;}
.B{FONT-WEIGHT: bold}
.bg{ background:#f2ffff;}
/*亮浅蓝色字体*/
.font {COLOR: #00a6e6}
/*浅蓝色字体*/
.font-3d81ee{color:#3d81ee;}
/*亮蓝色字体*/
.font-06f{color:#0066ff;} 
/*浅灰色字体*/
.font-a0{color:#a0a0a0;}
/*红色字体*/
.font-red{color:Red;}
/*灰度为666字体,加粗*/
.biaoti
{
 color: #555;
 font-weight:bold;
}
/*用于价格表：白色的13像素字体*/
.edited
{
 font-size: 14px;
 color: #ffffff;
 text-decoration: none;
}
/*用于价格表：白色的加粗13像素*/
.table_big_text {
 font-size: 13px;
 font-weight: bold;
 color: #FFFFFF;
 line-height: 18px;
}
/*用于价格表：灰度为333的13像素字体*/
.s_remark_h
{
 font-size: 13px;
 line-height: 20px;
 color: #333333;
}
/*蓝色14px*/
.bluefont-14px{font-size:18px; color:green; font-weight:bold; vertical-align:top; line-height:30px;}
/*用于成功案例：黑色为f60的14像素字体*/
.font_f60_14px
{
 font-size: 14px; color:#444; font-weight:bold;
}

/*绿色字体*/
.greenfont{ color:Green;}
/*修改用户信息*/
.biaotiUserInfo{font-size:12px; color:#0066ff;}

.note
{
 font-family: 宋体, Tahoma;
 font-size: 12px;
 color: #666666;
 height: 20px;
}
/*用于成功案例：橙色为f60的16像素字体*/
.font_green_16px_line30px
{
 font-size: 16px; color:#f60; line-height:30px; font-weight:bold; float:left; margin-top:15px;
}
a.link_green,a.link_green:link,a.link_green:active,a.link_green:visited
{
 color:green;
 text-decoration: none;
}
a.link_green:hover
{
 color: #F90;
 text-decoration:none;
}
/*用于最新问卷，最热问卷等右边div的样式*/
.divRight
{
 background-repeat: repeat-x; background-image: url(../que/jq/wjxx_bj.jpg); line-height:20px; clear:both;
 border:#dce4ed 1px solid; margin-top:20px; float:left; vertical-align:bottom;padding: 3px; 
}
.biaoti2
{
 font-family: "Tahoma,宋体";
 font-size: 14px;
 font-weight: bold;
 font-variant: small-caps;
 color: #760101;
}
.normallink6
{
 font-family: "宋体",Tahoma;
 font-size: 12px;
 color: #0066ff;
 text-decoration: none;
}
/*==============================================按页面分的样式==========================================*/
/*用于控件ViewResult.ascx*/
#divViewResult
{
 color: #555555; font-size: 12px; margin-bottom:0;
}
#divViewResult h1
{
 float:left;font-size: 14px;
 font-weight: normal;display:inline;padding:0;
 margin:0; 
} 
b.rbottom,b.rtop{display:block; width: 850px; margin: 0px auto;background: #FFFFFF} 
b.rbottom b,b.rtop b{display:block;height: 1px;overflow: hidden; background: #689bce} 
b.r1{margin: 0 5px} 
b.r2{margin: 0 3px} 
b.r3{margin: 0 2px}  
b.rbottom b.r4,b.rtop b.r4{margin: 0 1px;height: 1px} 
/**用于WjxVipNew.master母版页**/
#stage 
{
 DISPLAY: inline-block;
 width:918px;BORDER-RIGHT: #999999 1px solid; BACKGROUND: #fff; BORDER-LEFT: #999999 1px solid; BORDER-BOTTOM: #999999 1px solid
}
#stage:unknown 
{
 OVERFLOW: visible; HEIGHT: 1%
}
#stage:unknown 
{
 CLEAR: both; DISPLAY: block; VISIBIliTY: hidden; HEIGHT: 0; content: "."
}
#nav 
{
 BACKGROUND:url('/images/master_images/enterprise_titlebg.jpg') no-repeat; POSITION: relative; HEIGHT: 46px;
}
.top
{
  MARGIN: 0px auto;
  height:10px; 
 }
.alphatop
{
    MARGIN: 0px auto; 
    height:10px;
    width:770px;
 }

.alphabuttom
{
 MARGIN: 0 auto;
 filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0);
 background:url(../que/bottom.png) no-repeat center top;
 width:770px;
 height:10px;
} 
/**后台管理页面下拉菜单**/
#menu 
{
 RIGHT: 0; MARGIN: 0 5px 0 0; BOTTOM: 0; POSITION: absolute
}
#menu li 
{
 FLOAT: left; margin-right:10px; COLOR: #cccccc;BACKGROUND:url("/images/master_images/company_nav_bg.gif") no-repeat; width:104px;
}
#menu li:hover,#menu li.hover
{
    BACKGROUND:url("/images/master_images/company_nav_hoverbg.gif") no-repeat;
}
#menu li a 
{
  DISPLAY: block;FONT-WEIGHT:bold; FONT-SIZE: 12px; 
 BACKGROUND: none no-repeat 8px center; COLOR: #eee; liNE-HEIGHT: 25px;padding:0 8px 0 28px;
  TEXT-DECORATION: none; BORDER-BOTTOM-STYLE: none! important
}
#menu li a IMG 
{
 MARGIN: 0 2px -4px 0
}
#menu li a:hover 
{
 COLOR: #ffffcc;
}
#menu li.exit A 
{
    padding:3px 2px 6px 0; background:none; border:none;
}
#menu li.pub A 
{
 BACKGROUND-IMAGE: url(../que/com_ico.gif)
}
#menu li.helpFile A 
{
 BACKGROUND-IMAGE: url(../que/service_ico.gif)
}
#menu li.searchPro A 
{
 BACKGROUND-IMAGE: url(../que/search.gif)
}
#menu li.add A 
{
 BACKGROUND-IMAGE: url(../que/contact_ico.gif)
}
#menu li.uif A 
{
 BACKGROUND-IMAGE: url(../que/person_ico.gif)
}

#publish .pub A,#search .searchPro A,#help .helpFile A,#address .add A,#userinfo .uif A  
{
  COLOR: #0099cc! important; background-color:#fff !important;
}

/*****WJXVipNew.master页面的底部用********/

/*用于WjxPub.master母版页*/
/**问卷星LOGO的解释文字的样式首页的H1
 **/
.BgImgTouMing {
     text-align: left;
     padding:0; 
    }
.BgImgBuTouMing {
     BACKGROUND-COLOR: #ffffff; FILTER:filter:progid:DXImageTransform.Microsoft.Shadow(enabled='false'); alpha(opacity=88); -moz-opacity:0.88;opacity:0.88; margin:0;
    }

#headerpub
{
 WIDTH: 920px; COLOR: #333; POSITION: relative;
 height:65px;
 BACKGROUND-IMAGE: url(../que/JQ/bj.jpg);
 background-repeat: repeat-x;
}
#headerpub img
{
 float:left; margin-left:5px;
} 
.navpub
{
 height:60px;
 float:right;
 padding-right:10px;
 width:552px;
}
.navpub span
{
 margin-left:10px;   
}

.navpub ul 
{
 float:left;
}
.navpub UL li 
{
 float: left;
 margin:0; padding:0;
 margin-left:10px;
}
.navpub UL li a 
{
 padding-left:19px;
 line-height:20px;
}    
.navpub UL li.DesignNewQ A,.navpub UL li.wjxhelppub A,.navpub UL li.exit A 
{
 padding:3px 0 6px 2px;border:0; background:none;
}

 #header{
    color: #333333;
    height:130px;
    margin: 0 auto;
	width:990px;
	}
.sojump_logo{
	float: left; 
	width: 189px;
	height:111px;
	padding:10px 0px 0px 30px;
	}
.sojump_image{
    background-image: url('/images/MasterNew/sojump_logo.gif') !important;
     background-repeat: no-repeat; 
    width: 189px; 
    height: 111px;
    text-align: left;
    position:relative;
	}
.sojump_image h1
{
    display: inline; font-size: 12px; letter-spacing:4px; font-weight: normal; padding: 0; margin: 0;color:#333; position:absolute; top:80px;
}
.title_r{
	float:right;
	width:713px;
	overflow:hidden;
	padding:10px 0px 0px 0px;
	}
.title_reg{
	float:right;
	height:23px;
	width:420px;
	clear:both;
	margin:10px auto 0px;
	display:inline;
	}
.title_reg ul{
	margin:auto;
	padding:0px;
	}
.title_reg ul li{
	display:inline;
	padding:0px 12px;
	}
.title_reg img{
	vertical-align:middle;
	margin:-5px 4px 0px;
	}
.title_reg span
{
    vertical-align:middle;
}
.title_register{
	background:url(/images/MasterNew/reg.gif) no-repeat;
	width:22px;
	height:20px;
    display:inline-block;
	}
.title_login{
	background:url(/images/MasterNew/login.gif) no-repeat;
	width:21px;
	height:20px;
    display:inline-block;
	}
.title_btn{
	background:url(/images/MasterNew/reg_btn.gif) no-repeat;
	border:0px;
	width:46px;
	height:23px;
	font-family:"Times New Roman", Times, serif;
	color:#FFF;
	font-size:13px;
	line-height:23px;
	display:inline-block;
	}
/*导航*/	
#navmaster{
	margin:auto;
	width:620px;
	padding:0px;
	float:right;
	}
#navmaster ul{
	list-style-type:none;
	margin:auto;
	padding:0px;
	}
#navmaster ul li{
	display:inline;
	float:left;
	padding:0px;
	cursor:pointer;font-weight:700;
	}
#navmaster li a{
	font-size:16px;
	color:#454545;
	letter-spacing:2px;
	font-family: 微软雅黑, Tahoma, Verdana, Arial;
	
	}
#navmaster li a:hover{
	color:#fff;
	}
#navmaster li.hover a{
	color:#fff;
	}
.M1Common
{
  width:109px;
	height:58px;
	margin:29px 0px 0px 0px;
}
.M1{
	background:url(../que/menu_ico1.png) no-repeat;
	_background:none;
    _filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src="../que/menu_ico1.png");
    color:#000;
}
.M1Hover
{
    background:url(../que/menu_hover_ico1.png) no-repeat;
	_background:none;
    _filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src="../que/menu_hover_ico1.png");
    color:#fff;
}
.M2Common
{
  width:138px;
	height:75px;
	margin:12px 0px 0px -23px;
}
.M2 {
	background:url(../que/menu_ico2.png) no-repeat;
	_background:none;
    _filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src="../que/menu_ico2.png");
}
.M2Hover {
	background:url(../que/menu_hover_ico2.png) no-repeat;
	_background:none;
    _filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src="../que/menu_hover_ico2.png");
}
.M3Common
{
  width:150px;
	height:63px;
	margin:24px 0px 0px -36px;
}
.M3 {
	background:url(../que/menu_ico3.png) no-repeat;
	_background:none;
    _filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src="../que/menu_ico3.png");
}
.M3Hover {
	background:url(../que/menu_hover_ico3.png) no-repeat;
	_background:none;
    _filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src="../que/menu_hover_ico3.png");
}
.M4Common
{
  width:123px;
	height:54px;
	margin:33px 0px 0px -5px;
}
.M4 {
	background:url(../que/menu_ico4.png) no-repeat;
	_background:none;
    _filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src="../que/menu_ico4.png");
}
.M4Hover {
	background:url(../que/menu_hover_ico4.png) no-repeat;
	_background:none;
    _filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src="../que/menu_hover_ico4.png");
}
.M5Common
{
  width:121px;
	height:68px;
	margin-top:19px;
}
.M5 {
	background:url(../que/menu_ico5.png) no-repeat;
	_background:none;
    _filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src="../que/menu_ico5.png");
}
.M5Hover
{
    background:url(../que/menu_hover_ico5.png) no-repeat;
	_background:none;
    _filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src="../que/menu_hover_ico5.png");
}

#footer {
    margin: 30px auto -14px;
	overflow:hidden;
}
#footer A {	COLOR: #666666;	TEXT-DECORATION: none}
#footer A:hover
{
    color:#08A8DA;
}
#footer P {	font-weight: normal;margin: 0px 10px;color: #3399cc;}
#contact{
	width:945px;
	margin:0px auto;
	overflow:auto;
	}
.ulCons {
    float: left;
	padding:0px 3px;
	width:225px;
}
.ulCons li {
	font-size:14px;
    line-height: 29px;
	font-family:Tahoma, Geneva, sans-serif;
	text-align:left;
	text-indent:3.5em;
	margin:0px;
}
.ulCons li b
{
    font-size:16px;
}
.coypright{
	width:945px;
	margin:0px auto 10px;
	padding:2px 0px;
	overflow:hidden;
	border-bottom: 2px solid #ccc;
	}
.alCons {
    float: left;
    padding-left: 8px;
}
.alCons li {
	font-size:12px;
    line-height: 19px;
	font-family:Verdana, Geneva, sans-serif;
	text-align:left;
	color:#999;
	margin:0px;
	padding:0px;
}
.alCons_img{
	margin:0px;
	padding:0px;
	position:relative;
	_position:absolute;
	margin-bottom: -2px;
	 border: 0px;
	}
.alcons_txt{
	float:right;
	margin:13px 25px 0px 0px; 
	font-size:16px; 
	color:#666;
	font-family:Verdana, Geneva, sans-serif;
	filter:alpha(opacity=90);-moz-opacity:0.9;opacity:0.9;
	}
#ulLabel {
    height: 32px;
    line-height: 32px;
    margin: 0; padding:0;
}
#ulLabel li{ float:left;padding:0;padding-left:6px; }
a.a555{color:#555555!important; 
 font-size:12px;
 text-decoration: none;
 font-family:  Sans-Serif,'宋体';}
a.a555:hover{text-decoration:underline; color:#ff9900!important; font-family:  Sans-Serif,'宋体';}
  
/*FAQ引用的样式*/
#divFAQ
{
    background: #ccedfc; border: solid #ccedfd 1px; padding-top:8px;
}
#divFAQ span
{
 font-weight: bold; color: #555; display:inline;padding-top:10px; line-height:26px;
}
#divFAQ ul
{
    margin-left: 15px; line-height: 20px;
}
#divFAQ ul li
{
 list-style-type:disc;
 margin-left:16px;
}
#divFAQ ul li a:link
{
    color: #666;text-decoration: none;
}
#divFAQ ul li a:visited
{
    color: #666;text-decoration: none;
}
#divFAQ ul li a:hover {
 color: #F90;text-decoration:none ;
}
.divTWen
{
 margin-bottom:5px; margin-top:5px; margin-left:80px;font-size: 12px; font-weight: bold;
}

/****************用于所有统计页面解决内容居中问题*********************/
  .menu-2{ width:850px; margin:0 auto;}

/*用于查看结果里面的各种图形显示样式a,a:link,a:active*/
.liSelect{border:1px #f9960a solid! important; background:#fffcdb! important;}
.divResultCss{ height: 24px; text-align: center; padding:0; padding-bottom:5px; color:#1f376d;}
.divResultCss ul li{border:1px #98b3e2 solid; margin-left:12px; line-height:24px; float:left; background:#eeeeee; }
.divResultCss ul li a{ text-decoration:none; padding:4px 4px 4px 22px; color:#1f376d; height:16px;}
.divResultCss ul li a:visited{ text-decoration:none; padding:4px 4px 4px 22px; color:#1f376d; height:16px;}
.divResultCss ul li a:hover{text-decoration:none; padding:4px 4px 4px 22px; color:#ff9900;}
.bingtu{BACKGROUND: url(../que/viewstat/pie.gif)  no-repeat 4px 1px;}
.zhutu{BACKGROUND: url(../que/viewstat/column3d.gif)  no-repeat 4px 1px;}
.tiao{BACKGROUND: url(../que/viewstat/bar2d.gif)  no-repeat 4px 1px;}
.zhexian{BACKGROUND: url(../que/viewstat/line.gif)  no-repeat 4px 1px;}
.leida{BACKGROUND: url(../que/viewstat/leidatu.gif)  no-repeat 2px 1px;}
.biaoge{BACKGROUND: url(../que/Design/juzhenti.gif)  no-repeat 4px 1px;}


/*用于选择模版页面*/
.smenu-1 li 
{
 DISPLAY: block; FLOAT: left; WIDTH: 117px; CURSOR: pointer; liNE-HEIGHT: 28px! important; PADDING-TOP: 0; 
 HEIGHT: 28px! important; 
 TEXT-AliGN: center
}
.smenu-1
{
    BORDER-RIGHT: #dce4ed 1px solid; FLOAT: left; HEIGHT: 28px; padding: 0; margin: 0
}
.smenu-2 
{
 BORDER-RIGHT: #dce4ed 1px solid; FLOAT: left; BORDER-LEFT: #dce4ed 1px solid; WIDTH: 833px; 
 PADDING: 0; margin: 0; BORDER-BOTTOM: #dce4ed 1px solid; HEIGHT: 360px
}


/*=============================================填写问卷，设计问卷页面=============================================*/

/******评分题与排序题与滑动条*************/
.spanLeft
{
     float:left;
}
.spanRight
{
    float:right;
}
.slider{width:100%;}
.imageSlider1 { margin:0;padding:0; height:20px; width:100%; background-image:url("../que/scrollbg.gif"); }
.imageBar1    { margin:0;padding:0; height:17px; width:10px; background-image:url("../que/scrfloat.gif"); }


.tableoption
{
     background: #CDD7CC; padding:3px;/*solid 1px*/
}
.tableoption td { border-bottom:1px solid #eeeeee; }
.div_table_radio_question ul {
clear:both;
}
.div_table_radio_question li
{
 margin-bottom:4px;
}
.div_table_radio_question li label,.div_table_radio_question li input,.div_table_radio_question td input
{
    cursor:pointer;
	margin:-5px 5px 0;
}

.div_table_radio_question li img {   border:solid 2px #eeeeee; padding:1px; display:block; }
.div_item_desc{margin-left:19px; font-weight:normal; color:#999999;}
 .inputtext
{
    border:solid 1px #7F9DB9;
}
 .underline
{
    background-color: transparent;
    border:0;
    border-bottom:solid 1px #7F9DB9;
} 
.likertImageTypelist
{
     margin-left:10px; margin-top:5px;
}
.likertImageTypelist li
{
      margin-right:10px; list-style-type:none;
    float:left;
}
.likertImageTypelist li img
{
   vertical-align:middle;
}
.on3{background:url(../que/hand_24.gif) no-repeat;width:24px;height:24px; text-decoration:none;  cursor:pointer;}
.off3{background:url(../que/hand_24_off.gif) no-repeat;width:24px; height:24px;text-decoration:none; cursor:pointer;}

 .on2{background:url(../que/star_24.gif) no-repeat;width:24px;height:24px; text-decoration:none;  cursor:pointer;}
.off2{background:url(../que/star_24_off.gif) no-repeat;width:24px; height:24px;text-decoration:none; cursor:pointer;}

.on6{background:url(../que/xiaoface_24.gif) no-repeat;width:24px;height:24px; text-decoration:none;  cursor:pointer;}
.off6{background:url(../que/xiaoface_24_off.gif) no-repeat;width:24px; height:24px;text-decoration:none; cursor:pointer;}

.on4{background:url(../que/heart_24.gif) no-repeat;width:24px;height:24px; text-decoration:none;  cursor:pointer;}
.off4{background:url(../que/heart_24_off.gif) no-repeat;width:24px; height:24px;text-decoration:none; cursor:pointer;}

.on5{background:url(../que/right_24.gif) no-repeat;width:24px;height:24px; text-decoration:none;  cursor:pointer;}
.off5{background:url(../que/right_24_off.gif) no-repeat;width:24px; height:24px;text-decoration:none; cursor:pointer;}

.goTop{BACKGROUND-IMAGE: url(../que/GoTop1.gif)}
.goBottom {BACKGROUND-IMAGE: url(../que/GoBottom1.gif)}
.upMove {BACKGROUND-IMAGE: url(../que/UpMove.gif)}
.downMove {BACKGROUND-IMAGE: url(../que/DownMove.gif)}
.qButton{font-size:12px;width:82px; height:106px; font-weight:normal;}
.qButton UL {
            margin: 0;width:82px; height:20px; 
        }
.qButton li {
            background-color: #99ccff; PADDING:0;width:82px;
        }
.qButton li a 
{
 border: #fff 1px solid;padding-right: 6px; background-position: 5px 3px;  width:48px; height:20px; 
 display: inline-block; padding-left: 26px;  padding-bottom: 0; margin: 0;cursor: pointer; color: #666;
 line-height: 20px; padding-top: 2px;  background-repeat: no-repeat; text-decoration: none;
}
.qButton li a:hover {border: #999 1px solid; color: #336699;  width:48px;background-color: #ccc}
.matrixtitle{
     float:left;
}


/*****JQ里面提取出来的样式End******/

/*======================================设计问卷里面用的样式===================================*/
/*用于设计问卷页面的样式*/

#content 
{
 height:auto;
}
/*
用于问卷说明的样式
*/
.QDes
{
 line-height:20px;
 color:#555;
 padding:0 10px;
 text-align:left;
}
/*
***********保存链接的样式*********
*/

#savelink  a:link {color:blue;}
#savelink  a:hover{color:#f53d05;}
#abort a:link {color:red;}
#abort a:visited {color:red;}
  /*
***********问卷标题的样式*********
*/
.main_title{
font-size:20px;
font-weight:bold;
width:540px;
padding:10px 0;
text-align:center;
}
 /*
***********预览和填写时每页最下面的公司信息*********
*/
.register_div{
width:150px;
padding-right:5px;
float:right;
}

 /*
*********** 预览按钮样式*********
*/ 
.btn_div_preview{
margin-top:10px;
margin-bottom:5px;
margin-left:340px;

}
 /*
*********** 填写按钮样式*********
*/ 
.btn_div_input{
margin-top:10px;
margin-bottom:5px;
margin-left:420px;

}
/******用问卷星使用流程*****/
.divNoPub ul li{float:left; vertical-align:middle;height:102px; width:212px; color:#666666;}
.publish-step  {
    margin:0;padding:10px 10px 0 18px;line-height:20px;background:url("../que/nbg-launch-5.gif") no-repeat;height:97px;cursor:pointer;
}
.divNoPub .helper-caption{width:176px; }
.divNoPub .helper-caption span{color:#444444;font-weight:bold; font-size:13px;}
.divNoPub ul li a{color:#444444!important;}

/***只用于首页*****/
.downMenu ul{padding:0; margin:0;}
.downMenu ul li{ margin-top:0;}
.downMenu ul li a 
{
	padding-bottom:0; padding-top:7px; margin: 0; cursor: pointer; background: #e8ecf2; color:#205fa2! important;
	text-decoration: none;  display:  inline-block; height:28px;width:82px;
    border: 1px #c2d3ed solid;border-top:none;text-align:center;
}
.downMenu ul li a:hover 
{
	font-weight:normal;background:#fffeff;color:#205fa2;
	background:#fffeff url(../que/index/catch.gif) no-repeat 96% 18%;
}
/*广告图切换开始*/

#focus {
	width:945px;
	margin:0 auto;
}

#focus_con {
	width:945px;
	height:382px;
	position:relative;
	background:url(/images/MasterNew/focus_bg.gif) no-repeat;
}

#slides {
	position:absolute;
	top:5px;
	left:17px;
	z-index:100;
}

.slides_container {
	width:910px;
	height:359px;
	overflow:hidden;
	position:relative;
}
 #album dd
{
    /*翻页栏*/
    position: absolute;
    right: 15px;
    top: 325px;
    background:transparent;
    padding:5px 0px 8px 10px;
}
#album dd a
{
    display: block; /*让其拥有盒子模型*/
    float: left;
    width: 20px; /*呈正方形*/
    height: 20px;
    line-height: 20px;
    text-align: center; /*居中显示*/
    text-decoration: none; /*消除下划线*/
    color: #ff6600;
    font-size:13px;
    opacity:0.7;
    background:#fff;
    filter:alpha(opacity=70);
    border:1px solid #d8d8d8;
}
#album a:hover, #album a.hover
{
    color: #fff;
     background:#ff6600;
     font-weight:bold;
}
/*正文开始*/

#usercontent {
	width:945px;
	margin:10px auto;
	overflow:hidden;
	clear:both;
}

/*左侧填写问卷*/
.user{
	width:371px;
	float:left;
	}
.user_title{
	background:url(/images/MasterNew/wenjuan_title.gif) no-repeat;
	width:336px;
	height:76px;
	text-align:left;
	padding-left:35px;
	}
.user_title ul{
	margin:auto;
	padding:3px 0px 2px 49px;
	overflow:hidden
	}
.user_title ul li{
	display:block;
	float:left;
	padding:2px 3px;
	font-size:14px;
	line-height:26px;
	}
.user_txt{
	font-size:16px; 
	font-family:Tahoma, Geneva, sans-serif;
	font-weight:bold;
	display:inline-block;
	height:54px; line-height:54px;
	}

.user span {
    font-family: Tahoma;
}
.user_img{
	border:0;
	float:right;
	width:300px;
	vertical-align:middle
	}
.box_r{
	width:497px;
	float:right;
	margin:auto;
	overflow:hidden;
	}
.logo_search {
	float:left;
	margin-bottom:17px;
	display:inline;
	overflow:hidden;
}
.logo_search ul li {
    float: left;
	line-height:32px;
}
.search_input{
	background:url(/images/MasterNew/sercha.gif) no-repeat;
	width:192px;
	height:32px;
	padding-left:12px;
	border:0;outline:none;
	text-indent:1em;
	line-height:32px;
	}
.search_txt{
	color:#0065a6; 
	font-size:14px; 
	font-weight:bold; 
	padding-left:3px; 
	 cursor:pointer;
	}

#typical{
	background:url(/images/MasterNew/typical.jpg)  no-repeat;
	width:497px;
	height:261px;
	float:left;
	}
.font18px {
    color: #444444;
    font-size: 18px;
	margin:14px 0px 0px 0px;
	font-weight:normal;
	text-align:left;
	text-indent:1.5em;
}
.linediv {
    background: none repeat scroll 0 0 #b7b7b9;
    clear: both;
    font-size: 0;
    height: 2px;
    line-height: 0;
    margin: 3px 0;
    padding: 0;
    width: 100%;
}
#typical img{
	padding:4px;
	}
#typical div b {
    color: #333333 !important;
    font-size: 13px;
	font-family:Tahoma, Geneva, sans-serif;
}

#newcustomer{
		 margin:20px auto 0px;
		 background:url(/images/MasterNew/newcustomerbg.gif) no-repeat;
		 width:970px;
		 padding:40px 0 0;
		 height:152px;
		 text-align:center;
		 clear:both;
		 }
	.newcustomer_con{
	
		}
	.newcustomertxt{
	text-align:right; 
	padding-right:30px;
	margin-top:35px;
	}
	A.newcustomer-txt{
	font-size:18px; 
	color:#ff5500;
	font-weight:bold;
	text-decoration:underline;
	}
	A.newcustomer-txt:hover{
	color:#ff8902;
	}
/*首页动态显示信息的样式*/
.divRD{
	background:url(/images/MasterNew/wenjuan_bg.jpg) no-repeat;
	width:350px;
	height:222px;
    display: block;
    overflow: hidden;
	padding:10px;
}
.divRD ul {
height:134px;
line-height: 22px;
text-align:left;
display:block;
overflow:hidden;
padding-left:18px;
}

/*首页改版后的样式*/
.greenfont-14px{color: Green; font-size:14px; }

.liline{clear: both; margin:0; padding:0; line-height:0; height:10px; border-bottom: 1px solid #efefef;}
 #ulfaq li a:hover {
color: #F90;
}
#ulfaq li a {
color: #444;
}
.dianfont 
{
-webkit-text-size-adjust: none;
font-size:8px;
height:1px;
line-height:16px;
padding:0 3px 0 0;
display:inline;
}
/*首页三角形样式*/
.bordCss
{
    height:0;
    width:0;
    overflow: hidden;
    font-size: 0;
    line-height: 0;
    border-color:transparent transparent transparent #FF9900 ;
    border-style:dashed dashed dashed solid ;
    border-width:5px;
    border-right-width:0;
    display:inline-block;
    margin:2px 2px 0 0 ;
}
.bordCssGreen
{
    border-color:transparent transparent transparent #26850d ;
    margin:2px 3px 0 0 ;
}
.bordBottomCss
{ 
    border-color: #FF9900 transparent transparent transparent;
    border-style:solid dashed dashed dashed ;
    border-width:5px;
    border-bottom-width:0;
    margin:0;
}
.bordBottomCssN
{
    
    border-style:solid dashed dashed dashed ;
    border-color:#333333 transparent transparent transparent ;
    border-width:3px;
    border-bottom-width:0;
    margin:0 0 4px 2px;
}
.bordBottomCssNF
{
    border-style:solid dashed dashed dashed ;
    border-color:#ffffff transparent transparent transparent ;
    border-width:3px;
    border-bottom-width:0;
    margin:0 0 4px 2px;
}
.spanLeftTxt{ display:inline-block; line-height:24px;cursor:pointer;}

    
/*用于jq页面分享问卷图标样式*/
.freejqbg{
    background-image:url("../que/freejqbg.gif");
    background-repeat:no-repeat;
    display: inline-block;
    overflow:hidden;
}
.copyqbg{
    background-position:-20px 0px;
    height:16px;
    width:16px;  
    margin-right:5px;
}
.jiangbg{
    background-position:-40px 0px;
    height:16px;
    width:16px;
    margin-right:5px;
 }
.searchbg
{
    background-position:-60px 0px;
    height:15px;
    width:13px;   
    margin-right:5px; 
}
.cepingbg{
    background-position:-77px 2px;
    height:16px;
    width:16px;
    margin-right:5px;
 } 
.designQbg
{
    background-position:-95px 0px;
    height:16px;
    width:16px;
}
.wjxhelpbg
{
    background-position:-115px 0px;
    height:16px;
    width:16px;
}
.search{
background: url(../que/search.gif) no-repeat;
 height:16px;}
 .copyq
 {
     background: url(../que/copy.gif) no-repeat;
 height:16px;
 }
 
.jiang{
 background:url(../que/liwu.gif) no-repeat;
 height:16px;}
.ceping{
 background: url(../que/ceping.png) no-repeat;
 height:16px;}
.designQ
{
 background: url(../que/DesignNewQ.gif) no-repeat;
 width:16px;
 height:16px;
}
.wjxhelp
{
 background:url(../que/wjxhelp.gif) no-repeat;
}
.yangben{
 background: url(../que/yangben.gif) no-repeat;
 height:16px;}
.address
{
 background: url(../que/group.gif) no-repeat;
 height:16px;
}

/*******我的问卷页面的“暂停”、“编辑”等使用样式*******/
#stuff UL 
{
 FLOAT: left; MARGIN: 1px 0 1px 5px; WIDTH: auto
}
#stuff li 
{
 CLEAR: none; PADDING-RIGHT: 0; PADDING-LEFT: 0; FLOAT: left; PADDING-BOTTOM: 0; PADDING-TOP: 0
}
#stuff li a 
{
 BORDER-RIGHT: #fff 1px solid; PADDING-RIGHT: 6px; BACKGROUND-POSITION: 7px 3px; BORDER-TOP: #fff 1px solid; 
 DISPLAY: inline-block; PADDING-LEFT: 27px; PADDING-BOTTOM: 0; MARGIN: 2px 0; BORDER-LEFT: #fff 1px solid; 
 CURSOR: pointer; COLOR:#454545; liNE-HEIGHT: 22px; PADDING-TOP: 0; BORDER-BOTTOM: #fff 1px solid; BACKGROUND-REPEAT: no-repeat; 
 TEXT-DECORATION: none; webkit-border-radius: 12px
}
#stuff li a:hover,#stuff li a.hover 
{
 BORDER-RIGHT: #c2e1ef 1px solid; BORDER-TOP: #c2e1ef 1px solid; BORDER-LEFT: #c2e1ef 1px solid; COLOR: #336699; 
 BORDER-BOTTOM: #c2e1ef 1px solid; BACKGROUND-COLOR: #3276b1;color:#fff;border-radius:2px;border:1px solid #285e8e;
}
#stuff li a:active 
{
 BORDER-RIGHT: #6299c5 1px solid; BORDER-TOP: #6299c5 1px solid; BORDER-LEFT: #6299c5 1px solid; COLOR: #fff;
 BORDER-BOTTOM: #6299c5 1px solid; BACKGROUND-COLOR: #6299c5
}
.publish 
{
 BACKGROUND-IMAGE: url(../que/publish.gif)
}
.copy 
{
 BACKGROUND-IMAGE: url(../que/copy.gif)
}
.delete 
{
 BACKGROUND-IMAGE: url(../que/cross.gif)
}
.pause
{
    BACKGROUND-IMAGE: url(../que/stop.gif)
}
.run
{
    BACKGROUND-IMAGE: url(../que/run.gif)
}
.invite 
{
 BACKGROUND-IMAGE: url(../que/invite_ico.gif)
}
.emed 
{
 BACKGROUND-IMAGE: url(../que/emed.gif)
}
.entries 
{
 BACKGROUND-IMAGE: url(../que/application_view_list.gif)
}
.report 
{
 BACKGROUND-IMAGE: url(../que/chart_bar.gif)
}
.source 
{
 BACKGROUND-IMAGE: url(../que/arealMay.gif)
}
.jcfx 
{
 BACKGROUND-IMAGE: url(../que/jcfx.gif)
}
.view 
{
 BACKGROUND-IMAGE: url(../que/application_form.gif)
}
.edit 
{
 BACKGROUND-IMAGE: url(../que/application_form_edit.gif)
}
.manage{
 BACKGROUND-IMAGE: url(../que/manageQ.gif)}
.upload
{
    BACKGROUND-IMAGE: url(../que/uploadpic.gif)
}
 
.review
{
    BACKGROUND-IMAGE:url(/App_Themes/Blue/Images/LeaveMessage/Outbox.gif)
}
.folder
{
    BACKGROUND-IMAGE:url("/images/master_images/file_ico.gif")
}
.complete 
{
 BACKGROUND-IMAGE: url(../que/complete.gif)
}
.password 
{
 BACKGROUND-IMAGE: url(../que/key.gif)
}
.tag 
{
 BACKGROUND-IMAGE: url(../que/tag.gif)
}
.key
{
 BACKGROUND-IMAGE: url(../que/buy.gif) 
}
/***************Flash设置样式******************/
#divFlashSet
{
 border: 2px; border-color: #999; border-style: solid; float:left; background: #eeefff;
 font-size: 12px; width: 240px; line-height: 16px; padding:10px;margin-top:300px;
}
/**********下载答卷页面引用样式************/
.text2
{
 font-size: 12px;
 color: #333;
 line-height: 18px;
}
.tableCellPadding
{
 padding-right: 15px;
 padding-left: 0;
 padding-bottom: 1px;
 padding-top: 1px;
 white-space:nowrap;
 text-align:left;
}
.text 
{ 
 COLOR: #444; 
 font-size:12px;
 liNE-HEIGHT: 20px;
}
/***********只用于注册页面的提示信息**************/
div.notetrue a:link,div.notetrue a:visited,div.notetrue a:hover
{
 color:#399600
}
.notetrue
{
 float:left;
 text-align:left;
 font-size:12px;
 padding:3px;
 line-height:130%;
 color:#003CC8;
 background-repeat:no-repeat;
 background-position:2 3px;
 margin:0;
 position:relative !important;
 margin-left:0 !important;
 vertical-align:middle
}
div.noteok
{
 float:left;
 text-align:left;
 font-size:12px;
 padding:3px;
 line-height:130%;
 color:#5A8F00;
 background-repeat:no-repeat;
 background-position:2 3px;
 margin:0;
 position:relative !important;
 margin-left:0 !important;
}
div.noteawoke
{
 float:left;
 text-align:left;
 padding:3px;
 line-height:130%;
 background-repeat:no-repeat;
 background-position:2 3px;
 margin:0;
 color:#FE0000;
}


/*用于页面布局*/
#main 
{
 PADDING-RIGHT: 0; PADDING-LEFT: 0; PADDING-BOTTOM: 20px; MARGIN: 0 0 0 20px; PADDING-TOP: 20px
}


#rbbox
{
    position:absolute;right:0;bottom:0; font-size: 12px; Z-INDEX:999999;
    overflow:hidden; 
} 
.messagetck {
width: 279px;
background: #5a9e00;
border: 1px solid #CFE19F;
padding: 5px;
}
.message_content {
background: white;
border: 1px solid white;
padding: 10px 15px 10px 15px;
}
.message_h1_span1 {
float: left;
font-weight: bold;
font-size: 14px;
color: #333;
height:23px;
line-height:23px;
}
.message_h1_span2 {
float: right;
}
.message_text {
padding: 0px 0px 0px 10px;
text-align: left;
}
.divContent
{
      font-size: 12px;  padding:3px;  width:220px;line-height:18px;
    color: #1f336b;
}

/*用于查看结果里面的表格样式*/

.tableResult
{
 border-bottom:2px solid #999999;
 border-top:1px solid #999999;
 border-left:1px solid #999999;
 border-right:2px solid #999999;
}
.tableResult  td
{
     border-right:1px solid #999999;
 border-bottom:1px solid #999999;
}

/*设置属性页面：得分设置引用的样式*/
.trCss
{ 
 background:#eee;
 height:20px;
 font-weight:bold;
 text-align:center;
}
.divContentscore
{
 background:#eff6fb;
 color:#444;
 width:474px;
 border:0;
 padding:10px;
}
/*用于更多成功案例页面*/
#divMMU li{width:760px; margin-top:8px;}
.liLeft{ margin-right:15px;  background:#eff7ff; padding:5px 0;}
.spanDate{padding-left:15px; font-weight:bold;}

/*用于专业版模版页面*/
.divQ{ margin-left:4px; width:212px; margin-bottom:10px;height:560px;vertical-align:middle;  overflow:auto; white-space: nowrap;}
.MenuBox .titBox a,
.MenuBox .titBox a:visited,
.MenuBox2 .titBox a,
.MenuBox2 .titBox a:visited {padding-left:20px;color:#003;font-size:12px;display:block;}
.MenuBox .titBox span a {background:url(../que/QuestionnaireStencil/ico_folder_open.gif) no-repeat 0 40%;}
.MenuBox .titBox span.Fst a {background:url(../que/QuestionnaireStencil/ico_folder_open_fst.gif) no-repeat 0 40%;}
.MenuBox .titBox span.Lst a {background:url(../que/QuestionnaireStencil/ico_folder_open_lst.gif) no-repeat 0 40%;}
.MenuBox2 .titBox span a {background:url(../que/QuestionnaireStencil/ico_folder.gif) no-repeat 0 40%;}
.MenuBox2 .titBox span.Fst a {background:url(../que/QuestionnaireStencil/ico_folder_fst.gif) no-repeat 0 40%;}
.MenuBox2 .titBox span.Lst a {line-height:150%;background:url(../que/QuestionnaireStencil/icon_exit.gif) no-repeat 0 0;}
.MenuBox2 .txtBox {display:none;}
.MenuBox .txtBox ul li {padding-left:48px;line-height:150%;}
.MenuBox .txtBox .num {color:#e00;}
.MenuBox .txtBox ul {background:url(../que/QuestionnaireStencil/line_y.gif) repeat-y 4px 0;}
.MenuBox .txtBox ul li {background:url(../que/QuestionnaireStencil/t.gif) no-repeat 28px 40%; font-size:12px;}
.MenuBox .txtBox ul li.Lst {background:url(../que/QuestionnaireStencil/t_lst.gif) no-repeat 28px 10%;}

.MenuBox2 .txtBottom {display:none;}
.MenuBox .txtBottom ul li {padding-left:48px;line-height:150%;}
.MenuBox .txtBottom .num {color:#e00;} 
.MenuBox .txtBottom ul li {background:url(../que/QuestionnaireStencil/t.gif) no-repeat 28px 40%; font-size:12px;}
.MenuBox .txtBottom ul li.Lst {background:url(../que/QuestionnaireStencil/t_lst.gif) no-repeat 28px 10%;}
.MenuBox .txtBottom ul li.top{background:url(../que/QuestionnaireStencil/t_lst.gif) no-repeat 28px 10%;}
.MenuBox .txtBottom span.Bot a{background:url(../que/QuestionnaireStencil/ico_folder_bottom.gif) no-repeat 0 0;}

.divMouse{text-align: left}
.divMouse li a 
{
    PADDING-RIGHT: 6px; PADDING-BOTTOM: 0; MARGIN: 0 0; CURSOR: pointer; padding-left:4px;
    COLOR: #666; BACKGROUND-REPEAT: no-repeat; TEXT-DECORATION: none;  DISPLAY:  inline-block;  
}
 .divMouse li a:visited 
{
    PADDING-RIGHT: 6px; PADDING-BOTTOM: 0; MARGIN: 0 0; CURSOR: pointer; padding-left:4px;
    COLOR: #666; BACKGROUND-REPEAT: no-repeat; TEXT-DECORATION: none;  DISPLAY:  inline-block;  
}
.divMouse li a:hover 
{
     color:#ffffff; background-color:#3366cc; 
}


/*用于问卷推荐服务系列页面的样式*/
ul.stat_tab {
display:block;
width:100%;
}
 ul.stat_tab li {
margin-bottom:-3px;
display:inline;
float:left;
margin-left:20px;

}

 ul.stat_tab li a,ul.stat_tab li a:visited{
background:url("/images/WJX/ViewStat/stat_tab_l.gif") no-repeat scroll left center transparent;
color:#406899;
cursor:pointer;
float:left;
font-weight:bold;
margin:0;
padding-left:4px;
text-align:center;
text-decoration:none;
}

 ul.stat_tab li.current a, ul.stat_tab li.current a:visited{
background:url("/images/WJX/ViewStat/stat_tab_current_l.gif") no-repeat scroll left center transparent;
color:#FFFFFF;
float:left;
font-size:14px;
height:32px;
line-height:32px;
padding-left:3px;
text-decoration:none;
}
ul.stat_tab li a span{
background:url("/images/WJX/ViewStat/stat_tab_r.gif") no-repeat scroll right center transparent;
float:left;
height:29px;
line-height:29px;
padding:0 15px 0 10px;
}
ul.stat_tab li.current a span{
background:url("/images/WJX/ViewStat/stat_tab_current_r.gif") no-repeat scroll right center transparent;
display:block;
float:left;
height:32px;
padding:0 15px 0 10px;
}

#divTabMenu
{ height: 24px; width: 840px; margin: 0px auto;border-bottom:4px #0978d5 solid;
    padding: 0px 0px 0px 0px; background: url(../que/searchbg01.gif);
}
.btnsNormal A
{
 DISPLAY: inline; FONT-WEIGHT: bold; margin-left:12px;
 FONT-SIZE: 13px; FLOAT: left; PADDING-BOTTOM: 2px;  CURSOR: pointer; COLOR: #444444! important; 
 PADDING-TOP: 5px; width:73px;line-height:17px; 
 TEXT-DECORATION: none; text-align:center;BACKGROUND-IMAGE: url(../que/searchonbgNo.gif) ;
}
.btnsActive A
{
 DISPLAY: inline;FONT-WEIGHT: bold; 
 FONT-SIZE: 13px; FLOAT: left; PADDING-BOTTOM:2px; CURSOR: pointer; COLOR: #ffffff! important; 
 PADDING-TOP: 5px;  line-height:17px; width:73px;text-align:center; margin-left:12px! important;
 BACKGROUND-IMAGE: url(../que/searchonbg.gif) ; TEXT-DECORATION: none;  
}
.btnsNormal A:hover {
 background-repeat: repeat-x;background: url(../que/searchonbgHover.gif); color:#05398c! important;line-height:17px; 
 PADDING-TOP: 5px;PADDING-BOTTOM: 2px;DISPLAY: inline; width:73px;FONT-WEIGHT: bold; text-align:center;FONT-SIZE: 13px;
}
.btnsNormal a:visited{color:#444444;}


.btnsNormalL A
{
 DISPLAY: block; FONT-WEIGHT: bold; margin-left:15px;
 FONT-SIZE: 13px; FLOAT: left; PADDING-BOTTOM: 2px;  CURSOR: pointer; COLOR: #444444! important; 
 PADDING-TOP: 5px; width:108px;line-height:17px; 
 TEXT-DECORATION: none; text-align:center;BACKGROUND-IMAGE: url(../que/searchonbgLNo.gif) ;
}
.btnsActiveL A
{
 DISPLAY: block;FONT-WEIGHT: bold; 
 FONT-SIZE: 13px; FLOAT: left; PADDING-BOTTOM:2px; CURSOR: pointer; COLOR: #ffffff! important; 
 PADDING-TOP: 5px;  line-height:17px; width:108px;text-align:center; margin-left:15px;
 BACKGROUND-IMAGE: url(../que/searchonbgL.gif) ; TEXT-DECORATION: none;  
}
.btnsNormalL A:hover {
 background-repeat: repeat-x;background: url(../que/searchonbgLHover.gif); color:#05398c! important;line-height:17px; 
 PADDING-TOP: 5px;PADDING-BOTTOM: 2px;DISPLAY: block; width:108px;FONT-WEIGHT: bold; text-align:center;FONT-SIZE: 13px;
}
.btnsNormalL a:visited{color:#444444;}


.btnsNormalLL A
{
 DISPLAY: block; FONT-WEIGHT: bold; margin-left:15px;
 FONT-SIZE: 13px; FLOAT: left; PADDING-BOTTOM: 2px;  CURSOR: pointer; COLOR: #444444! important; 
 PADDING-TOP: 5px; width:128px;line-height:17px; 
 TEXT-DECORATION: none; text-align:center;BACKGROUND-IMAGE: url(../que/searchonbgLLNo.gif) ;
}
.btnsActiveLL A
{
 DISPLAY: block;FONT-WEIGHT: bold; 
 FONT-SIZE: 13px; FLOAT: left; PADDING-BOTTOM:2px; CURSOR: pointer; COLOR: #ffffff! important; 
 PADDING-TOP: 5px;  line-height:17px; width:128px;text-align:center; margin-left:15px;
 BACKGROUND-IMAGE: url(../que/searchonbgLL.gif) ; TEXT-DECORATION: none;  
}
.btnsNormalLL A:hover {
 background-repeat: repeat-x;background: url(../que/searchonbgLLHover.gif); color:#05398c! important;line-height:17px; 
 PADDING-TOP: 5px;PADDING-BOTTOM: 2px;DISPLAY: block; width:128px;FONT-WEIGHT: bold; text-align:center;FONT-SIZE: 13px;
}
.btnsNormalLL a:visited{color:#444444;}

.btns A:active { COLOR: #ffffff; 
 BACKGROUND-COLOR: #6299c5
}
.divPromoteService{ margin:0 auto; width:840px; padding:10px 0 20px; line-height:24px; color:#444444; font-size:13px;}
.divPromoteService b{ font-size:14px;}
.fontCheng{color:#ff6600;}
#succeedcase li{float:left;}

.libg{background-image: url(../que/Icon.gif);padding-left:15px; background-repeat: no-repeat;background-position : 0 45%;}

/*企业版自定义域名登录页面*/
#userlogin_body {
 PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: url(../Images/wjx/vip/user_all_bg.gif) #226cc5 repeat-x 50% top; PADDING-BOTTOM: 0px; MARGIN: 110px 0px 0px; FONT: 12px/150% Arial, "宋体" ,Helvetica,sans-serif; PADDING-TOP: 0px; TEXT-DECORATION: none
}

#user_login {
 PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
#user_login DL {
 PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
#user_login DD {
 PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
#user_login {
 MARGIN: 0px auto; WIDTH: 590px
}
.user_bottom_c A {
 COLOR: yellow!important;  
  text-decoration:none;
}
.user_bottom_c A:hover {
 COLOR: #c00
}

.TxtUserNameCssClass {
 BORDER-TOP-WIDTH: 0px; PADDING-LEFT: 25px; BORDER-LEFT-WIDTH: 0px; BACKGROUND: url(../Images/wjx/vip/user_login_name.gif) no-repeat; BORDER-BOTTOM-WIDTH: 0px; WIDTH: 140px; liNE-HEIGHT: 20px; HEIGHT: 21px; BORDER-RIGHT-WIDTH: 0px
}
.TxtPasswordCssClass {
 BORDER-TOP-WIDTH: 0px; PADDING-LEFT: 25px; BORDER-LEFT-WIDTH: 0px; BACKGROUND: url(../Images/wjx/vip/user_login_password.gif) no-repeat; BORDER-BOTTOM-WIDTH: 0px; WIDTH: 140px; liNE-HEIGHT: 20px; HEIGHT: 21px; BORDER-RIGHT-WIDTH: 0px
}


div.bar {
background:transparent url(../que/viewstat/vote_cl_bar.png) no-repeat scroll 0 0;
float:left;
height:16px;
margin:3px 0 0;
padding:0 0 0 1px;
width:152px;
text-align:left;
}
div.bar .precent
{
    overflow:hidden;
}
div .bar img
{
   border:0px;
   padding:0px;
}
/*****************************填写问卷与设计问卷*************
/*分页与分栏*/
.div_title_page_question{
    padding:2px 0; 
    width:98%; margin:22px auto; clear:both;
    line-height:20px;
}
.div_title_cut_question{
    padding:2px 0; width:97%;margin:10px auto;
    line-height:20px;
}