<?xml version="1.0" encoding="UTF-8" ?>    
<!DOCTYPE mapper   
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"   
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 
    
<mapper namespace="com.cmos.china.mobile.media.core.bean.Module">
	
	<!-- 根据参数取count -->
	<select id="module_getCountByParams" parameterType="java.util.Map" resultType="int">
		select count(*) from module where 1=1
		<if test="template != null and template != ''">
			and template = #{template} 
		</if>
		<if test="status != null and status != ''">
			and status = #{status} 
		</if>
	</select> 
	
	<!-- 根据参数取列表 -->
	<select id="module_getListByParams" parameterType="java.util.Map" resultType="com.cmos.china.mobile.media.core.bean.Module">
		select * from module where 1=1
		<if test="template != null and template != ''">
			and template = #{template} 
		</if>
		<if test="status != null and status != ''">
			and status = #{status} 
		</if>
		order by sequence
	</select>  
	
	<!-- 加载数据 -->  
	<select id="module_get"  resultType="com.cmos.china.mobile.media.core.bean.Module">  
		select * from module where id=#{id}  
	</select> 
</mapper>  