.main{
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    background-color: #fff;
    overflow: auto;
    box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
    margin-bottom: 100px;
    padding-top: 20px;
    padding-bottom: 40px;
    min-height: 420px;
}
.main > .row{
    margin-top: 20px;
}
.center{
    margin-top: 80px;
}
.control-label{
    font-weight: normal;
}
.submit{
    width: 80px;
    height: 35px;
    color: #fff;
    margin-top: 50px;
    background: #b71c22;
}
.submit:hover,
.submit:focus,
.submit:visited {
    color: #fff !important;
    background-color: #a31d24;
}
.btn-default, .btn-default:hover, .btn-default:focus, .btn-default:visited {
    color: #b7b7b7;
    background-color: #fff;
    width: 200px;
    height: 50px;
    line-height: 36px;
    font-size: 16px;
}

.btn-default.active, .btn-default.active:hover {
    color: #b12727;
    background-color: #eeeeee;
    font-weight: 600;
    border: 0;
}
.alert-danger{
    display: none;
}