#content .content-inner .progressContent .thirdContent p{width:270px;}
.loadingBtn{background:#ffb031 url(../img/loadingBtn.gif) center no-repeat !important;/* background-size:25px !important; */}
#content .content-inner .progressDiv .progressDiv-inner{width:660px;}
#content .content-inner .progressDiv .firstStep{margin-left:145px;}