td {
	font-family: "宋体", "Arial", "Times New Roman", "System";
	font-size: 12px;
	color: #000000;
	text-decoration: none;
}
a:link {
	font-family: "宋体", "Arial", "Times New Roman", "System";
	font-size: 12px;
	line-height: 20px;
	color: #000000;
	text-decoration: none;
}
a:visited {
	font-family: "宋体", "Arial", "Times New Roman", "System";
	font-size: 12px;
	line-height: 20px;
	color: #000000;
	text-decoration: none;
}
a:hover {
	font-family: "宋体", "Arial", "Times New Roman", "System";
	font-size: 12px;
	line-height: 20px;
	color: #0068DB;
	text-decoration: none;
}
a:active {
	font-family: "宋体", "Arial", "Times New Roman", "System";
	font-size: 12px;
	line-height: 20px;
	color: #000000;
	text-decoration: none;
}
a.index-menu-1:link {
	font-family: "宋体", "Arial", "Times New Roman", "System";
	font-size: 12px;
	color: #000000;
	text-decoration: none;
	font-weight: bold;
}
a.index-menu-1:visited {
	font-family: "宋体", "Arial", "Times New Roman", "System";
	font-size: 12px;
	color: #000000;
	text-decoration: none;
	font-weight: bold;
}
a.index-menu-1:hover {
	font-family: "宋体", "Arial", "Times New Roman", "System";
	font-size: 12px;
	color: #0068DB;
	text-decoration: none;
	font-weight: bold;
}
a.index-menu-1:active {
	font-family: "宋体", "Arial", "Times New Roman", "System";
	font-size: 12px;
	color: #000000;
	text-decoration: none;
	font-weight: bold;
}
.index-txt-727272 {
	font-family: "宋体", "Arial", "Times New Roman", "System";
	font-size: 12px;
	line-height: 20px;
	color: #727272;
	text-decoration: none;
}
a.index-menu-2:link {
	font-family: "宋体", "Arial", "Times New Roman", "System";
	font-size: 12px;
	color: #1E53D7;
	text-decoration: none;
}
a.index-menu-2:visited {
	font-family: "宋体", "Arial", "Times New Roman", "System";
	font-size: 12px;
	color: #1E53D7;
	text-decoration: none;
}
a.index-menu-2:hover {
	font-family: "宋体", "Arial", "Times New Roman", "System";
	font-size: 12px;
	color: #000000;
	text-decoration: none;
}
a.index-menu-2:active {
	font-family: "宋体", "Arial", "Times New Roman", "System";
	font-size: 12px;
	color: #1E53D7;
	text-decoration: none;
}
.index-txt-0067D5 {
	font-family: "宋体", "Arial", "Times New Roman", "System";
	font-size: 12px;
	line-height: 20px;
	color: #0067D5;
	text-decoration: none;
}
a.index-menu-3:link {
	font-family: "宋体", "Arial", "Times New Roman", "System";
	font-size: 12px;
	color: #0067D8;
	text-decoration: none;
	font-weight: bold;
}
a.index-menu-3:visited {
	font-family: "宋体", "Arial", "Times New Roman", "System";
	font-size: 12px;
	color: #0067D8;
	text-decoration: none;
	font-weight: bold;
}
a.index-menu-3:hover {
	font-family: "宋体", "Arial", "Times New Roman", "System";
	font-size: 12px;
	color: #000000;
	text-decoration: none;
	font-weight: bold;
}
a.index-menu-3:active {
	font-family: "宋体", "Arial", "Times New Roman", "System";
	font-size: 12px;
	color: #0067D8;
	text-decoration: none;
	font-weight: bold;
}
a.contant-menu-1:link {
	font-family: "宋体", "Arial", "Times New Roman", "System";
	font-size: 12px;
	color: #0067D8;
	text-decoration: none;
}
a.contant-menu-1:visited {
	font-family: "宋体", "Arial", "Times New Roman", "System";
	font-size: 12px;
	color: #0067D8;
	text-decoration: none;
}
a.contant-menu-1:hover {
	font-family: "宋体", "Arial", "Times New Roman", "System";
	font-size: 12px;
	color: #000000;
	text-decoration: none;
}
a.contant-menu-1:active {
	font-family: "宋体", "Arial", "Times New Roman", "System";
	font-size: 12px;
	color: #0067D8;
	text-decoration: none;
}
.contant-txt-FFFFFF {
	font-family: "宋体", "Arial", "Times New Roman", "System";
	font-size: 12px;
	line-height: 20px;
	color: #FFFFFF;
	text-decoration: none;
}
.contant-txt-000000-14 {
	font-family: "宋体", "Arial", "Times New Roman", "System";
	font-size: 14px;
	font-weight: bold;
	color: #000000;
	text-decoration: none;
}
.contant-search-80 {
	font-family: "宋体", "Arial", "Times New Roman", "System";
	font-size: 12px;
	color: #000000;
	text-decoration: none;
	background-color: #FFFFFF;
	height: 18px;
	width: 80px;
	padding-top: 1px;
	border: 1px solid #000000;
}
.contant-search-50 {
	font-family: "宋体", "Arial", "Times New Roman", "System";
	font-size: 12px;
	color: #000000;
	text-decoration: none;
	background-color: #FFFFFF;
	height: 18px;
	width: 50px;
	padding-top: 1px;
	border: 1px solid #000000;
}
.contant-form {
	FONT-SIZE: 12px;
	border-top: 1px solid #6C93DE;
	border-right: 0px;
	border-bottom: 0px;
	border-left: 1px solid #6C93DE;

}
}
.contant-txt-1E52D6 {
	font-family: "宋体", "Arial", "Times New Roman", "System";
	font-size: 12px;
	line-height: 20px;
	color: #585858;
	text-decoration: none;
}
.contant-search-30 {
	font-family: "宋体", "Arial", "Times New Roman", "System";
	font-size: 12px;
	color: #000000;
	text-decoration: none;
	height: 18px;
	width: 45px;
	border: 1px solid #666666;
}
a.index-menu-4:link {
	font-family: "宋体", "Arial", "Times New Roman", "System";
	font-size: 12px;
	color: #666666;
	text-decoration: none;
}
a.index-menu-4:visited {
	font-family: "宋体", "Arial", "Times New Roman", "System";
	font-size: 12px;
	color: #666666;
	text-decoration: none;
}
a.index-menu-4:hover {
	font-family: "宋体", "Arial", "Times New Roman", "System";
	font-size: 12px;
	color: #000000;
	text-decoration: none;
}
a.index-menu-4:active {
	font-family: "宋体", "Arial", "Times New Roman", "System";
	font-size: 12px;
	color: #666666;
	text-decoration: none;
}
.homepage-txt-243EB5 {
	font-family: "宋体", "Arial", "Times New Roman", "System";
	font-size: 12px;
	color: #243EB5;
	text-decoration: none;
}
.homepage-txt-223EB4 {
	font-family: "宋体", "Arial", "Times New Roman", "System";
	font-size: 12px;
	line-height: 20px;
	color: #223EB4;
	text-decoration: none;
}
.homepage-login-login01 {
	font-family: "宋体", "Arial", "Times New Roman", "System";
	font-size: 12px;
	color: #000000;
	text-decoration: none;
	background-color: #DFEAFE;
	height: 18px;
	width: 130px;
	padding-top: 1px;
	border: 1px solid #507ED4;
}
.homepage-login-login02 {
	font-family: "宋体", "Arial", "Times New Roman", "System";
	font-size: 12px;
	color: #000000;
	text-decoration: none;
	background-color: DFEAFE;
	height: 18px;
	width: 45px;
	padding-top: 1px;
	border: 1px solid #507ED4;
}
