<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.product.treasuremall.mapper.AreaMapper">
	<select id="getCountByParams" parameterType="java.util.HashMap" resultType="int">
		select count(*) from area where 1=1 
		<if test='level != null and level != ""'>
            and level= #{level}
        </if>
		<if test='pid != null and pid != ""'>
            and pid= #{pid}
        </if>
   		<if test='scode != null and scode != ""'>
            and scode= #{scode}
        </if>
	</select>
	
	<select id="getListByParams" parameterType="java.util.HashMap" resultType="cn.product.treasuremall.entity.Area">
		select * from area where 1=1 
		<if test='level != null and level != ""'>
            and level= #{level}
        </if>
		<if test='pid != null and pid != ""'>
            and pid= #{pid}
        </if>
        <if test='scode != null and scode != ""'>
            and scode= #{scode}
        </if>
        <choose>
	        <when test='sort != null and sort != ""'>
	        	order by ${sort}
	        </when>
	        <otherwise>
	        	order by scode
	        </otherwise>
        </choose>
        <if test="offSet != null and offSet != -1 and pageSize != null and pageSize != -1">
        	limit #{offSet},#{pageSize};
        </if>
	</select>
</mapper>