<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.product.treasuremall.mapper.BannerMapper">
	<select id="getCountByParams" parameterType="java.util.HashMap" resultType="int">
		select count(*) from banner where 1=1 
		<if test='type != null and type != ""'>
            and type= #{type}
        </if>
        <if test='title != null and title != ""'>
            and title like '%${title}%'
        </if>
        <if test='level != null and level != ""'>
            and (front_user_level is null or front_user_level like '%${level}%')
        </if>
        <choose>
	        <when test='status != null and status != ""'>
	        	and status = #{status}
	        </when>
	        <otherwise>
	        	and status in ('normal','disable')
	        </otherwise>
        </choose>
	</select>
	
	<select id="getListByParams" parameterType="java.util.HashMap" resultType="cn.product.treasuremall.entity.Banner">
		select * from banner where 1=1 
		<if test='type != null and type != ""'>
            and type= #{type}
        </if>
        <if test='title != null and title != ""'>
            and title like '%${title}%'
        </if>
        <if test='level != null and level != ""'>
            and (front_user_level is null or front_user_level like '%${level}%')
        </if>
        <choose>
	        <when test='status != null and status != ""'>
	        	and status = #{status}
	        </when>
	        <otherwise>
	        	and status in ('normal','disable')
	        </otherwise>
        </choose>
        <choose>
	        <when test='sort != null and sort != ""'>
	        	order by ${sort}
	        </when>
	        <otherwise>
	        	order by sort
	        </otherwise>
        </choose>
        <if test="offSet != null and offSet != -1 and pageSize != null and pageSize != -1">
        	limit #{offSet},#{pageSize};
        </if>
	</select>
</mapper>