<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.product.treasuremall.mapper.FrontUserScoreHistoryMapper">
	
	<select id="getCountByParams" parameterType="java.util.HashMap" resultType="int">
		select count(*) from front_user_score_history where 1=1 
		<if test='frontUser != null and frontUser != ""'>
            and front_user= #{frontUser}
        </if>
        <if test='frontUserShowId != null and frontUserShowId != ""'>
            and front_user_show_id= #{frontUserShowId}
        </if>
        <if test='type != null and type != ""'>
            and type= #{type}
        </if>
        <if test='orderType != null and orderType != ""'>
            and order_type= #{orderType}
        </if>
        <if test='orderId != null and orderId != ""'>
            and order_id= #{orderId}
        </if>        
        <if test='starttime != null and starttime != ""'>
            and <![CDATA[ createtime >= #{starttime} ]]>
		</if>
        <if test='endtime != null and endtime != ""'>
            and <![CDATA[ createtime <= #{endtime} ]]>
        </if>
	</select>
	
	<select id="getListByParams" parameterType="java.util.HashMap" resultType="cn.product.treasuremall.entity.FrontUserScoreHistory">
		select * from front_user_score_history where 1=1 
		<if test='frontUser != null and frontUser != ""'>
            and front_user= #{frontUser}
        </if>
        <if test='frontUserShowId != null and frontUserShowId != ""'>
            and front_user_show_id= #{frontUserShowId}
        </if>
        <if test='type != null and type != ""'>
            and type= #{type}
        </if>
        <if test='orderType != null and orderType != ""'>
            and order_type= #{orderType}
        </if>
        <if test='orderId != null and orderId != ""'>
            and order_id= #{orderId}
        </if> 
        <if test='starttime != null and starttime != ""'>
            and <![CDATA[ createtime >= #{starttime} ]]>
		</if>
        <if test='endtime != null and endtime != ""'>
            and <![CDATA[ createtime <= #{endtime} ]]>
        </if>
        <choose>
	        <when test='sort != null and sort != ""'>
	        	order by ${sort}
	        </when>
	        <otherwise>
	        	order by createtime desc
	        </otherwise>
        </choose>
        <if test="offSet != null and offSet != -1 and pageSize != null and pageSize != -1">
        	limit #{offSet},#{pageSize};
        </if>
	</select>
	
</mapper>