:global{
    .th-fixed{
        .div-rank{
            left: 24px !important;
        }
        .div-team{
            left: 124px;
        }
        .div-games{
            left: 372px;
        }
        .div-victory{
            left: 434px;
        }
        .div-goal{
            left: 574px;
        }
    }
    .ranking-role{
        margin-top: 16px;
        background:rgba(255,255,255,1);
        padding: 32px 24px 60px 24px;
        color: #6D6C68;
        font-size: 24px;
        line-height:36px;
        h3{
            font-size: 28px;
            padding-bottom: 16px;
        }
    }
    .ranking-table{
        text-align: center;
        width:100%;
        img{
            max-width:40px;
            max-height: 40px; 
            vertical-align: middle;
            margin-right: 16px;
            margin-top: -6px;
        }
        span{
            line-height: 40px;
            display: inline-block;
        }
        .text-left{
            text-align: left;
        }
        .color-red{
            color:#ED3224;
        }
        .color-yellow{
            color: #FFBE0A;
        }
        .color-green{
            color: #42BD56;
        }
        .color-greens{
            color: #90DA9C;
        }
    }
    
}