<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.product.treasuremall.mapper.ActivityInfoRecommendRankingMapper">
	
	<select id="getCountByParams" parameterType="java.util.HashMap" resultType="int">
		select count(*) from activity_info_recommend_ranking where 1=1 
		<if test='type != null and type != ""'>
            and type= #{type}
        </if>
		<if test='frontUser != null and frontUser != ""'>
            and front_user= #{frontUser}
        </if>
        <choose>
			<when test='status != null and status != ""'>
	        	and status = #{status}
	        </when>
	        <otherwise>
	        	and status in ('normal','disable')
	        </otherwise>
        </choose>
	</select>
	
	<select id="getListByParams" parameterType="java.util.HashMap" resultType="cn.product.treasuremall.entity.ActivityInfoRecommendRanking">
		select * from activity_info_recommend_ranking where 1=1 
		<if test='type != null and type != ""'>
            and type= #{type}
        </if>
		<if test='frontUser != null and frontUser != ""'>
            and front_user= #{frontUser}
        </if>
        <choose>
			<when test='status != null and status != ""'>
	        	and status = #{status}
	        </when>
	        <otherwise>
	        	and status in ('normal','disable')
	        </otherwise>
        </choose>
        <choose>
	        <when test='sort != null and sort != ""'>
	        	order by ${sort}
	        </when>
	        <otherwise>
	        	order by createtime asc
	        </otherwise>
        </choose>
        <if test="offSet != null and offSet != -1 and pageSize != null and pageSize != -1">
        	limit #{offSet},#{pageSize};
        </if>
	</select>
</mapper>