<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.product.treasuremall.mapper.LuckygameGoodsMapper">
	<select id="getCountByParams" parameterType="java.util.HashMap" resultType="int">
		select count(*) from luckygame_goods where 1=1 
		<if test='gameType != null and gameType != ""'>
            and game_type= #{gameType}
        </if>
		<if test='goodsId != null and goodsId != ""'>
            and goods_id= #{goodsId}
        </if>
   		<if test='names != null and names != ""'>
            and title like '%${names}%'
        </if>
        <choose>
	        <when test='status != null and status != ""'>
	        	and status = #{status}
	        </when>
	        <otherwise>
	        	and status in ('normal','disable')
	        </otherwise>
        </choose>
	</select>
	
	<select id="getListByParams" parameterType="java.util.HashMap" resultType="cn.product.treasuremall.entity.LuckygameGoods">
		select * from luckygame_goods where 1=1 
		<if test='gameType != null and gameType != ""'>
            and game_type= #{gameType}
        </if>
		<if test='goodsId != null and goodsId != ""'>
            and goods_id= #{goodsId}
        </if>
   		<if test='names != null and names != ""'>
            and title like '%${names}%'
        </if>
        <choose>
	        <when test='status != null and status != ""'>
	        	and status = #{status}
	        </when>
	        <otherwise>
	        	and status in ('normal','disable')
	        </otherwise>
        </choose>        
        <choose>
	        <when test='sort != null and sort != ""'>
	        	order by ${sort}
	        </when>
	        <otherwise>
	        	order by sort desc
	        </otherwise>
        </choose>
        <if test="offSet != null and offSet != -1 and pageSize != null and pageSize != -1">
        	limit #{offSet},#{pageSize};
        </if>
	</select>
</mapper>