<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.product.payment.mapper.UserRechargeMapper">
	
	<select id="getCountByParams" parameterType="java.util.HashMap" resultType="int">
		select count(*) from user_recharge where 1=1 
        <if test='status != null and status != ""'>
            and status= #{status}
        </if>
		<if test='company != null and company != ""'>
            and company= #{company}
        </if>
        <if test='companyChannel != null and companyChannel != ""'>
            and company_channel= #{companyChannel}
        </if>
        <if test='channel != null and channel != ""'>
            and channel= #{channel}
        </if>
        <if test='channelAccount != null and channelAccount != ""'>
            and channel_account= #{channelAccount}
        </if>
        <if test='orderNum != null and orderNum != ""'>
            and order_num = #{orderNum}
        </if>
        <if test='companyOrderNum != null and companyOrderNum != ""'>
            and company_order_num = #{companyOrderNum}
        </if>
        <if test='timeout != null'>
            and <![CDATA[ timeout < #{timeout} ]]>
        </if>
        <if test='starttime != null and starttime != ""'>
            and <![CDATA[ createtime >= #{starttime} ]]>
		</if>
        <if test='endtime != null and endtime != ""'>
            and <![CDATA[ createtime <= #{endtime} ]]>
        </if>
	</select>
	
	<select id="getListByParams" parameterType="java.util.HashMap" resultType="cn.product.payment.entity.UserRecharge">
		select * from user_recharge where 1=1 
        <if test='status != null and status != ""'>
            and status= #{status}
        </if>
        <if test='company != null and company != ""'>
            and company= #{company}
        </if>
        <if test='companyChannel != null and companyChannel != ""'>
            and company_channel= #{companyChannel}
        </if>
        <if test='channel != null and channel != ""'>
            and channel= #{channel}
        </if>
        <if test='channelAccount != null and channelAccount != ""'>
            and channel_account= #{channelAccount}
        </if>
        <if test='orderNum != null and orderNum != ""'>
            and order_num = #{orderNum}
        </if>
        <if test='companyOrderNum != null and companyOrderNum != ""'>
            and company_order_num = #{companyOrderNum}
        </if>
        <if test='timeout != null'>
            and <![CDATA[ timeout < #{timeout} ]]>
        </if>
        <if test='starttime != null and starttime != ""'>
            and <![CDATA[ createtime >= #{starttime} ]]>
		</if>
        <if test='endtime != null and endtime != ""'>
            and <![CDATA[ createtime <= #{endtime} ]]>
        </if>
        <choose>
	        <when test='sort != null and sort != ""'>
	        	order by ${sort}
	        </when>
	        <otherwise>
	        	order by createtime desc
	        </otherwise>
        </choose>
        <if test="offSet != null and offSet != -1 and pageSize != null and pageSize != -1">
        	limit #{offSet},#{pageSize};
        </if>
	</select>
</mapper>