<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

	<bean id="baseAction" class="com.cmos.chinamobile.media.action.BaseAction" abstract="true">
		<property name="controlService" ref="controlService" />
	</bean>
	
	<bean id="categoryAction" class="com.cmos.chinamobile.media.action.CategoryAction" parent="baseAction" scope="prototype"/>
	<bean id="componentAction" class="com.cmos.chinamobile.media.action.ComponentAction" parent="baseAction" scope="prototype"/>
	<bean id="commodityAction" class="com.cmos.chinamobile.media.action.CommodityAction" parent="baseAction" scope="prototype"/>
	<bean id="provinceAction" class="com.cmos.chinamobile.media.action.ProvinceAction" parent="baseAction" scope="prototype"/>
	<bean id="provinceModuleAction" class="com.cmos.chinamobile.media.action.ProvinceModuleAction" parent="baseAction" scope="prototype"/>
	<bean id="resourceAction" class="com.cmos.chinamobile.media.action.ResourceAction" parent="baseAction" scope="prototype"/>
	<bean id="resource360Action" class="com.cmos.chinamobile.media.action.Resource360Action" parent="baseAction" scope="prototype"/>
	<bean id="resourceApkAction" class="com.cmos.chinamobile.media.action.ResourceApkAction" parent="baseAction" scope="prototype"/>
	<bean id="userAction" class="com.cmos.chinamobile.media.action.UserAction" parent="baseAction" scope="prototype"/>
	<bean id="videoCommodityPointAction" class="com.cmos.chinamobile.media.action.VideoCommodityPointAction" parent="baseAction" scope="prototype"/>
	<bean id="videoIframeAction" class="com.cmos.chinamobile.media.action.VideoIframeAction" parent="baseAction" scope="prototype"/>
	<bean id="videoinfoAction" class="com.cmos.chinamobile.media.action.VideoinfoAction" parent="baseAction" scope="prototype"/>
	<bean id="videoPublishAction" class="com.cmos.chinamobile.media.action.VideoPublishAction" parent="baseAction" scope="prototype"/>
	<bean id="webInterfaceAction" class="com.cmos.chinamobile.media.action.WebInterfaceAction" parent="baseAction" scope="prototype"/>
	<bean id="ssoUserAction" class="com.cmos.chinamobile.media.action.SsoUserAction" parent="baseAction" scope="prototype"/>
	<bean id="leaveMessageAction" class="com.cmos.chinamobile.media.action.LeaveMessageAction" parent="baseAction" scope="prototype"/>
	<bean id="appVersionAction" class="com.cmos.chinamobile.media.action.AppVersionAction" parent="baseAction" scope="prototype"/>
</beans>
