.ms_title {
	font-size: 14px;
	font-weight: bold;
	color: #074373;
	text-align: center;
}
.msfc_title {
	background-image: url(../msfc/images/msfc_15.jpg);
	background-repeat: repeat-x;
	background-position: center;
}
.ms_title_t {
	font-size: 12px;
	font-weight: bold;
	color: #ff6600;
}
.msfc_left_t {
	font-size: 12px;
	font-weight: normal;
	color: #333333;
	line-height: 24px;
}

.list_box {
	background-image: url(../msfc/images/msfc_33.jpg);
	background-repeat: repeat-x;
	margin-bottom: 10px;
	background-position: bottom;
}
.list_box td {
	font-size: 12px;
	color: #333333;
	line-height: 24px;
}
.msfc_name {
	font-size: 12px;
	font-weight: bold;
	color: #CC0000;
	background-image: url(../msfc/images/msfc_24.jpg);
	display: block;
	background-repeat: no-repeat;
	margin: 0px;
	padding: 0px;
	background-position: left 5px;
	text-indent: 20px;
}
.page {
	float: left;
	height: 20px;
	padding-top:10px;
	padding-bottom:10px;
	margin-top:5px;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #d38a00;
	font-size: 12px;
	color: #333333;
}
.page a,.page a:link,.page a:visited{
font-size:12px;
color:#333333;
text-decoration:none;
}
.page a:hover{
font-size:12px;
color:#B91E00;
text-decoration:none;
}
.page .in_text {
	width: 30px;
	height: 20px;
	font-size: 12px;
}
