.body_box{ padding:0 36px;padding-bottom:10px;}
.cd_1-off{
	font-size:14px;
	background-image:url(../xytd/images/biao.jpg);
	text-align:left;
	cursor:pointer;
	float:left;
	color:#0a6cb3;
	letter-spacing:0.2em;
	background-position: left center;
	background-repeat: no-repeat;
	border-bottom-width: 1px;
	border-bottom-style: dashed;
	border-bottom-color: #CCCCCC;
	font-weight: bold;
}
.cd_1-on{
	font-size:14px;
	background-image:url(../xytd/images/biao.jpg);
	text-align:left;
	cursor:pointer;
	float:left;
	color:#333333;
	letter-spacing:0.2em;
	background-position: left center;
	background-repeat: no-repeat;
	border-bottom-width: 1px;
	border-bottom-style: dashed;
	border-bottom-color: #CCCCCC;
	font-weight: bold;
}
.cd_2-off{
	font-size:14px;
	background-image:url(../kctx/images/kctx_07.gif);
	text-align:left;
	cursor:pointer;
	float:left;
	color:#0a6cb3;
	letter-spacing:0.2em;
	background-position: left center;
	background-repeat: no-repeat;
	border-bottom-width: 1px;
	border-bottom-style: dashed;
	border-bottom-color: #CCCCCC;
	font-weight: bold;
}
.cd_2-on{
	font-size:14px;
	background-image:url(../kctx/images/kctx_07.gif);
	text-align:left;
	cursor:pointer;
	float:left;
	color:#333333;
	letter-spacing:0.2em;
	background-position: left center;
	background-repeat: no-repeat;
	border-bottom-width: 1px;
	border-bottom-style: dashed;
	border-bottom-color: #CCCCCC;
	font-weight: bold;
}
.cd_3-off{
	font-size:14px;
	background-image:url(../cjwt/images/cjwt_15.gif);
	text-align:left;
	cursor:pointer;
	float:left;
	color:#0a6cb3;
	letter-spacing:0.2em;
	background-position: left center;
	background-repeat: no-repeat;
	border-bottom-width: 1px;
	border-bottom-style: dashed;
	border-bottom-color: #CCCCCC;
	font-weight: bold;
}
.cd_3-on{
	font-size:14px;
	background-image:url(../cjwt/images/cjwt_15.gif);
	text-align:left;
	cursor:pointer;
	float:left;
	color:#333333;
	letter-spacing:0.2em;
	background-position: left center;
	background-repeat: no-repeat;
	border-bottom-width: 1px;
	border-bottom-style: dashed;
	border-bottom-color: #CCCCCC;
	font-weight: bold;
}
.tit{ font-size:14px; font-weight:bold; color:#FFFFFF}
.con{
	padding:20 40px;
	font-size: 12px;
	line-height: 24px;
	color: #666666;
}
#zcxw_tit{
background-image:url(/web/news/images/zcxwbj_06.jpg);
background-position:center;
background-repeat:no-repeat;
height:31px;
text-align:center;
font-size:14px;
color:#FFFFFF;
letter-spacing:0.2em;
font-weight:bolder;
padding:9px 0px 0px;
}
.boder{
border:solid 1px #9CAA00;
}
.font01{
font-size:12px;
color:#FFFFFF;
font-weight:bolder;
letter-spacing:0.3em;
border-bottom-width: 1px;
	border-bottom-style: dashed;
	border-bottom-color: #9CAA00;
}
.font{
	font-size:12px;
	color:#535353;
	line-height:31px;
	padding:0px 20px;
	border-bottom-width: 1px;
	border-bottom-style: dashed;
	border-bottom-color: #CCCCCC;
}
.font a,.font a:link,.font a:visited{
	font-size:12px;
	color:#535353;
	text-decoration:none;
}
.font a:hover{
	font-size:12px;
	color:#9A0C0C;
	text-decoration:none;
}
.input{
border:solid 1px #CCCCCC;
background-color:#FFFFFF;
width:40px;
height:18px;
}
.font02{
	font-size:12px;
	color:#9A0C0C;
	height:31px;
	padding:0px 20px;
}
.font02 a,.font02 a:link,.font02 a:visited{
	font-size:12px;
	color:#9A0C0C;
	text-decoration:none;
}
.font02 a:hover{
	font-size:12px;
	color:#535353;
	text-decoration:none;
}
.kctx_zi1 {
	font-size: 12px;
	color: #0041A1;
}
.kctx_zi2 {
	font-size: 12px;
	color: #54575B;
	line-height: 24px;
	padding-top:2px;
}
.cjwt_zi1 {
	font-size: 12px;
	line-height: 24px;
	background-image: url(../cjwt/images/cjwt_06.gif);
	background-repeat: repeat-x;
	height: 23px;
	padding-top: 2px;
	background-position: bottom;
}
