.line-title {
  position: relative;
  font-size: 32px;
  font-weight: normal;
  color: #181818;
  padding-left: 13px;
  &::before {
    content: '';
    position: absolute;
    top: 5px;
    bottom: 0;
    left: 0;
    right: 0;
    width: 7px;
    background: #34ADFE;
  }
}