<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.product.worldpay.mapper.StatisticsChannelMapper">
	
	<select id="getCountByParams" parameterType="java.util.HashMap" resultType="int">
		select count(*) from statistics_channel where 1=1 
		<if test='dailyDate != null and dailyDate != ""'>
            and  daily_date = #{dailyDate}
		</if>
        <if test='channel != null and channel != ""'>
            and channel= #{channel}
        </if>
        <if test='channelAccount != null and channelAccount != ""'>
            and channel_account= #{channelAccount}
        </if>
        <if test='type != null and type != ""'>
            and type= #{type}
        </if>
        <if test='starttime != null and starttime != ""'>
            and <![CDATA[ daily_date >= #{starttime} ]]>
		</if>
        <if test='endtime != null and endtime != ""'>
            and <![CDATA[ daily_date <= #{endtime} ]]>
        </if>
	</select>
	
	<select id="getListByParams" parameterType="java.util.HashMap" resultType="com.product.worldpay.entity.StatisticsChannel">
		select * from statistics_channel where 1=1 
		<if test='dailyDate != null and dailyDate != ""'>
            and  daily_date = #{dailyDate}
		</if>
        <if test='channel != null and channel != ""'>
            and channel= #{channel}
        </if>
        <if test='channelAccount != null and channelAccount != ""'>
            and channel_account= #{channelAccount}
        </if>
        <if test='type != null and type != ""'>
            and type= #{type}
        </if>
        <if test='starttime != null and starttime != ""'>
            and <![CDATA[ daily_date >= #{starttime} ]]>
		</if>
        <if test='endtime != null and endtime != ""'>
            and <![CDATA[ daily_date <= #{endtime} ]]>
        </if>
        <choose>
	        <when test='sort != null and sort != ""'>
	        	order by daily_date, ${sort}
	        </when>
	        <otherwise>
	        	order by daily_date desc
	        </otherwise>
        </choose>
        <if test="offSet != null and offSet != -1 and pageSize != null and pageSize != -1">
        	limit #{offSet},#{pageSize};
        </if>
	</select>
	
	<update id="statisticsDaily" parameterType="String">
		INSERT INTO statistics_channel
			SELECT UUID() as uuid , #{dailyDate} as daily_date, channel, channel_account, type, currency, SUM(poundage+amount) as total_amount, SUM(poundage) as poundage, SUM(amount) as amount, NOW() as createtime 
			FROM channel_account_history 
			WHERE createtime <![CDATA[ >=  ]]> CONCAT(#{dailyDate}, ' 00:00:00') and createtime <![CDATA[ <= ]]> CONCAT(#{dailyDate}, ' 23:59:59')
			GROUP BY channel, channel_account
	</update>
</mapper>