/* CSS Document */


.down{
	color:#838383;
	font-size:12px;
	font-family:simsun;
	line-height: 22px;
}
.indexleft{
color:#0765B6;
font-size:12px;
font-family:simsun;
line-height: 22px;
}
table{
font-size:12px;
}

.indextea{
color:#FFFFFF;
font-size:12px;
font-family:simsun;
}
.indextea1{
color:#000;
font-size:12px;
font-family:simsun;
}

.indexcen{
color:#0765B6;
font-size:12px;
font-family:simsun;
}
.twoleftlogo{  color:#0765B6; font-family:simsun; font-size:12px;line-height: 22px;}
.twocentop{color:#9E9E9E; font-family:sinsun; font-size:12px;line-height: 22px;}
.twocencetop{color:#04186D; font-family:sinsun; font-size:12px;}
.twocen1{ color:#377ECF; font-family:sinsun; font-size:12px; }
.twocen{color:#000000; font-family:sinsun;font-size:12px;}
.totop{color: #0A6CB7; font-family:sinsun; font-size:14px; font-weight:bold}
.twoleft{color:#003692; font-family:sinsun; font-size:12px;}


.12texthei {
	font-size: 12px;
	line-height:24px;
	text-indent:24px;
	font-weight: normal;
	color: #000000;
}
.12content {
	font-size: 12px;
	line-height:24px;
	font-weight: normal;
	color: #000000;
}
.14title {
	font-size: 14px;
	line-height:30px;
	font-weight: bold;
	color: #000000;
}
.16title {
	font-size: 16px;
	line-height:30px;
	font-weight: bold;
	color: #fff;
}
a.button {
	color: ButtonText;
	text-decoration: none;
	cursor: pointer;
}
