<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.product.worldmall.mapper.FrontUserRechargeOrderMapper">
	
	<select id="getCountByParams" parameterType="java.util.HashMap" resultType="int">
		select count(*) from front_user_recharge_order where 1=1 
		<if test='frontUser != null and frontUser != ""'>
            and front_user= #{frontUser}
        </if>
        <if test='frontUserShowId != null and frontUserShowId != ""'>
            and front_user_show_id like '%${frontUserShowId}%'
        </if>
        <if test='type != null and type != ""'>
            and type= #{type}
        </if>
		<if test='capitalAccount != null and capitalAccount != ""'>
            and capital_account = #{capitalAccount}
        </if>
        <if test='orderNum != null and orderNum != ""'>
            and order_num like '%${orderNum}%'
        </if>
        <if test='transData != null and transData != ""'>
            and trans_data like '%${transData}%'
        </if>
        <if test='starttime != null and starttime != ""'>
            and <![CDATA[ createtime >= #{starttime} ]]>
		</if>
        <if test='endtime != null and endtime != ""'>
            and <![CDATA[ createtime <= #{endtime} ]]>
        </if>
		<if test='status != null and status != ""'>
            and status= #{status}
        </if>
		<if test='activityId != null and activityId != ""'>
            and activity_id like '%${activityId}%'
        </if>
		<if test='offsetOrder != null and offsetOrder != ""'>
            and offset_order = #{offsetOrder}
        </if>
		<if test='isOffsetOrder != null and isOffsetOrder != ""'>
            and offset_order is null
        </if>
		<if test='days != null'>
            and (to_days(now())-to_days(createtime)) = ${days}
        </if>
	</select>
	
	<select id="getListByParams" parameterType="java.util.HashMap" resultType="cn.product.worldmall.entity.FrontUserRechargeOrder">
		select * from front_user_recharge_order where 1=1 
		<if test='frontUser != null and frontUser != ""'>
            and front_user= #{frontUser}
        </if>
        <if test='frontUserShowId != null and frontUserShowId != ""'>
            and front_user_show_id like '%${frontUserShowId}%'
        </if>
        <if test='type != null and type != ""'>
            and type= #{type}
        </if>
		<if test='capitalAccount != null and capitalAccount != ""'>
            and capital_account = #{capitalAccount}
        </if>
        <if test='orderNum != null and orderNum != ""'>
            and order_num like '%${orderNum}%'
        </if>
        <if test='transData != null and transData != ""'>
            and trans_data like '%${transData}%'
        </if>
        <if test='starttime != null and starttime != ""'>
            and <![CDATA[ createtime >= #{starttime} ]]>
		</if>
        <if test='endtime != null and endtime != ""'>
            and <![CDATA[ createtime <= #{endtime} ]]>
        </if>
		<if test='status != null and status != ""'>
            and status= #{status}
        </if>
		<if test='activityId != null and activityId != ""'>
            and activity_id like '%${activityId}%'
        </if>
		<if test='offsetOrder != null and offsetOrder != ""'>
            and offset_order = #{offsetOrder}
        </if>
		<if test='isOffsetOrder != null and isOffsetOrder != ""'>
            and offset_order is null
        </if>
		<if test='days != null'>
            and (to_days(now())-to_days(createtime)) = ${days}
        </if>
        <choose>
	        <when test='sort != null and sort != ""'>
	        	order by ${sort}
	        </when>
	        <otherwise>
	        	order by createtime desc
	        </otherwise>
        </choose>
        <if test="offSet != null and offSet != -1 and pageSize != null and pageSize != -1">
        	limit #{offSet},#{pageSize};
        </if>
	</select>
	
	<select id="getFirstListByParams" parameterType="java.util.HashMap" resultType="java.util.HashMap">
		select substring(createtime, 1, 10) dailyDate, count(*) count
		from front_user_recharge_order 
		where is_firsttime=1 and status='checked'
		<if test='starttime != null and starttime != ""'>
            and <![CDATA[ createtime >= #{starttime} ]]>
        </if>
		<if test='endtime != null and endtime != ""'>
            and <![CDATA[ createtime <= #{endtime} ]]>
        </if>
        group by substring(createtime, 1, 10)
	</select>
	
	<select id="getAmountByParams" parameterType="java.util.HashMap" resultType="java.math.BigDecimal">
		select sum(amount) from front_user_recharge_order where 1=1   
		<if test='status != null and status != ""'>
            and status= #{status}
        </if>
        <if test='starttime != null and starttime != ""'>
            and <![CDATA[ createtime >= #{starttime} ]]>
		</if>
        <if test='endtime != null and endtime != ""'>
            and <![CDATA[ createtime <= #{endtime} ]]>
        </if>
	</select>
</mapper>