<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.product.worldmall.mapper.FrontDeviceTokenMapper">
	<select id="getCountByParams" parameterType="java.util.HashMap" resultType="int">
		select count(*) from front_device_token where 1=1 
		<if test='frontUser != null and frontUser != ""'>
            and front_user= #{frontUser}
        </if>
		<if test='uniqueToken != null and uniqueToken != ""'>
            and unique_token= #{uniqueToken}
        </if>
		<if test='deviceType != null and deviceType != ""'>
            and device_type= #{deviceType}
        </if>
		<if test='deviceToken != null and deviceToken != ""'>
            and device_token = #{deviceToken}
        </if>
		<if test='unEndpoint != null and unEndpoint != ""'>
            and (<![CDATA[ device_token is not null and device_token <> '' and endpoint_arn is null ]]>)
        </if>
		<if test='unBinding != null and unBinding != ""'>
            and (<![CDATA[ (device_token is null or device_token = '') and endpoint_arn is null ]]>)
        </if>
		<if test='endpointArn != null and endpointArn != ""'>
            and endpoint_arn like '%${endpointArn}%'
        </if>
		<if test='frontUserGroup != null and frontUserGroup != ""'>
            and front_user_group= #{frontUserGroup}
        </if>
		<if test='endpointArn != null and endpointArn != ""'>
            and endpoint_arn= #{endpointArn}
        </if>
        <!-- 创建时间筛选 -->
        <if test='createtimestart != null and createtimeend != null'>
            and (<![CDATA[ createtime > #{createtimestart} and createtime < #{createtimeend} ]]>)
        </if>
        <!-- 更新时间筛选 -->
        <if test='updatetimestart != null and updatetimeend != null'>
            and (<![CDATA[ updatetime > #{updatetimestart} and updatetime < #{updatetimeend} ]]>)
        </if>
		<if test='status != null and status != ""'>
            and (<![CDATA[endpoint_arn <>'' or endpoint_arn is not null ]]>)
        </if>
	</select>
	
	<select id="getListByParams" parameterType="java.util.HashMap" resultType="cn.product.worldmall.entity.FrontDeviceToken">
		select * from front_device_token where 1=1 
		<if test='frontUser != null and frontUser != ""'>
            and front_user= #{frontUser}
        </if>
		<if test='uniqueToken != null and uniqueToken != ""'>
            and unique_token= #{uniqueToken}
        </if>
		<if test='deviceType != null and deviceType != ""'>
            and device_type= #{deviceType}
        </if>
		<if test='deviceToken != null and deviceToken != ""'>
            and device_token = #{deviceToken}
        </if>
		<if test='unEndpoint != null and unEndpoint != ""'>
            and (<![CDATA[ device_token is not null and device_token <> '' and endpoint_arn is null ]]>)
        </if>
		<if test='unBinding != null and unBinding != ""'>
            and (<![CDATA[ (device_token is null or device_token = '') and endpoint_arn is null ]]>)
        </if>
		<if test='endpointArn != null and endpointArn != ""'>
            and endpoint_arn like '%${endpointArn}%'
        </if>
		<if test='frontUserGroup != null and frontUserGroup != ""'>
            and front_user_group= #{frontUserGroup}
        </if>
		<if test='endpointArn != null and endpointArn != ""'>
            and endpoint_arn= #{endpointArn}
        </if>
        <!-- 创建时间筛选 -->
        <if test='createtimestart != null and createtimeend != null'>
            and (<![CDATA[ createtime > #{createtimestart} and createtime < #{createtimeend} ]]>)
        </if>
        <!-- 更新时间筛选 -->
        <if test='updatetimestart != null and updatetimeend != null'>
            and (<![CDATA[ updatetime > #{updatetimestart} and updatetime < #{updatetimeend} ]]>)
        </if>
		<if test='status != null and status != ""'>
            and (<![CDATA[endpoint_arn <>'' or endpoint_arn is not null ]]>)
        </if>
        <choose>
	        <when test='sort != null and sort != ""'>
	        	order by ${sort}
	        </when>
	        <otherwise>
	        	order by createtime desc
	        </otherwise>
        </choose>
        <if test="offSet != null and offSet != -1 and pageSize != null and pageSize != -1">
        	limit #{offSet},#{pageSize};
        </if>
	</select>
	
	<select id="getLeftCountByParams" parameterType="java.util.HashMap" resultType="int">
		select count(*) from front_device_token fdt left join front_user fu on fdt.front_user=fu.uuid left join front_user_account fua on fu.uuid=fua.front_user  where 1=1 
		<if test='frontUser != null and frontUser != ""'>
            and fdt.front_user= #{frontUser}
        </if>
		<if test='uniqueToken != null and uniqueToken != ""'>
            and fdt.unique_token= #{uniqueToken}
        </if>
		<if test='deviceType != null and deviceType != ""'>
            and fdt.device_type= #{deviceType}
        </if>
		<if test='deviceToken != null and deviceToken != ""'>
            and fdt.device_token like '%${deviceToken}%'
        </if>
		<if test='endpointArn != null and endpointArn != ""'>
            and fdt.endpoint_arn like '%${endpointArn}%'
        </if>
		<if test='frontUserGroup != null and frontUserGroup != ""'>
            and fdt.front_user_group= #{frontUserGroup}
        </if>
		<if test='endpointArn != null and endpointArn != ""'>
            and fdt.endpoint_arn= #{endpointArn}
        </if>
        <!-- 创建时间筛选 -->
        <if test='createtimestart != null and createtimeend != null'>
            and (<![CDATA[ fdt.createtime >= #{createtimestart} and fdt.createtime <= #{createtimeend} ]]>)
        </if>
        <!-- 更新时间筛选 -->
        <if test='updatetimestart != null and updatetimeend != null'>
            and (<![CDATA[ fdt.updatetime >= #{updatetimestart} and fdt.updatetime <= #{updatetimeend} ]]>)
        </if>
		<if test='country != null and country != ""'>
            and fdt.country= #{country}
        </if>
		<if test='ip != null and ip != ""'>
            and fdt.ip like '%${ip}%'
        </if>
		<if test='topic != null and topic != ""'>
            and fdt.topic like '%${topic}%'
        </if>
        <!-- 注册时间筛选 -->
        <if test='timestart != null and timeend != null'>
            and (<![CDATA[ fu.createtime > #{timestart} and fu.createtime < #{timeend} ]]>)
        </if>
        <!-- 最后登录时间筛选 -->
        <if test='lastonlinestart != null and lastonlineend != null'>
            and (<![CDATA[ fu.lastonline > #{timestart} and fu.lastonline < #{timeend} ]]>)
        </if>
        <!-- 充值金额筛选 -->
        <if test='rechargemin != null and rechargemax != null'>
            and (<![CDATA[ fua.total_recharge >= #{rechargemin} and fua.total_recharge <= #{rechargemax} ]]>)
        </if>
        <!-- 中奖金额筛选 -->
        <if test='winningmin != null and winningmax != null'>
            and (<![CDATA[ fua.total_winning >= #{winningmin} and fua.total_winning <= #{winningmax} ]]>)
        </if>
        <!-- 提现金额筛选 -->
        <if test='withdrawmin != null and withdrawmax != null'>
            and (<![CDATA[ fua.total_withdraw >= #{withdrawmin} and fua.total_withdraw <= #{withdrawmax} ]]>)
        </if> 
	</select>
	
	<select id="getLeftListByParams" parameterType="java.util.HashMap" resultType="cn.product.worldmall.entity.FrontDeviceToken">
		select fdt.* from front_device_token fdt left join front_user fu on fdt.front_user=fu.uuid left join front_user_account fua on fu.uuid=fua.front_user  where 1=1 
		<if test='frontUser != null and frontUser != ""'>
            and fdt.front_user= #{frontUser}
        </if>
		<if test='uniqueToken != null and uniqueToken != ""'>
            and fdt.unique_token= #{uniqueToken}
        </if>
		<if test='deviceType != null and deviceType != ""'>
            and fdt.device_type= #{deviceType}
        </if>
		<if test='deviceToken != null and deviceToken != ""'>
            and fdt.device_token like '%${deviceToken}%'
        </if>
		<if test='endpointArn != null and endpointArn != ""'>
            and fdt.endpoint_arn like '%${endpointArn}%'
        </if>
		<if test='frontUserGroup != null and frontUserGroup != ""'>
            and fdt.front_user_group= #{frontUserGroup}
        </if>
		<if test='endpointArn != null and endpointArn != ""'>
            and fdt.endpoint_arn= #{endpointArn}
        </if>
        <!-- 创建时间筛选 -->
        <if test='createtimestart != null and createtimeend != null'>
            and (<![CDATA[ fdt.createtime >= #{createtimestart} and fdt.createtime <= #{createtimeend} ]]>)
        </if>
        <!-- 更新时间筛选 -->
        <if test='updatetimestart != null and updatetimeend != null'>
            and (<![CDATA[ fdt.updatetime >= #{updatetimestart} and fdt.updatetime <= #{updatetimeend} ]]>)
        </if>
		<if test='country != null and country != ""'>
            and fdt.country= #{country}
        </if>
		<if test='ip != null and ip != ""'>
            and fdt.ip like '%${ip}%'
        </if>
		<if test='topic != null and topic != ""'>
            and fdt.topic like '%${topic}%'
        </if>
        <!-- 注册时间筛选 -->
        <if test='timestart != null and timeend != null'>
            and (<![CDATA[ fu.createtime > #{timestart} and fu.createtime < #{timeend} ]]>)
        </if>
        <!-- 最后登录时间筛选 -->
        <if test='lastonlinestart != null and lastonlineend != null'>
            and (<![CDATA[ fu.lastonline > #{timestart} and fu.lastonline < #{timeend} ]]>)
        </if>
        <!-- 充值金额筛选 -->
        <if test='rechargemin != null and rechargemax != null'>
            and (<![CDATA[ fua.total_recharge >= #{rechargemin} and fua.total_recharge <= #{rechargemax} ]]>)
        </if>
        <!-- 中奖金额筛选 -->
        <if test='winningmin != null and winningmax != null'>
            and (<![CDATA[ fua.total_winning >= #{winningmin} and fua.total_winning <= #{winningmax} ]]>)
        </if>
        <!-- 提现金额筛选 -->
        <if test='withdrawmin != null and withdrawmax != null'>
            and (<![CDATA[ fua.total_withdraw >= #{withdrawmin} and fua.total_withdraw <= #{withdrawmax} ]]>)
        </if> 
        <choose>
	        <when test='sort != null and sort != ""'>
	        	order by fdt.${sort}
	        </when>
	        <otherwise>
	        	order by fdt.createtime desc
	        </otherwise>
        </choose>
        <if test="offSet != null and offSet != -1 and pageSize != null and pageSize != -1">
        	limit #{offSet},#{pageSize};
        </if>
	</select>
	
	<select id="getFrontUserGroupDfList" resultType="cn.product.worldmall.entity.FrontDeviceToken">
		select fdt.* from front_device_token fdt LEFT JOIN front_user fu on fdt.front_user=fu.uuid where 1=1 
		and fdt.front_user is not null 
		and <![CDATA[ fdt.front_user_group <> fu.level ]]>;
	</select>
</mapper>