<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.product.worldmall.mapper.FrontUserMessageMapper">
	
	<select id="getCountByParams" parameterType="java.util.HashMap" resultType="int">
		select count(*) from front_user_message where 1=1 
		<if test='uuid != null and uuid != ""'>
            and uuid != #{uuid}
        </if>
		<if test='frontUser != null and frontUser != ""'>
            and front_user = #{frontUser}
        </if>     
		<if test='frontUserShowId != null and frontUserShowId != ""'>
            and front_user_show_id = #{frontUserShowId}
        </if>    
		<if test='sourceId != null and sourceId != ""'>
            and source_id = #{sourceId}
        </if>         
		<if test='name != null and name != ""'>
            and content like '%${name}%'
        </if>
        <choose>
	        <when test='status != null and status != ""'>
	        	and status = #{status}
	        </when>
	        <otherwise>
	        	and status in ('normal','read')
	        </otherwise>
        </choose>
	</select>
	
	<select id="getListByParams" parameterType="java.util.HashMap" resultType="cn.product.worldmall.entity.FrontUserMessage">
		select * from front_user_message where 1=1 
		<if test='uuid != null and uuid != ""'>
            and uuid != #{uuid}
        </if>
		<if test='frontUser != null and frontUser != ""'>
            and front_user = #{frontUser}
        </if>     
		<if test='frontUserShowId != null and frontUserShowId != ""'>
            and front_user_show_id = #{frontUserShowId}
        </if>    
		<if test='sourceId != null and sourceId != ""'>
            and source_id = #{sourceId}
        </if>         
		<if test='name != null and name != ""'>
            and content like '%${name}%'
        </if>
        <choose>
	        <when test='status != null and status != ""'>
	        	and status = #{status}
	        </when>
	        <otherwise>
	        	and status in ('normal','read')
	        </otherwise>
        </choose>
        <choose>
	        <when test='sort != null and sort != ""'>
	        	order by ${sort}
	        </when>
	        <otherwise>
	        	order by createtime desc
	        </otherwise>
        </choose>
        <if test="offSet != null and offSet != -1 and pageSize != null and pageSize != -1">
        	limit #{offSet},#{pageSize};
        </if>
	</select>
</mapper>