<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.product.worldmall.mapper.InternationalInfoVersionMapper">
	<select id="getCountByParams" parameterType="java.util.HashMap" resultType="int">
		select count(*) from international_info_version where 1=1 
        <if test='version != null and version != ""'>
            and version= #{version}
        </if>
        <if test='internationalInfo != null and internationalInfo != ""'>
            and international_info= #{internationalInfo}
        </if>
        <if test='channel != null and channel != ""'>
            and channel= #{channel}
        </if>
         <if test='versionName != null and versionName != ""'>
            and version_name= #{versionName}
        </if> 
   		<if test='code != null and code != ""'>
            and code= #{code}
        </if>
        <choose>
	        <when test='status != null and status != ""'>
	        	and status = #{status}
	        </when>
	        <otherwise>
	        	and status in ('normal','disable')
	        </otherwise>
        </choose>
	</select>
	
	<select id="getListByParams" parameterType="java.util.HashMap" resultType="cn.product.worldmall.entity.InternationalInfoVersion">
		select * from international_info_version where 1=1 
        <if test='version != null and version != ""'>
            and version= #{version}
        </if>
        <if test='internationalInfo != null and internationalInfo != ""'>
            and international_info= #{internationalInfo}
        </if>
        <if test='channel != null and channel != ""'>
            and channel= #{channel}
        </if>
         <if test='versionName != null and versionName != ""'>
            and version_name= #{versionName}
        </if> 
   		<if test='code != null and code != ""'>
            and code= #{code}
        </if>
        <choose>
	        <when test='status != null and status != ""'>
	        	and status = #{status}
	        </when>
	        <otherwise>
	        	and status in ('normal','disable')
	        </otherwise>
        </choose>
        <choose>
	        <when test='sort != null and sort != ""'>
	        	order by ${sort}
	        </when>
	        <otherwise>
	        	order by createtime desc
	        </otherwise>
        </choose>
        <if test="offSet != null and offSet != -1 and pageSize != null and pageSize != -1">
        	limit #{offSet},#{pageSize};
        </if>
	</select>
</mapper>