<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.product.worldmall.mapper.InternationalInfoMapper">
	<select id="getCountByParams" parameterType="java.util.HashMap" resultType="int">
		select count(*) from international_info where 1=1 
		<if test='level != null and level != ""'>
            and level= #{level}
        </if>
		<if test='parent != null and parent != ""'>
            and parent= #{parent}
        </if>
		<if test='pid != null and pid != ""'>
            and pid= #{pid}
        </if>
   		<if test='code != null and code != ""'>
            and code= #{code}
        </if>
   		<if test='telCode != null and telCode != ""'>
            and tel_code= #{telCode}
        </if>
        <choose>
	        <when test='status != null and status != ""'>
	        	and status = #{status}
	        </when>
	        <otherwise>
	        	and status in ('normal','disable')
	        </otherwise>
        </choose>
	</select>
	
	<select id="getListByParams" parameterType="java.util.HashMap" resultType="cn.product.worldmall.entity.InternationalInfo">
		select * from international_info where 1=1 
		<if test='level != null and level != ""'>
            and level= #{level}
        </if>
		<if test='parent != null and parent != ""'>
            and parent= #{parent}
        </if>
		<if test='pid != null and pid != ""'>
            and pid= #{pid}
        </if>
   		<if test='code != null and code != ""'>
            and code= #{code}
        </if>
   		<if test='telCode != null and telCode != ""'>
            and tel_code= #{telCode}
        </if>
        <choose>
	        <when test='status != null and status != ""'>
	        	and status = #{status}
	        </when>
	        <otherwise>
	        	and status in ('normal','disable')
	        </otherwise>
        </choose>
        <choose>
	        <when test='sort != null and sort != ""'>
	        	order by ${sort}
	        </when>
	        <otherwise>
	        	order by name_en asc
	        </otherwise>
        </choose>
        <if test="offSet != null and offSet != -1 and pageSize != null and pageSize != -1">
        	limit #{offSet},#{pageSize};
        </if>
	</select>
</mapper>