<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.product.worldmall.mapper.MethodMapper">
	<select id="getCountByParams" parameterType="java.util.HashMap" resultType="int">
      	select count(*) from method
		<if test='level != null and level != ""'>
            and level= #{level}
        </if>
        <if test='parent != null and parent != ""'>
            and parent= #{parent}
        </if>
	</select>
	
	<select id="getListByParams" parameterType="java.util.HashMap" resultType="cn.product.worldmall.entity.Method">
      	select * from method
		<if test='level != null and level != ""'>
            and level= #{level}
        </if>
        <if test='parent != null and parent != ""'>
            and parent= #{parent}
        </if>
		<choose>
	        <when test='sort != null and sort != ""'>
	        	order by ${sort}
	        </when>
	        <otherwise>
	        	order by sort
	        </otherwise>
        </choose>
        <if test="offSet != null and offSet != -1 and pageSize != null and pageSize != -1">
        	limit #{offSet},#{pageSize};
        </if>
	</select>
</mapper>