<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.product.worldmall.mapper.NoticeTopicMapper">
	<select id="getCountByParams" parameterType="java.util.HashMap" resultType="int">
		select count(*) from notice_topic where 1=1 
		<if test='type != null and type != ""'>
            and type= #{type}
        </if>
		<if test='topicArn != null and topicArn != ""'>
            and topic_arn= #{topicArn}
        </if>
		<if test='displayName != null and displayName != ""'>
            and display_name like '%${displayName}%'
        </if>
        <choose>
	        <when test='status != null and status != ""'>
	        	and status = #{status}
	        </when>
	        <otherwise>
	        	and status in ('normal','disable')
	        </otherwise>
        </choose>
   		<!-- 时间筛选 -->
        <if test='timestart != null and timeend != null'>
            and (<![CDATA[ createtime > #{timestart} and createtime < #{timeend} ]]>)
        </if> 
	</select>
	
	<select id="getListByParams" parameterType="java.util.HashMap" resultType="cn.product.worldmall.entity.NoticeTopic">
		select * from notice_topic where 1=1 
		<if test='type != null and type != ""'>
            and type= #{type}
        </if>
		<if test='topicArn != null and topicArn != ""'>
            and topic_arn= #{topicArn}
        </if>
		<if test='displayName != null and displayName != ""'>
            and display_name like '%${displayName}%'
        </if>
        <choose>
	        <when test='status != null and status != ""'>
	        	and status = #{status}
	        </when>
	        <otherwise>
	        	and status in ('normal','disable')
	        </otherwise>
        </choose>
   		<!-- 时间筛选 -->
        <if test='timestart != null and timeend != null'>
            and (<![CDATA[ createtime > #{timestart} and createtime < #{timeend} ]]>)
        </if>       
        <choose>
	        <when test='sort != null and sort != ""'>
	        	order by ${sort}
	        </when>
	        <otherwise>
	        	order by createtime desc
	        </otherwise>
        </choose>
        <if test="offSet != null and offSet != -1 and pageSize != null and pageSize != -1">
        	limit #{offSet},#{pageSize};
        </if>
	</select>
</mapper>