<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.product.worldmall.mapper.StatisticsFinanceDailyMapper">
	
	<select id="getCountByParams" parameterType="java.util.HashMap" resultType="int">
		select count(*) from statistics_finance_daily where 1=1
		<if test='starttime != null and starttime != ""'>
            and <![CDATA[ daily_date >= #{starttime} ]]>
        </if>
		<if test='endtime != null and endtime != ""'>
            and <![CDATA[ daily_date <= #{endtime} ]]>
        </if>
	</select>
	
	<select id="getListByParams" parameterType="java.util.HashMap" resultType="cn.product.worldmall.entity.StatisticsFinanceDaily">
		select * from statistics_finance_daily where 1=1 
		<if test='starttime != null and starttime != ""'>
            and <![CDATA[ daily_date >= #{starttime} ]]>
        </if>
		<if test='endtime != null and endtime != ""'>
            and <![CDATA[ daily_date <= #{endtime} ]]>
        </if>
        <if test="offSet != null and offSet != -1 and pageSize != null and pageSize != -1">
        	limit #{offSet},#{pageSize};
        </if>
        order by daily_date asc
	</select>
</mapper>