<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.product.worldmall.mapper.SystemParamMapper">
	
	<select id="getCountByParams" parameterType="java.util.HashMap" resultType="int">
		select count(*) from system_param where 1=1
		<if test='description != null and description != ""'>
            and description like '%${description}%'
        </if>
		<if test='partitional != null and partitional != ""'>
            and partitional= #{partitional}
        </if>
		<if test='type != null and type != ""'>
            and type= #{type}
        </if>
	</select>
	
	<select id="getListByParams" parameterType="java.util.HashMap" resultType="cn.product.worldmall.entity.SystemParam">
		select * from system_param where 1=1
		<if test='description != null and description != ""'>
            and description like '%${description}%'
        </if>
		<if test='partitional != null and partitional != ""'>
            and partitional= #{partitional}
        </if>
		<if test='type != null and type != ""'>
            and type= #{type}
        </if>
        <choose>
	        <when test='sort != null and sort != ""'>
	        	order by ${sort}
	        </when>
	        <otherwise>
	        	order by createtime
	        </otherwise>
        </choose>
        <if test="offSet != null and offSet != -1 and pageSize != null and pageSize != -1">
        	limit #{offSet},#{pageSize};
        </if>
	</select>
</mapper>