<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN 2.0//EN" "http://www.springframework.org/dtd/spring-beans-2.0.dtd">

<beans>

	<!-- 基本Service -->
	<bean id="areaService" class="cn.zeppin.service.imp.AreaService">
		<property name="areaDAO" ref="areaDAO" />
	</bean>
	
	<bean id="categoryService" class="cn.zeppin.service.imp.CategoryService">
		<property name="categoryDAO" ref="categoryDAO"></property>
		<property name="categoryRetrieveDAO" ref="categoryRetrieveDAO"></property>
	</bean>
	
	<bean id="businessService" class="cn.zeppin.service.imp.BusinessService">
		<property name="businessDAO" ref="businessDAO"></property>
	</bean>
	
	<bean id="businessCategoryService" class="cn.zeppin.service.imp.BusinessCategoryService">
		<property name="businessCategoryDAO" ref="businessCategoryDAO"></property>
	</bean>
	
	<bean id="categoryRetrieveService" class="cn.zeppin.service.imp.CategoryRetrieveService">
		<property name="categoryRetrieveDAO" ref="categoryRetrieveDAO"></property>
	</bean>
	
	<bean id="gradeService" class="cn.zeppin.service.imp.GradeService">
		<property name="gradeDAO" ref="gradeDAO" />
	</bean>

	<bean id="knowledgeService" class="cn.zeppin.service.imp.KnowledgeService">
		<property name="knowledgeDAO" ref="knowledgeDAO"></property>
		
	</bean>
	
	<bean id="organizationService" class="cn.zeppin.service.imp.OrganizationService">
		<property name="organizationDAO" ref="organizationDAO"></property>
	</bean>
	
	<bean id="resourceService" class="cn.zeppin.service.imp.ResourceService">
		<property name="iResourceDAO" ref="resourceDAO"></property>
	</bean>
	
	<bean id="roleFuncationService" class="cn.zeppin.service.imp.RoleFunctionService">
		<property name="roleFunctionDAO" ref="roleFuncationDAO"></property>
	</bean>
	
	<bean id="subjectService" class="cn.zeppin.service.imp.SubjectService">
		<property name="subjectDAO" ref="subjectDAO"></property>
	</bean>
	
	<bean id="subjectItemTypeService" class="cn.zeppin.service.imp.SubjectItemTypeService">
		<property name="subjectItemTypeDAO" ref="subjectItemTypeDAO"></property>
		<property name="taskJobDAO" ref="taskJobDAO"></property>
		<property name="itemDAO" ref="itemDAO"></property>
	</bean>
	
	<bean id="paperService" class="cn.zeppin.service.imp.PaperService">
		<property name="paperDAO" ref="paperDAO"></property>
		<property name="testPaperSectionDAO" ref="testPaperSectionDAO"></property>
	</bean>
	
	<bean id="testPaperSectionService" class="cn.zeppin.service.imp.TestPaperSectionService">
		<property name="testPaperSectionDAO" ref="testPaperSectionDAO"></property>
	</bean>
	
	<bean id="testPaperItemService" class="cn.zeppin.service.imp.TestPaperItemService">
		<property name="testPaperItemDAO" ref="testPaperItemDAO"></property>
	</bean>
	
	<bean id="itemService" class="cn.zeppin.service.imp.ItemService">
		<property name="itemDAO" ref="itemDAO"></property>
		<property name="itemAnswerDAO" ref="itemAnswerDAO"></property>
	</bean>
	
	<bean id="itemTypeService" class="cn.zeppin.service.imp.ItemTypeService">
		<property name="itemTypeDAO" ref="itemTypeDAO"></property>
		<property name="subjectItemTypeDAO" ref="subjectItemTypeDAO"></property>
	</bean>
	
	<bean id="retrieveService" class="cn.zeppin.service.imp.RetrieveService">
		<property name="retrieveDAO" ref="retrieveDAO"></property>
	</bean>
	
	<bean id="retrieveTypeService" class="cn.zeppin.service.imp.RetrieveTypeService">
		<property name="retrieveTypeDAO" ref="retrieveTypeDAO"></property>
	</bean>
	
	<bean id="advertService" class="cn.zeppin.service.imp.AdvertService">
		<property name="advertDAO" ref="advertDAO"></property>
	</bean>
	
	<bean id="sysUserService" class="cn.zeppin.service.imp.SysUserService">
		<property name="sysUserDAO" ref="sysUserDAO" />
		<property name="sysUserGradeDAO" ref="sysUserGradeDAO" />
		<property name="sysUserSubjectDAO" ref="sysUserSubjectDAO" />
	</bean>

	<bean id="sysUserSubjectService" class="cn.zeppin.service.imp.SysUserSubjectService">
		<property name="sysUserSubjectDAO" ref="sysUserSubjectDAO" />
	</bean>

	<bean id="sysUserGradeService" class="cn.zeppin.service.imp.SysUserGradeService">
		<property name="sysUserGradeDAO" ref="sysUserGradeDAO" />
	</bean>
	
	<bean id="subjectCountDownService" class="cn.zeppin.service.imp.SubjectCountDownService">
		<property name="subjectCountDownDAO" ref="subjectCountDownDAO" />
	</bean>
	
	<bean id="subjectRetrieveService" class="cn.zeppin.service.imp.SubjectRetrieveService">
		<property name="subjectRetrieveDAO" ref="subjectRetrieveDAO" />
	</bean>
	
	<bean id="informationService" class="cn.zeppin.service.imp.InformationService">
		<property name="informationDAO" ref="informationDAO"></property>
	</bean>
	
	
	<!-- 前端 -->
	<bean id="authService" class="cn.zeppin.service.imp.AuthService">
		<property name="authDAO" ref="authDAO" />
	</bean>
	
	<bean id="versionService" class="cn.zeppin.service.imp.VersionService">
		<property name="versionDAO" ref="versionDAO" />
	</bean>
	
	<bean id="ssoUserService" class="cn.zeppin.service.imp.SsoUserService" >
		<property name="ssoUserDAO" ref="ssoUserDAO" />
	</bean>
	
	<bean id="userSubjectService" class="cn.zeppin.service.imp.UserSubjectService">
		<property name="userSubjectDAO" ref="userSubjectDAO" />
		<property name="subjectCountDownDAO" ref="subjectCountDownDAO" />
		<property name="subjectDAO" ref="subjectDAO" />
		<property name="subjectItemTypeDAO" ref="subjectItemTypeDAO" />
	</bean>
	
	
	<bean id="ssoUserTestService" class="cn.zeppin.service.imp.SsoUserTestService">
		<property name="ssoUserTestDAO" ref="ssoUserTestDAO"></property>
		<property name="paperDAO" ref="paperDAO"></property>
		<property name="itemAnswerDAO" ref="itemAnswerDAO"></property>
		<property name="testPaperItemDAO" ref="testPaperItemDAO"></property>
		<property name="testPaperSectionDAO" ref="testPaperSectionDAO"></property>
		<property name="ssoUserTestItemDAO" ref="ssoUserTestItemDAO"></property>
		<property name="knowledgeDAO" ref="knowledgeDAO"></property>
		<property name="userKnowledgeDAO" ref="userKnowledgeDAO"></property>
		<property name="ssoUserTestItemCountDAO" ref="ssoUserTestItemCountDAO"></property>
	</bean>
	
	<bean id="ssoUserTestItemService" class="cn.zeppin.service.imp.SsoUserTestItemService">
		<property name="ssoUserTestItemDAO" ref="ssoUserTestItemDAO"></property>
	</bean>
	
	<bean id="userWrongBookService" class="cn.zeppin.service.imp.UserWrongBookService">
		<property name="ssoUserTestDAO" ref="ssoUserTestDAO"></property>
		<property name="ssoUserTestItemDAO" ref="ssoUserTestItemDAO"></property>
		<property name="ssoUserTestItemCountDAO" ref="ssoUserTestItemCountDAO"></property>
		<property name="itemDAO" ref="itemDAO"></property>
	</bean>
	
	<bean id="ssoUserTestItemCountService" class="cn.zeppin.service.imp.SsoUserTestItemCountService">
		<property name="ssoUserTestItemCountDAO" ref="ssoUserTestItemCountDAO"></property>
	</bean>
	
	<bean id="ssoKnowledgeDegreeService" class="cn.zeppin.service.imp.SsoKnowledgeDegreeService">
		<property name="ssoKnowledgeDegreeDAO" ref="ssoKnowledgeDegreeDAO" />
	</bean>
	
	<bean id="taskService" class="cn.zeppin.service.imp.TaskService">
		<property name="taskDAO" ref="taskDAO"></property>
	</bean>
	
	<bean id="ssoTaskService" class="cn.zeppin.service.imp.SsoTaskService">
		<property name="ssoTaskDAO" ref="ssoTaskDAO"></property>
	</bean>
		
</beans>