<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.product.payment.mapper.CompanyAdminMapper">
	<select id="getCountByParams" parameterType="java.util.HashMap" resultType="int">
		select count(*) from company_admin where 1=1 
		<if test='company != null and company != ""'>
            and company= #{company}
        </if>
        <if test='mobile != null and mobile != ""'>
            and mobile= #{mobile}
        </if>
		<if test='username != null and username != ""'>
            and username= #{username}
        </if>
		<choose>
	        <when test='status != null and status != ""'>
	        	and status = #{status}
	        </when>
	        <otherwise>
	        	and status in ('normal','disable')
	        </otherwise>
        </choose>
	</select>
	
	<select id="getListByParams" parameterType="java.util.HashMap" resultType="cn.product.payment.entity.CompanyAdmin">
		select * from company_admin where 1=1 
		<if test='company != null and company != ""'>
            and company= #{company}
        </if>
        <if test='mobile != null and mobile != ""'>
            and mobile= #{mobile}
        </if>
		<if test='username != null and username != ""'>
            and username= #{username}
        </if>
        <choose>
	        <when test='status != null and status != ""'>
	        	and status = #{status}
	        </when>
	        <otherwise>
	        	and status in ('normal','disable')
	        </otherwise>
        </choose>
        <choose>
	        <when test='sort != null and sort != ""'>
	        	order by ${sort}
	        </when>
	        <otherwise>
	        	order by createtime
	        </otherwise>
        </choose>
        <if test="offSet != null and offSet != -1 and pageSize != null and pageSize != -1">
        	limit #{offSet},#{pageSize};
        </if>
	</select>
</mapper>